{% load i18n %}
{% load l10n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

<div class="estate overflow-hidden estate_main">
    <div class="container margin-center">
      <div class="section__title font-tenor text-c3 p-animate p-animate__up p-animate__splitt">{% trans 'Best premium real estate in Dubai' %}<!--Лучшая премиум недвижимость Дубая--></div>
      <div class="estate__items flex flex-col">
        <div class="estate__item relative w-full">
          <div class="estate__item-title p-animate p-animate__left">{% trans 'for Rent' %}<!--для Аренды--></div>

          {% include 'includes/rent/rent_ribbon.html' with go_to_rent_catalogue=True %}

        </div>
        <div class="estate__item relative w-full">
          <div class="estate__item-title p-animate p-animate__left">{% trans 'for Purchase' %}<!--для Покупки--></div>

          {% include 'includes/buy/buy_ribbon.html' with go_to_purchase_catalogue=True %}

        </div>
      </div>
    </div>
</div>