{% load i18n %}
{% load l10n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

<div class="estate overflow-hidden">
    <div class="container margin-center">
      <div class="section__title font-tenor text-c3 p-animate p-animate__up p-animate__splitt">{% trans 'Best premium real estate in Dubai' %}<!--Лучшая премиум недвижимость Дубая--></div>
      <div class="estate__items flex flex-col">
        <div class="estate__item relative w-full">
          <div class="estate__item-title p-animate p-animate__left">{% trans 'for Rent' %}<!--для Аренды--></div>
          <div class="estate__swiper relative">
            <div class="swiper">
              <div class="swiper-wrapper">
                {% if rent_listings %}
                  {% for listing in rent_listings %}
                    {% include 'includes/rent_card/index_page_rent_card_swiper.html' %}
                  {% endfor %}
                {% else %}
                  <div class="col-md-12">
                    <p>{% trans 'No Offers Available' %}</p>
                  </div>
                {% endif %}
                <div class="swiper-slide"><a class="p-card w-full h-full text-center text-c2 bg-c3 p-card__abs flex flex-ai-center flex-j-center" href="{% url 'arenda' %}">
                    <div class="p-card__abs-link margin-center">{% trans 'Go to Rent catalogue' %}<!--Перейти в каталог Аренды--></div></a></div>
              </div>
            </div>
            <div class="main_swiper-arrows flex absolute">
              <div class="swiper-button swiper-button-prev flex flex-ai-center flex-j-center">
                <picture>
                  <source type="image/webp" srcset="" data-srcset="/img/main/estate/arrow-left.webp"/><img class="lazy " width="18" height="18" src="" data-src="/img/main/estate/arrow-left.png" alt="" loading="lazy"/>
                </picture>
              </div>
              <div class="swiper-button swiper-button-next flex flex-ai-center flex-j-center">
                <picture>
                  <source type="image/webp" srcset="" data-srcset="/img/main/estate/arrow-right.webp"/><img class="lazy " width="18" height="18" src="" data-src="/img/main/estate/arrow-right.png" alt="" loading="lazy"/>
                </picture>
              </div>
            </div>
          </div>
        </div>
        <div class="estate__item relative w-full">
          <div class="estate__item-title p-animate p-animate__left">{% trans 'for Purchase' %}<!--для Покупки--></div>

          {% include 'includes/buy/buy_ribbon.html' with go_to_purchase_catalogue=True %}

        </div>
      </div>
    </div>
</div>