{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
<div class="blog__item">
    <div class="blog__item-img img_cover img_br">
      <picture>
        <source type="image/webp" srcset="" data-srcset="{{ blog_article.photo.url }}"/>
          <img class="lazy " width="343" height="324" src="" data-src="{{ blog_article.photo.url }}" alt="" loading="lazy"/>
      </picture>
    </div>
    <div class="blog__item-title">{% get_attr 'blog_article' 'title_'|add:LANGUAGE_CODE %}</div>
    <a class="blog__item-link text-c5 text-underline text-500" href="{% url 'article' blog_article.slug %}">{% trans 'Read' %}</a>
</div>