{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="container margin-center">
  <div class="catalog-cons__item relative">
    <div class="catalog-cons__img-left absolute bottom-0 left-0 p-img">
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/catalogs/cons/left.webp"/><img class="lazy " width="991" height="653" src="" data-src="/img/catalogs/cons/left.png" alt="" loading="lazy"/>
      </picture>
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/catalogs/cons/left_mb.webp"/><img class="lazy " width="332" height="309" src="" data-src="/img/catalogs/cons/left_mb.png" alt="" loading="lazy"/>
      </picture>
    </div>
    <form class="relative" method="post" id="post-form-building-4">
      {% csrf_token %}
      {% if user.is_authenticated %}
        <input type="hidden" name="user_id" value="{{ user.id }}">
      {% else %}
        <input type="hidden" name="user_id" value="0">
      {% endif %}
      {% trans 'Get advice on Developers and best projects' as form_title %}
      <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}">
      <input type="hidden" name="listing_id" value="{{ listing.id|unlocalize }}">
      <input type="hidden" name="listing" value="{{ listing.title_a_en }}">
      <input type="hidden" name="message" value="Request from: {{ form_title }}">
      <input type="hidden" name="email" placeholder="{% trans 'Email' %}" {% if user.is_authenticated %} value="{{ user.email }}" {% else %} value="None"{% endif %} required="required"/>

      <div class="catalog-cons__text relative">
        <div class="catalog-cons__title">{{ form_title }}}<!--Получите консультацию по Застройщикам и лучшим проектам--></div>
        <div class="catalog-cons__subtitle">{% trans 'Leave your details and' %}<!--Оставьте свои данные и-->&nbsp;<span class="text-c5">{% trans 'we will answer to all your questions' %}<!--мы&nbsp;ответим на все вопросы--></span></div>
        <div class="catalog-cons__inputs flex">
          <div class="form__input">
            <input type="text" name="name" placeholder="{% trans 'Your name' %}" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required="required"/>
          </div>
          <div class="form__input">
            <input type="tel" name="phone" placeholder="+9 999 999 99 99" required="required"/>
          </div>
          <div class="form__input">
            <div class="p-select relative">
              <div class="p-select__current flex flex-ai-center flex-j-between">
                <input type="hidden" name="feedback_method" value="{% trans 'Call me' %}"/>
                <div class="p-select__current-item">{% trans 'Call me' %}</div>
                <div class="p-select__current-arrow">
                  <picture>
                    <source type="image/webp" srcset="" data-srcset="/img/main/get/arrow.webp"/><img class="lazy " width="17" height="17" src="" data-src="/img/main/get/arrow.png" alt="" loading="lazy"/>
                  </picture>
                </div>
              </div>
              <div class="p-select__abs absolute flex flex-col">
                <div class="p-select__abs-item active" data-value="{% trans 'Call me' %}">{% trans 'Call me' %}</div>
                <div class="p-select__abs-item" data-value="{% trans 'Write me' %}">{% trans 'Write me' %}</div>
                <div class="p-select__abs-item" data-value="{% trans 'Write later' %}">{% trans 'Write later' %}</div>
                <div class="p-select__abs-item" data-value="{% trans 'Call later' %}">{% trans 'Call later' %}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="get__item-end">
          <button class="p-btn flex flex-ai-center flex-j-center text-500" type="submit" value="Send">{% trans 'Receive a consultation' %}</button>
          <label class="p-check flex flex-ai-center">
            <input type="checkbox" name="check" checked="checked"/><span class="p-check__square flex flex-j-center flex-ai-center flex-shrink">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/get/check.webp"/><img class="lazy " width="13" height="13" src="" data-src="/img/main/get/check.png" alt="" loading="lazy"/>
              </picture></span><span class="p-check__title">{% trans 'By submitting the form, you consent to the processing of personal data' %}</span>
          </label>
        </div>
        <div class="modal__socials flex flex-wrap flex-j-end"><a class="modal__socials-item flex flex-ai-center" href="https://wa.me/971524476830?text=Hello! I’m interested in a real estate in Dubai.">
            <div class="modal__socials-title">{% trans 'Write to' %}<!--Написать в--> <span class="text-underline">WhatsApp</span></div>
            <div class="modal__socials-svg">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/modal/type/what.webp"/><img class="lazy " width="18" height="18" src="" data-src="/img/modal/type/what.png" alt="" loading="lazy"/>
              </picture>
            </div></a><a class="modal__socials-item flex flex-ai-center" href="#!">
            <div class="modal__socials-title">+971 4 585 9538</div>
            <div class="modal__socials-svg">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/modal/type/call.webp"/><img class="lazy " width="21" height="21" src="" data-src="/img/modal/type/call.png" alt="" loading="lazy"/>
              </picture>
            </div></a><a class="modal__socials-item flex flex-ai-center" href="#!">
            <div class="modal__socials-title">{% trans 'Write to' %}<!--Написать в--> <span class="text-underline">Telegram</span></div>
            <div class="modal__socials-svg">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/modal/type/tel.webp"/><img class="lazy " width="17" height="17" src="" data-src="/img/modal/type/tel.png" alt="" loading="lazy"/>
              </picture>
            </div></a></div>
      </div>
    </form>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
$(document).ready(
  $('#post-form-building-4').submit(function(e){
    e.preventDefault();
    var serializedData = $(this).serialize();

    $.ajax({
      type:"POST",
      url: "{% url 'contact' %}",
      data:  serializedData,
      success: function(data){
        $("#result").text(data["result"]);
      },
    });
  })
);
</script>

