{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="container margin-center">
  <div class="get__item relative">
    <div class="get__item-img absolute bottom-0 left-0 p-img">
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/main/get/1.webp"/><img class="lazy " width="975" height="600" src="" data-src="/img/main/get/1.png" alt="" loading="lazy"/>
      </picture>
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/main/get/1_mb.webp"/><img class="lazy " width="340" height="344" src="" data-src="/img/main/get/1_mb.png" alt="" loading="lazy"/>
      </picture>
    </div>

    <form method="post" id="post-form-building-2">
      {% csrf_token %}
      {% if user.is_authenticated %}
        <input type="hidden" name="user_id" value="{{ user.id }}">
      {% else %}
        <input type="hidden" name="user_id" value="0">
      {% endif %}
      {% trans 'Leave a request for a free consultation' as form_title %}<!--Оставьте заявку на бесплатную консультацию-->
      <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}">
      <input type="hidden" name="listing_id" value="{{ listing.id|unlocalize }}">
      <input type="hidden" name="listing" value="{{ listing.title_a_en }}">
      <input type="hidden" name="message" value="Request from: {{ form_title }}">
      <input type="hidden" name="email" placeholder="{% trans 'Email' %}" {% if user.is_authenticated %} value="{{ user.email }}" {% else %} value="None"{% endif %} required="required"/>

      <div class="get__item-text relative">
        <div class="get__item-title text-500">{% trans 'Find the best solution for your request' %}<!--Подберём лучшее решение под ваш запрос--></div>
        <div class="get__item-subtitle text-500 text-c5">{{ form_title }}</div>
        <div class="get__item-inputs flex">
          <div class="get__item-input form__input">
            <input type="text" name="name" placeholder="{% trans 'Your name' %}" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required="required"/>
          </div>
          <div class="get__item-input form__input">
            <input type="tel" name="phone" placeholder="+9 999 999 99 99" required="required"/>
          </div>
          <div class="get__item-input form__input">
            {% include 'includes/feedback_forms/feedback_method_input.html' %}
          </div>
        </div>
        <div class="get__item-end">
          <button class="p-btn flex flex-ai-center flex-j-center text-500" type="submit" value="Send">{% trans 'Receive a consultation' %}<!--Получить консультацию--></button>
          <label class="p-check flex flex-ai-center">
            <input type="checkbox" name="consent_processing_personal_data" checked="checked"/><span class="p-check__square flex flex-j-center flex-ai-center flex-shrink">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/get/check.webp"/><img class="lazy " width="13" height="13" src="" data-src="/img/main/get/check.png" alt="" loading="lazy"/>
              </picture></span><span class="p-check__title">{% trans 'By submitting the form, you consent to the processing of personal data' %}<!--Отправляя форму, вы даёте согласие на обработку персональных данных--></span>
          </label>
        </div>
      </div>
    </form>

  </div>
</div>

{% include 'includes/feedback_forms/script.html' with post_form_id='post-form-building-2' %}