{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="container margin-center">

  <div class="criterion__item relative flex flex-col overflow-hidden p-animate p-animate__up-block">
    <div class="criterion__item-bg absolute bottom-0 left-0 p-img">
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/main/criterion/bg.webp"/><img class="lazy " width="1160" height="432" src="" data-src="/img/main/criterion/bg.png" alt="" loading="lazy"/>
      </picture>
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/main/criterion/bg_mb.webp"/><img class="lazy " width="322" height="230" src="" data-src="/img/main/criterion/bg_mb.png" alt="" loading="lazy"/>
      </picture>
    </div>
    <div class="criterion__title text-center">{% trans 'The best property according to your criteria' %}</div>
    <div class="criterion__subtitle text-center">{% trans 'Leave a request for ' %}<span class="text-c5">{% trans 'a free consultation' %}</span></div>

    <form method="post" id="post-form-building-3">
      {% csrf_token %}
      {% if user.is_authenticated %}
        <input type="hidden" name="user_id" value="{{ user.id }}">
      {% else %}
        <input type="hidden" name="user_id" value="0">
      {% endif %}
      {% trans 'Leave a request for a free consultation' as form_title %}
      <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}">
      <input type="hidden" name="listing_id" value="{{ listing.id|unlocalize }}">
      <input type="hidden" name="listing" value="{{ listing.title_a_en }}">
      <input type="hidden" name="message" value="Request from: {{ form_title }}">
      <input type="hidden" name="email" placeholder="{% trans 'Email' %}" {% if user.is_authenticated %} value="{{ user.email }}" {% else %} value="None"{% endif %} required="required"/>

      <div class="criterion__form">
        <div class="criterion__form-inputs flex">
          <div class="criterion__form-input form__input">
            <input type="text" name="name" placeholder="{% trans 'Your name' %}" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required="required"/>
          </div>
          <div class="criterion__form-input form__input">
            {% include 'includes/feedback_forms/phone_input.html' %}
          </div>
          <div class="criterion__form-input form__input">
            {% include 'includes/feedback_forms/feedback_method_input.html' %}
          </div>
        </div>
        <div class="criterion__form-end">
          <button class="p-btn flex flex-ai-center flex-j-center text-500" type="submit" value="Send">{% trans 'Receive a consultation' %}</button>
          {% include 'includes/feedback_forms/item_end.html' %}
        </div>
      </div>
    </form>

  </div>
</div>


{% include 'includes/feedback_forms/script.html' with post_form_id='post-form-building-3' %}
