{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="container margin-center">
  <div class="catalog-cons__item relative">
    <div class="catalog-cons__img-left absolute bottom-0 left-0 p-img">
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/catalogs/cons/left.webp"/><img class="lazy " width="991" height="653" src="" data-src="/img/catalogs/cons/left.png" alt="" loading="lazy"/>
      </picture>
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/catalogs/cons/left_mb.webp"/><img class="lazy " width="332" height="309" src="" data-src="/img/catalogs/cons/left_mb.png" alt="" loading="lazy"/>
      </picture>
    </div>
    <form class="relative" method="post" id="post-form-building-4">
      {% csrf_token %}
      {% if user.is_authenticated %}
        <input type="hidden" name="user_id" value="{{ user.id }}">
      {% else %}
        <input type="hidden" name="user_id" value="0">
      {% endif %}
      {% trans 'Get advice on Developers and best projects' as form_title %}
      <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}">
      <input type="hidden" name="listing_id" value="{{ listing.id|unlocalize }}">
      <input type="hidden" name="listing" value="{{ listing.title_a_en }}">
      <input type="hidden" name="message" value="Request from: {{ form_title }}">
      <input type="hidden" name="email" placeholder="{% trans 'Email' %}" {% if user.is_authenticated %} value="{{ user.email }}" {% else %} value="None"{% endif %} required="required"/>

      <div class="catalog-cons__text relative">
        <div class="catalog-cons__title">{{ form_title }}<!--Получите консультацию по Застройщикам и лучшим проектам--></div>
        <div class="catalog-cons__subtitle">{% trans 'Leave your details and' %}<!--Оставьте свои данные и-->&nbsp;<span class="text-c5">{% trans 'we will answer to all your questions' %}<!--мы&nbsp;ответим на все вопросы--></span></div>
        <div class="catalog-cons__inputs flex">
          <div class="form__input">
            <input type="text" name="name" placeholder="{% trans 'Your name' %}" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required="required"/>
          </div>
          <div class="form__input">
            {% include 'includes/feedback_forms/phone_input.html' %}
          </div>
          <div class="form__input">
            {% include 'includes/feedback_forms/feedback_method_input.html' %}
          </div>
        </div>
        <div class="get__item-end">
          <button class="p-btn flex flex-ai-center flex-j-center text-500" type="submit" value="Send">{% trans 'Receive a consultation' %}</button>
          {% include 'includes/feedback_forms/item_end.html' %}
        </div>
        {% include 'includes/feedback_forms/feedback_social.html' %}
      </div>
    </form>
  </div>
</div>

{% include 'includes/feedback_forms/script.html' with post_form_id='post-form-building-4' %}
