{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="catalog-cons catalog-cons_second">
  <div class="container margin-center">
    <div class="catalog-cons__item relative">
        <div class="catalog-cons__img-left absolute bottom-0 left-0 p-img">
          <picture>
            <source type="image/webp" srcset="" data-srcset="/img/catalogs/cons/left2.webp"/><img class="lazy " width="574" height="586" src="" data-src="/img/catalogs/cons/left2.png" alt="" loading="lazy"/>
          </picture>
          <picture>
            <source type="image/webp" srcset="" data-srcset="/img/catalogs/cons/left2_mb.webp"/><img class="lazy " width="322" height="267" src="" data-src="/img/catalogs/cons/left2_mb.png" alt="" loading="lazy"/>
          </picture>
        </div>

        <form class="relative" method="post" id="post-form-favorite">
            {% csrf_token %}
            {% if user.is_authenticated %}
              <input type="hidden" name="user_id" value="{{ user.id }}">
            {% else %}
              <input type="hidden" name="user_id" value="0">
            {% endif %}
            {% trans 'We will help you analyze and choose the best' as form_title %}<!--Поможем проанализировать и выбрать лучшее-->
            <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}">
            <input type="hidden" name="listing_id" value="{{ listing.id|unlocalize }}">
            <input type="hidden" name="listing" value="{{ listing.title_a_en }}">
            <input type="hidden" name="message" value="Request from: {{ form_title }}">
            <input type="hidden" name="email" placeholder="{% trans 'Email' %}" {% if user.is_authenticated %} value="{{ user.email }}" {% else %} value="None"{% endif %} required="required"/>

          <div class="catalog-cons__text relative">
            <div class="catalog-cons__title">{{ form_title }}<!--Поможем проанализировать и выбрать лучшее--></div>
            <div class="catalog-cons__subtitle">{% trans 'Leave your details, ' %}<!--Оставьте свои данные, --><span class="text-c5">{% trans 'our agent will contact you during the day' %}<!--наш агент свяжется с вами в течение дня--></span></div>
            <div class="catalog-cons__inputs flex">
              <div class="form__input">
                <input type="text" name="name" placeholder="{% trans 'Your name' %}" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required="required"/>
              </div>
              <div class="form__input">
                <input type="tel" name="phone" placeholder="+9 999 999 99 99" required="required"/>
              </div>
              <div class="form__input">
                {% include 'includes/feedback_forms/feedback_method_input.html' %}
              </div>
            </div>
            <div class="get__item-end">
              <button class="p-btn flex flex-ai-center flex-j-center text-500" type="submit">{% trans 'Receive a consultation' %}<!--Получить консультацию--></button>
              {% include 'includes/feedback_forms/item_end.html' %}
            </div>
            <div class="catalog-cons__end"><span>{% trans 'or write to us at' %}<!--или напишите нам в--></span>
                <span>
                    <a class="catalog-cons__end-link flex flex-ai-center" target="_blank" href="https://wa.me/{{ our_company.whatsapp }}?text=Hello! I’m interested in a real estate in Dubai.">
                        <span class="catalog-cons__end-svg flex-shrink">
                            <picture>
                              <source type="image/webp" srcset="" data-srcset="/img/catalogs/cons/whatsapp.webp"/>
                                <img class="lazy " width="18" height="18" src="" data-src="/img/catalogs/cons/whatsapp.png" alt="" loading="lazy"/>
                            </picture>
                        </span>
                        <span class="catalog-cons__end-title text-c3 text-underline">Whatsapp</span>
                    </a>
                </span>
                <span>{% trans 'or' %}</span>
                <span>
                    <a class="catalog-cons__end-link flex flex-ai-center" target="_blank" href="{{ our_company.telegram }}">
                        <span class="catalog-cons__end-svg flex-shrink">
                            <picture>
                              <source type="image/webp" srcset="" data-srcset="/img/catalogs/cons/telegram.webp"/>
                                <img class="lazy " width="17" height="17" src="" data-src="/img/catalogs/cons/telegram.png" alt="" loading="lazy"/>
                            </picture>
                        </span>
                        <span class="catalog-cons__end-title text-c3 text-underline">Telegram</span>
                    </a>
                </span>
            </div>
          </div>
        </form>

    </div>
  </div>
</div>


{% include 'includes/feedback_forms/script.html' with post_form_id='post-form-favorite' %}