{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
<label class="p-check flex flex-ai-center">
  <input type="checkbox" name="consent_processing_personal_data" checked="checked"/>
  <span class="p-check__square flex flex-j-center flex-ai-center flex-shrink">
    <picture>
      <source type="image/webp" srcset="" data-srcset="/img/main/get/check.webp"/>
      <img class="lazy " width="13" height="13" src="" data-src="/img/main/get/check.png" alt="" loading="lazy"/>
    </picture>
  </span>
  <span class="p-check__title">{% trans 'By submitting the form, you consent to' %}
    <a href="{% url 'policy' %}" target="_blank" >{% trans 'the processing of personal data' %}</a>
  </span>
</label>