{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="modal modal_type modal_type-first">
  <div class="modal__content relative margin-center">
    <div class="modal__close absolute">
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/modal/type/close.webp"/>
        <img class="lazy " width="14" height="14" src="" data-src="/img/modal/type/close.png" alt="" loading="lazy"/>
      </picture>
    </div>
    <div class="modal_type__content relative">
      <form class="relative" method="post" id="post-form-modal-first">
        {% csrf_token %}
        {% if user.is_authenticated %}
          <input type="hidden" name="user_id" value="{{ user.id }}">
        {% else %}
          <input type="hidden" name="user_id" value="0">
        {% endif %}
        {% trans 'Consultation with DADI manager' as form_title %}<!--Консультация менеджера DADI-->
        <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}">
        <input type="hidden" name="listing_id" value="{{ listing.id|unlocalize }}">
        <input type="hidden" name="listing" value="{{ listing.title_a_en }}">
        <input type="hidden" name="message" value="Request from: {{ form_title }}">
        <input type="hidden" name="email" placeholder="{% trans 'Email' %}" {% if user.is_authenticated %} value="{{ user.email }}" {% else %} value="None"{% endif %} required="required"/>

        <div class="get__item-text relative">
          <div class="get__item-title">{{ form_title }}</div>
          <div class="get__item-subtitle">{% trans 'Leave your details, ' %}<!--Оставьте свои данные, --><span class="text-c5">{% trans 'our manager will contact you within a day' %}<!--наш менеджер свяжется с вами в течение дня--></span></div>
          <div class="get__item-inputs flex">
            <div class="get__item-input form__input">
              <input type="text" name="name" placeholder="{% trans 'Your name' %}" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required="required"/>
            </div>
            <div class="get__item-input form__input">
              <input type="tel" name="phone" placeholder="+9 999 999 99 99" required="required"/>
            </div>
            <div class="get__item-input form__input">
              {% include 'includes/feedback_forms/feedback_method_input.html' %}
            </div>
          </div>
          <div class="get__item-end">
            <button class="p-btn flex flex-ai-center flex-j-center text-500" type="submit">{% trans 'Get consultation' %}<!--Получить консультацию--></button>
            <label class="p-check flex flex-ai-center">
              <input type="checkbox" name="consent_processing_personal_data" checked="checked"/>
              <span class="p-check__square flex flex-j-center flex-ai-center flex-shrink">
                <picture>
                  <source type="image/webp" srcset="" data-srcset="/img/main/get/check.webp"/>
                  <img class="lazy " width="13" height="13" src="" data-src="/img/main/get/check.png" alt="" loading="lazy"/>
                </picture>
              </span>
              <span class="p-check__title">{% trans 'By submitting the form, you consent to the processing of personal data' %}<!--Отправляя форму, вы даёте согласие на обработку персональных данных--></span>
            </label>
          </div>
          {% include 'includes/feedback_forms/feedback_social.html' %}
        </div>
      </form>
    </div>
  </div>
</div>

{% include 'includes/feedback_forms/script.html' with post_form_id='post-form-modal-first' %}
