{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}


<div class="rent-single__faq">
  <div class="rent-single__faq-item flex flex-ai-center bg-c1 text-c2">
    <div class="rent-single__faq-left">
      <div class="rent-single__faq-title text-500">{% trans 'Ask a question' %}<!--Задайте свой вопрос--></div>
      <div class="rent-single__faq-subtitle">{% trans 'Leave a request for' %}<!--Оставьте заявку на--><span> {% trans 'free consultation' %}<!--бесплатную консультацию--></span></div>

      <form class="rent-single__faq-form" method="post" id="post-form-rent-single">
        {% csrf_token %}
        {% if user.is_authenticated %}
          <input type="hidden" name="user_id" value="{{ user.id }}">
        {% else %}
          <input type="hidden" name="user_id" value="0">
        {% endif %}
        {% trans 'Ask a question' as form_title %}
        <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}">
        <input type="hidden" name="listing_id" value="{{ listing.id|unlocalize }}">
        <input type="hidden" name="listing" value="{{ listing.title_a_en }}">
        <input type="hidden" name="message" value="Request from: {{ form_title }}">
        <input type="hidden" name="email" placeholder="{% trans 'Email' %}" {% if user.is_authenticated %} value="{{ user.email }}" {% else %} value="None" {% endif %} required="required"/>
        <input type="hidden" name="name" placeholder="{% trans 'Your name' %}" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% else %} value="None" {% endif %} required="required"/>

        <div class="get__item-text relative">
          <div class="get__item-inputs flex flex-col">
            <div class="get__item-input form__input">
              <input type="tel" name="phone" placeholder="+9 999 999 99 99" required="required"/>
            </div>
          </div>
          <div class="get__item-end">
            <button class="p-btn p-btn_white flex flex-ai-center flex-j-center text-500" type="submit" value="Send">{% trans 'Get free consultation' %}<!--Получить консультацию--></button>
            <label class="p-check flex flex-ai-center">
              <input type="checkbox" name="consent_processing_personal_data" checked="checked"/><span class="p-check__square flex flex-j-center flex-ai-center flex-shrink">
                <picture>
                  <source type="image/webp" srcset="" data-srcset="/img/main/get/check.webp"/><img class="lazy " width="13" height="13" src="" data-src="/img/main/get/check.png" alt="" loading="lazy"/>
                </picture></span><span class="p-check__title">{% trans 'By submitting the form, you consent to the processing of personal data' %}<!--Отправляя форму, вы даёте согласие на обработку персональных данных--></span>
            </label>
          </div>
        </div>
      </form>

      <div class="rent-single__faq-end flex flex-ai-center">
        <div class="rent-single__socials flex flex-ai-center"><a class="rent-single__socials-item flex flex-ai-center flex-j-center bg-c2" href="https://wa.me/971524476830?text=Hello! I’m interested in a real estate in Dubai.">
            <picture>
              <source type="image/webp" srcset="" data-srcset="/img/rent/single/faq/whatsapp.webp"/><img class="lazy " width="15" height="15" src="" data-src="/img/rent/single/faq/whatsapp.png" alt="" loading="lazy"/>
            </picture></a><a class="rent-single__socials-item flex flex-ai-center flex-j-center bg-c2" href="#!">
            <picture>
              <source type="image/webp" srcset="" data-srcset="/img/rent/single/faq/telegram.webp"/><img class="lazy " width="14" height="14" src="" data-src="/img/rent/single/faq/telegram.png" alt="" loading="lazy"/>
            </picture></a></div><a class="rent-single__socials-phone" href="tel:+79999999999">+971 4 585 9538</a>
      </div>
    </div>
    <div class="rent-single__faq-right">
      <div class="rent-single__faq-img">
        <picture>
          <source type="image/webp" srcset="" data-srcset="/img/rent/single/faq/bg.webp"/><img class="lazy " width="226" height="518" src="" data-src="/img/rent/single/faq/bg.jpg" alt="" loading="lazy"/>
        </picture>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
$(document).ready(
  $('#post-form-rent-single').submit(function(e){
    e.preventDefault();
    var serializedData = $(this).serialize();

    $.ajax({
      type:"POST",
      url: "{% url 'contact' %}",
      data:  serializedData,
      success: function(data){
        $("#result").text(data["result"]);
      },
    });
  })
);
</script>