{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}

<script>
$(document).ready(
  $('#{{ post_form_id }}').submit(function(e){
    e.preventDefault();
    var serializedData = $(this).serialize();

    $.ajax({
      type:"POST",
      url: "{% url 'contact' %}",
      data:  serializedData,
      success: function(data){
        $("[class*='modal_type-first']").removeClass('active')
        $("[class*='modal_type-second']").removeClass('active')
        $('#modal-thank-catalog').addClass('active');
        /* $("#result").text(data["result"]); */
      },
    });
  })
);
</script>