{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="container margin-center">
    <form class="relative" id="post-form-vladislav">
        {% csrf_token %}
        {% if user.is_authenticated %}
          <input type="hidden" name="user_id" value="{{ user.id }}">
        {% else %}
          <input type="hidden" name="user_id" value="0">
        {% endif %}
        <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}">
        <input type="hidden" name="listing_id" value="{{ listing.id|unlocalize }}">
        <input type="hidden" name="listing" value="{{ listing.title_a_en }}">
        <input type="hidden" name="message" value="Request from: {{ form_title }}">
        <input type="hidden" name="email" placeholder="{% trans 'Email' %}" {% if user.is_authenticated %} value="{{ user.email }}" {% else %} value="None"{% endif %} required="required"/>

        <div class="get__item-text relative">
            <div class="get__item-title">{{ form_title }}</div>
            <div class="get__item-subtitle">{% trans 'Leave your details, ' %}<span class="text-c5">{% trans 'our manager will contact you within a day' %}</span>
            </div>
            <div class="get__item-inputs flex">
                <div class="get__item-input form__input">
                    <input type="text" name="name" placeholder="{% trans 'Your name' %}" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required="required"/>
                </div>
                <div class="get__item-input form__input">
                    <input type="tel" name="phone" placeholder="+9 999 999 99 99" required="required"/>
                </div>
                <div class="get__item-input form__input">
                    {% include 'includes/feedback_forms/feedback_method_input.html' %}
                </div>
            </div>
            <div class="get__item-end">
                <button class="p-btn flex flex-ai-center flex-j-center text-500" type="submit" value="Send">{{ button_title }}</button>
                {% include 'includes/feedback_forms/item_end.html' %}
            </div>
            {% include 'includes/feedback_forms/feedback_social.html' %}
        </div>
    </form>
</div>

{% include 'includes/feedback_forms/script.html' with post_form_id='post-form-vladislav' %}
