{% load i18n %}
{% load i18n_urls %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="swiper-slide img_cover img_full">
  {% if listing.photo_main %}
  <picture>
    <source type="image/webp" srcset="" data-srcset="{{ listing.photo_main_thumbnail_281_417.url }}"/>
    <img class="lazy " width="281" height="417" src="" data-src="{{ listing.photo_main_thumbnail_281_417.url }}" alt="" loading="lazy"/>
  </picture>
  {% endif %}
</div>

{% comment %}
<!--
{% for image in listing.main_album_images.all|slice:"5" %}
    <div class="swiper-slide img_cover img_full">
      <picture>
        <source type="image/webp" srcset="" data-srcset="{{ image.photo.url }}"/>
        <img class="lazy " width="281" height="417" src="" data-src="{{ image.photo.url }}" alt="" loading="lazy"/>
      </picture>
</div>
{% endfor %}
-->
{% endcomment %}