{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}

{% if listings %}
  {% for listing in listings %}
    {% include 'includes/rent_card/rent_card_swiper.html' %}
  {% endfor %}
  {% else %}
    <div class="p-card_filter__image relative">
      <div class="swiper">
        <div class="swiper-wrapper">
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="p-card_filter__title text-c5 text-500">{% trans 'No More Offers Available' %}</div>
    </div>
{% endif %}