{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="modal modal_filter">
    <div class="modal__content relative">
      <div class="modal__close absolute">
        <picture>
          <source type="image/webp" srcset="/img/rent/filters/close.webp"/><img width="21" height="21" src="/img/rent/filters/close.png" alt="" loading="lazy"/>
        </picture>
      </div>
      <div class="modal_filter__reset absolute text-underline cursor-pointer">{% trans 'Remove filters' %}<!--Сбросить фильтры--></div>
      <div class="modal_filter__items flex relative flex-col">

        <div class="modal_filter__item">
          <div class="modal_filter__price-row flex">

            {% trans "Price" as price_title %}
            {% include 'includes/filter/price_item.html' with title=price_title %}

            <div class="modal_filter__price-item modal_filter__price-item_area">
              <div class="modal_filter__price-top flex">
                <div class="modal_filter__price-title text-500 text-c5">{% trans 'Total area' %}<!--Общая площадь--></div>
                <div class="modal_filter__price-currency flex">
                  <div class="p-checkboxes p-checkboxes_second flex">
                    {% for area in areas %}
                    <label class="p-checkboxes__item flex">
                      {% if area.value == vars_filter.area %}
                        <input type="radio" name="area" value="{{ area.value }}" checked="checked"/>
                      {% else %}
                        <input type="radio" name="area" value="{{ area.value }}"/>
                      {% endif %}
                      <span class="p-checkboxes__item-title">{% trans area.title %}</span>
                    </label>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="modal_filter__area">
                <div class="modal_filter__area-item active">
                  <div class="modal_filter__area-subitems flex">
                    <div class="modal_filter__area-subitem flex">
                      <div class="modal_filter__area-left">{% trans 'From' %}<!--От--></div>
                      <div class="modal_filter__area-input">
                        <input type="text" name="area_min" value="{{ vars_filter.area_min }}"/>
                      </div>
                      <div class="modal_filter__area-right">{% trans 'sq. m' %}<!--м2--></div>
                    </div>
                    <div class="modal_filter__area-subitem flex">
                      <div class="modal_filter__area-left">{% trans 'To' %}<!--До--></div>
                      <div class="modal_filter__area-input">
                        <input type="text" name="area_max" value="{{ vars_filter.area_max }}"/>
                      </div>
                      <div class="modal_filter__area-right">{% trans 'sq. m' %}<!--м2--></div>
                    </div>
                  </div>
                </div>
                <div class="modal_filter__area-item">
                  <div class="modal_filter__area-subitems flex">
                    <div class="modal_filter__area-subitem flex">
                      <div class="modal_filter__area-left">{% trans 'From' %}<!--От--></div>
                      <div class="modal_filter__area-input">
                        <input type="text" name="fut_min" value="{{ vars_filter.fut_min }}"/>
                      </div>
                      <div class="modal_filter__area-right">{% trans 'sq. ft' %}<!--фут2--></div>
                    </div>
                    <div class="modal_filter__area-subitem flex">
                      <div class="modal_filter__area-left">{% trans 'To' %}<!--До--></div>
                      <div class="modal_filter__area-input">
                        <input type="text" name="fut_max" value="{{ vars_filter.fut_max }}"/>
                      </div>
                      <div class="modal_filter__area-right">{% trans 'sq. ft' %}<!--фут2--></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal_filter__item">
          <div class="modal_filter__price-row flex">
            <div class="modal_filter__price-item">
              <div class="modal_filter__price-top flex">
                <div class="modal_filter__price-title text-500 text-c5">{% trans 'Number or rooms' %}<!--Количество комнат--></div>
              </div>
              <div class="modal_filter__range modal_filter__bedrooms" data-min="1" data-max="{{ vars_filter.listings_max_rooms }}" data-type="int">
                <div class="modal_filter__range-main"></div>
                <input type="hidden" name="bedrooms_min"/>
                <input type="hidden" name="bedrooms_max"/>
              </div>
            </div>
            <div class="modal_filter__price-item">
              <div class="modal_filter__price-top flex">
                <div class="modal_filter__price-title text-500 text-c5">{% trans 'Lease period' %}<!--Срок сдачи--></div>
              </div>

                <div class="modal_filter__radio-btns flex flex-wrap">
                  <div class="modal_filter__radio-btn flex flex-ai-center">
                        <label class="p-radio__btn flex">
                          <input type="checkbox" name="sales_status_presale" value="{% trans 'Presale (EOI)' %}" checked>
                          <span class="p-radio__btn-title">{% trans 'Presale (EOI)' %}<!--Регистрация интереса (EOI)--></span>
                        </label>
                        <label class="p-radio__btn flex">
                          <input type="checkbox" name="sales_status_announcement" value="{% trans 'Announcement' %}" checked>
                          <span class="p-radio__btn-title">{% trans 'Announcement' %}<!--Анонс продаж--></span>
                        </label>
                  </div>
                  <div class="modal_filter__radio-btn flex flex-ai-center">
                        <label class="p-radio__btn flex">
                          <input type="checkbox" name="sales_status_launch" value="{% trans 'Launch' %}" checked>
                          <span class="p-radio__btn-title">{% trans 'Launch' %}<!--Старт продаж--></span>
                        </label>
                        <label class="p-radio__btn flex">
                          <input type="checkbox" name="sales_status_on_sale" value="{% trans 'On Sale' %}" checked>
                          <span class="p-radio__btn-title">{% trans 'On Sale' %}<!--Сейчас в продаже--></span>
                        </label>
                  </div>
                </div>
            </div>
          </div>
        </div>


        {% include 'includes/filter/districts.html' %}
        {% include 'includes/filter/amenities.html' %}

        <div class="modal_filter__item">
          <button class="p-btn flex flex-ai-center flex-j-center text-500" type="submit">{% trans 'Apply filters' %}<!--Применить фильтры--></button>
        </div>
      </div>
    </div>
  </div>
