{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- start districts -->
{% if districts_choices %}
<div class="modal_filter__item">
    <div class="modal_filter__item-title text-500 text-c5">{% trans 'Districts' %}<!--Районы--></div>
    <div class="p-checkboxes flex flex-wrap">
        {% for key, value in districts_choices.items %}
        <label class="p-checkboxes__item flex">
          <input type="checkbox" name="{{ key }}" value="{{ value }}"  {% if value %} checked="checked"{% endif %}/>
          <span class="p-checkboxes__item-square">
          </span><span class="p-checkboxes__item-title">{% trans key %}</span>
        </label>
        {% endfor %}
    </div>
</div>
{% endif %}
<!-- end districts -->