{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="modal modal_filter">
    <div class="modal__content relative">
      <div class="modal__close absolute">
        <picture>
          <source type="image/webp" srcset="/img/rent/filters/close.webp"/><img width="21" height="21" src="/img/rent/filters/close.png" alt="" loading="lazy"/>
        </picture>
      </div>
      <div class="modal_filter__reset absolute text-underline cursor-pointer">{% trans 'Remove filters' %}<!--Сбросить фильтры--></div>
      <div class="modal_filter__items flex relative flex-col">

        {% if estate_types_choices %}
          <div class="modal_filter__item">
            <div class="modal_filter__item-title text-500 text-c5">{% trans 'Property type' %}<!--Тип недвижимости--></div>
            <div class="p-checkboxes flex flex-wrap">
              {% for key, value in estate_types_choices.items %}
                <label class="p-checkboxes__item flex">
                  <input type="checkbox" name="{{ key }}" value="{{ value.value }}" {% if value.value %} checked="checked"{% endif %}/>
                  <span class="p-checkboxes__item-square"></span>
                  <span class="p-checkboxes__item-title">{% trans value.title %}</span>
                </label>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% if apartment_types_choices %}
          <div class="modal_filter__item">
            <div class="modal_filter__item-title text-500 text-c5">{% trans 'Apartment type' %}<!--Комнаты--></div>
            <div class="p-checkboxes p-checkboxes_second flex flex-wrap">
              {% for key, value in apartment_types_choices.items %}
                <label class="p-checkboxes__item flex">
                  <input type="checkbox" name="{{ key }}" value="{{ value.value }}" {% if value.value %} checked="checked"{% endif %}/>
                  <span class="p-checkboxes__item-title">{% trans value.title %}</span>
                </label>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        <div class="modal_filter__item">
          <div class="modal_filter__price-row flex">

            {% trans "Daily rental cost" as price_title %}
            {% include 'includes/filter/price_item.html' with title=price_title %}

          </div>
        </div>

        {% include 'includes/filter/districts.html' %}
        {% include 'includes/filter/amenities.html' %}

        <div class="modal_filter__item">
          <button class="p-btn flex flex-ai-center flex-j-center text-500" type="submit">{% trans 'Apply filters' %}<!--Применить фильтры--></button>
        </div>
      </div>
    </div>
</div>
