{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
<div class="filters__content-block flex flex-wrap active" id="offer_cards" hx-swap-oob="beforeend">
  {% if listings %}
    {% for listing in listings %}
      {% include 'includes/offer_card/offer_card_swiper.html' %}
    {% endfor %}
    {% else %}
      <div class="p-card_filter__image relative">
        <div class="swiper">
          <div class="swiper-wrapper">
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="p-card_filter__title text-c5 text-500">{% trans 'No More Offers Available' %}</div>
      </div>
  {% endif %}
  <div {% if listings.has_next %}
         class="filters__content-load margin-center text-c3 text-underline text-500"
         hx-get="?page={{ listings.next_page_number }}"
         hx-trigger="click"
         hx-target="this"
         hx-swap="outerHTML"
       {% endif %}>
    {% if listings.has_next %}
      {% trans 'Load more' %}
    {% endif %}
  </div>
</div>