{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
<div class="modal modal_conf modal_form">
  <div class="modal__content relative margin-center">
    <div class="modal__close absolute">
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/modal/type/close.webp"/><img class="lazy " width="14" height="14" src="" data-src="/img/modal/type/close.png" alt="" loading="lazy"/>
      </picture>
    </div>
    <div class="modal_conf__content relative">
      <form class="relative">
        <div class="modal_conf__items">
          <div class="modal_conf__item active">
            <div class="modal_conf__title modal_register__title text-center text-c5">{% trans 'Confirm your number' %}<!--Подтвердите номер--></div>
            <div class="modal_conf__item-title">{% trans 'Enter the code sent to the number +7 (9**) ***-**-**' %}<!--Введите код, высланный на номер +7 (9**) ***-**-**--></div>
            <div class="modal_conf__item-inputs flex flex-ai-center">
              <input class="modal_conf__item-input" type="text" name="code1"/>
              <input class="modal_conf__item-input" type="text" name="code2"/>
              <input class="modal_conf__item-input" type="text" name="code3"/>
              <input class="modal_conf__item-input" type="text" name="code4"/>
            </div>
            <div class="modal_conf__request flex flex-ai-center">
              <div class="modal_conf__request-left">{% trans 'Didn&quot;t receive the code?' %}<!--Не получили код?--></div>
              <div class="modal_conf__request-right text-underline cursor-pointer">{% trans 'Send again' %}<!--Отправить ещё раз--></div>
            </div>
          </div>
          <div class="modal_conf__item">
            <div class="modal_conf__title modal_register__title text-center text-c5">{% trans 'Confirm your email' %}<!--Подтвердите почту--></div>
            <div class="modal_conf__item-title">{% trans 'Enter the code sent to the address *******@gmail.com' %}<!--Введите код, высланный на адрес *******@gmail.com--></div>
            <div class="modal_conf__item-inputs flex flex-ai-center">
              <input class="modal_conf__item-input" type="text" name="code1"/>
              <input class="modal_conf__item-input" type="text" name="code2"/>
              <input class="modal_conf__item-input" type="text" name="code3"/>
              <input class="modal_conf__item-input" type="text" name="code4"/>
            </div>
            <div class="modal_conf__request flex flex-ai-center">
              <div class="modal_conf__request-left">{% trans 'Didn&quot;t receive the code?' %}<!--Не получили код?--></div>
              <div class="modal_conf__request-right text-underline cursor-pointer">{% trans 'Send again' %}<!--Отправить ещё раз--></div>
            </div>
          </div>
        </div>
        <div class="modal_conf__end-link text-underline text-500 text-c3 cursor-pointer" data-index="2">{% trans 'Choose another way' %}<!--Выбрать другой способ--></div>
      </form>
    </div>
  </div>
</div>




<div class="cabinet">
    <div class="container margin-center">
          <div class="cabinet__top relative">
              <div class="cabinet__top-title text-500 text-c5">
                <h4 class="alert-heading">Электронная почта подтверждена</h4>
              </div>
                <p>Ваш адрес электронной почты успешно подтвержден. Спасибо за регистрацию!</p>
          </div>
    </div>
</div>
