{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %} | User register {% endblock %}
{% block content %}
<div class="cabinet">
    <div class="container margin-center">
      <div class="cabinet__top relative">
          <div class="cabinet__top-title text-500 text-c5">
                <h4>Регистрация на сайте</h4>
            </div>
            <form method="post" action="{% url 'register' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="modal_register__input form__input">
                        {{ field.errors }}
                        {{ field.label_tag }}: {{ field }}
                    </div>
                {% endfor %}
                <button class="cabinet__top-link p-btn flex flex-ai-center flex-j-center text-500 cursor-pointer">{% trans 'Register' %}</button>
            </form>
      </div>
    </div>
</div>
{% endblock %}
