{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}

{% block title %} | Blog {% endblock %}

{% block content %}
<!-- Showcase -->
<main>
  <div class="_404">
    <div class="container margin-center">
      <div class="_404__title text-center font-tenor">404</div>
      <div class="_404__subtitle text-center">Упс! Страница не найдена...</div><a class="p-btn flex flex-ai-center flex-j-center text-500 _404__btn text-20 margin-center" href="/">На главную</a>
    </div>
  </div>
</main>
{% endblock %}
