{% extends 'base.html' %}
{% load l10n %}
{% load i18n %}
{% load i18n_urls %}
{% load static %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %} | Rent | {{ listing.title_a_en }}{% endblock %}

{% block content %}
{% get_attr 'listing' 'title_a_'|add:LANGUAGE_CODE as listing_title %}
{% get_attr 'listing' 'description_a_'|add:LANGUAGE_CODE as listing_description %}
<!-- Showcase -->
<main>
  <div class="rent-single">
    <div class="container margin-center relative">
      <a class="rent-single__link text-underline flex" href="{% url 'arenda' %}">{% trans 'Rent catalogue' %}<!--Каталог аренды--></a>
      <div class="rent-single__title font-tenor text-c3">{{ listing_title }}</div>
      {% include 'includes/bookmarks/favorites_module.html' %}
      <div class="rent-single__top flex flex-wrap">
        <div class="rent-single__top-area text-c3 text-500 relative"><span>{{ listing.address }}</span>
          <div class="rent-single__top-svg absolute w-full"><svg width="61" height="2" viewBox="0 0 61 2" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 1H61" stroke="url(#paint0_linear_347_3834)"/>
            <defs>
            <linearGradient id="paint0_linear_347_3834" x1="0" y1="1" x2="61" y2="1" gradientUnits="userSpaceOnUse">
            <stop stop-color="#4B97A1" stop-opacity="0"/>
            <stop offset="0.5" stop-color="#156B7F"/>
            <stop offset="1" stop-color="#4B97A1" stop-opacity="0"/>
            </linearGradient>
            </defs>
            </svg>
          </div>
        </div>
        <div class="rent-single__top-title"><!--Название ЖК--></div>
        <div class="rent-single__top-lot"><!--Лот 1111111--></div>
      </div>
      <div class="rent-single__row flex">
        <div class="rent-single__left">
          <div class="rent-single__images grid">
            <div class="rent-single__image img_cover img_full img_br">
              <picture>
                <source type="image/webp" srcset="/media/{{ listing.photo_main }}"/><img width="474" height="312" src="/media/{{ listing.photo_main }}" alt="" loading="lazy"/>
              </picture>
            </div>
            <div class="rent-single__image img_cover img_full img_br">
              <picture>
                <source type="image/webp" srcset="/media/{{ listing.photo_1 }}"/><img width="474" height="312" src="/media/{{ listing.photo_1 }}" alt="" loading="lazy"/>
              </picture>
            </div>
            <div class="rent-single__image img_cover img_full img_br">
              <picture>
                <source type="image/webp" srcset="/media/{{ listing.photo_2 }}"/><img width="474" height="312" src="/media/{{ listing.photo_2 }}" alt="" loading="lazy"/>
              </picture>
            </div>
          </div>
          <div class="rent-single__tabs flex flex-col">
            <div class="rent-single__tab-tops flex overflow-hidden rent-single__tab-tops_price">
              <div class="rent-single__tab-top active">₽</div>
              <div class="rent-single__tab-top">$</div>
              <div class="rent-single__tab-top">€</div>
            </div>
            <div class="rent-single__tab-contents">
              <div class="rent-single__tab-content active">
                <div class="rent-single__days">
                  <div class="rent-single__day flex flex-wrap active">
                    <div class="rent-single__day-left">₽{{ min_price_month_rub }} {% trans 'per month' %}<!--в месяц--></div>
                    <div class="rent-single__day-right">₽{{ min_price_rub }} {% trans 'per night' %}<!--в сутки--></div>
                  </div>
                  <div class="rent-single__day flex flex-wrap">
                    <div class="rent-single__day-left">${{ min_price_month_usd }} {% trans 'per month' %}<!--в месяц--></div>
                    <div class="rent-single__day-right">${{ min_price_usd }} {% trans 'per night' %}<!--в сутки--></div>
                  </div>
                  <div class="rent-single__day flex flex-wrap">
                    <div class="rent-single__day-left">€{{ min_price_month_eur }} {% trans 'per month' %}<!--в месяц--></div>
                    <div class="rent-single__day-right">€{{ min_price_eur }} {% trans 'per night' %}<!--в сутки--></div>
                  </div>
                </div>
                <div class="rent-single__desc">{% trans 'Who is it suitable for' %}: {% trans listing.suitable_for_string %}</div>
                {% autoescape off %}
                <div class="rent-single__desc">{% if listing.description_a_en %}{{ listing_description|linebreaks|safe }}{% endif %}</div>
                {% endautoescape %}
                <ul class="rent-single__list flex flex-wrap" data-count="8" data-status="true">

                  {% if amenities_ru %}
                    {% for amenity in amenities_ru %}
                      {% include 'includes/amenities/rent_amenity.html' %}
                    {% endfor %}
                  {% endif %}

                  <li class="rent-single__list-li rent-single__list-li_third flex flex-ai-center rent-single__list-li_more text-c3 text-underline" data-text-show="{% trans 'more' %}" data-text-hide="{% trans 'hide' %}">{% trans 'more' %}</li>
                </ul>
                <div class="rent-single__rules">
                  <div class="rent-single__rules-title font-tenor text-c3">{% trans 'House rules' %}<!--Правила дома--></div>
                  <div class="rent-single__rules-tabs flex">
                    <div class="rent-single__rules-tab active"><span>{% trans 'Short-term lease (5 days to 3 months)' %}<!--Краткосрочная аренда (от 5 дн до 3 мес)--></span><svg width="393" height="2" viewBox="0 0 393 2" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 1H393" stroke="url(#paint0_linear_347_3835)"/>
<defs>
<linearGradient id="paint0_linear_347_3835" x1="0" y1="1" x2="393" y2="1" gradientUnits="userSpaceOnUse">
<stop stop-color="#4B97A1" stop-opacity="0"/>
<stop offset="0.5" stop-color="#156B7F"/>
<stop offset="1" stop-color="#4B97A1" stop-opacity="0"/>
</linearGradient>
</defs>
</svg>
                    </div>
                    <div class="rent-single__rules-tab"><span>{% trans 'Long term lease (from 3 months)' %}<!--Долгосрочная аренда (от 3 мес)--></span><svg width="393" height="2" viewBox="0 0 393 2" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 1H393" stroke="url(#paint0_linear_347_3835)"/>
<defs>
<linearGradient id="paint0_linear_347_3835" x1="0" y1="1" x2="393" y2="1" gradientUnits="userSpaceOnUse">
<stop stop-color="#4B97A1" stop-opacity="0"/>
<stop offset="0.5" stop-color="#156B7F"/>
<stop offset="1" stop-color="#4B97A1" stop-opacity="0"/>
</linearGradient>
</defs>
</svg>
                    </div>
                  </div>
                  <div class="rent-single__rules-contents">
                    <div class="rent-single__rules-content active">
                      <div class="rent-single__advs flex flex-wrap">
                        <div class="rent-single__advs-item flex flex-ai-center bg-c5 text-c2">
                          <div class="rent-single__advs-svg flex flex-j-center flex-ai-center bg-c2">
                            <picture>
                              <source type="image/webp" srcset="" data-srcset="/img/rent/single/main/clock.webp"/><img class="lazy " width="19" height="19" src="" data-src="/img/rent/single/main/clock.png" alt="" loading="lazy"/>
                            </picture>
                          </div>
                          <div class="rent-single__advs-title">{% trans 'Check in after 15:00' %}<!--Прибытие после 15:00--></div>
                        </div>
                        <div class="rent-single__advs-item flex flex-ai-center bg-c5 text-c2">
                          <div class="rent-single__advs-svg flex flex-j-center flex-ai-center bg-c2">
                            <picture>
                              <source type="image/webp" srcset="" data-srcset="/img/rent/single/main/profile-2user.webp"/><img class="lazy " width="21" height="21" src="" data-src="/img/rent/single/main/profile-2user.png" alt="" loading="lazy"/>
                            </picture>
                          </div>
                          <div class="rent-single__advs-title">{% trans 'Maximum 2 guests' %}<!--Максимум 2 гостя--></div>
                        </div>
                        <div class="rent-single__advs-item flex flex-ai-center bg-c5 text-c2">
                          <div class="rent-single__advs-svg flex flex-j-center flex-ai-center bg-c2">
                            <picture>
                              <source type="image/webp" srcset="" data-srcset="/img/rent/single/main/clock2.webp"/><img class="lazy " width="19" height="19" src="" data-src="/img/rent/single/main/clock2.png" alt="" loading="lazy"/>
                            </picture>
                          </div>
                          <div class="rent-single__advs-title">{% trans 'Check out before 11:00' %}<!--Выезд до 11:00--></div>
                        </div>
                        <div class="rent-single__advs-item flex flex-ai-center bg-c5 text-c2">
                          <div class="rent-single__advs-svg flex flex-j-center flex-ai-center bg-c2">
                            <picture>
                              <source type="image/webp" srcset="" data-srcset="/img/rent/single/main/paw.webp"/><img class="lazy " width="19" height="19" src="" data-src="/img/rent/single/main/paw.png" alt="" loading="lazy"/>
                            </picture>
                          </div>
                          <div class="rent-single__advs-title">{% trans 'Pets are allowed' %}<!--Можно с питомцами--></div>
                        </div>
                        <div class="rent-single__advs-item flex flex-ai-center bg-c5 text-c2">
                          <div class="rent-single__advs-svg flex flex-j-center flex-ai-center bg-c2">
                            <picture>
                              <source type="image/webp" srcset="" data-srcset="/img/rent/single/main/door.webp"/><img class="lazy " width="22" height="22" src="" data-src="/img/rent/single/main/door.png" alt="" loading="lazy"/>
                            </picture>
                          </div>
                          <div class="rent-single__advs-title">{% trans 'Self-check-in (digital code)' %}<!--Самостоятельное прибытие (цифровой код)--></div>
                        </div>
                        <div class="rent-single__advs-item flex flex-ai-center bg-c5 text-c2">
                          <div class="rent-single__advs-svg flex flex-j-center flex-ai-center bg-c2">
                            <picture>
                              <source type="image/webp" srcset="" data-srcset="/img/rent/single/main/celebrate.webp"/><img class="lazy " width="23" height="23" src="" data-src="/img/rent/single/main/celebrate.png" alt="" loading="lazy"/>
                            </picture>
                          </div>
                          <div class="rent-single__advs-title">{% trans 'Parties and events aren’t allowed' %}<!--Без вечеринок и мероприятий--></div>
                        </div>
                        <div class="rent-single__advs-item flex flex-ai-center bg-c5 text-c2">
                          <div class="rent-single__advs-svg flex flex-j-center flex-ai-center bg-c2">
                            <picture>
                              <source type="image/webp" srcset="" data-srcset="/img/rent/single/main/dont-smoke.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/rent/single/main/dont-smoke.png" alt="" loading="lazy"/>
                            </picture>
                          </div>
                          <div class="rent-single__advs-title">{% trans 'Smoking is prohibited' %}<!--Курение запрещено--></div>
                        </div>
                        <div class="rent-single__advs-item flex flex-ai-center bg-c5 text-c2">
                          <div class="rent-single__advs-svg flex flex-j-center flex-ai-center bg-c2">
                            <picture>
                              <source type="image/webp" srcset="" data-srcset="/img/rent/single/main/close.webp"/><img class="lazy " width="13" height="13" src="" data-src="/img/rent/single/main/close.png" alt="" loading="lazy"/>
                            </picture>
                          </div>
                          <div class="rent-single__advs-title">{% trans 'Free cancellation before 19th of october' %}<!--Бесплатная отмена до 19 октября--></div>
                        </div>
                      </div><a class="rent-single__rules-btn p-btn flex flex-ai-center flex-j-center text-500" href="{% url 'otmena' %}">{% trans 'Cancellation policy' %}<!--Правила отмены--></a>
                    </div>
                    <div class="rent-single__rules-content">
                      <form class="rent-single__form bg lazy" data-bg="/img/rent/single/form/1.webp">
                        <div class="rent-single__form-btn p-btn flex flex-ai-center flex-j-center text-500 modal__show" data-modal="type-first">{% trans 'Leave an application' %}<!--оставьте заявку--></div>
                        <div class="rent-single__form-subtitle text-500 text-c5">{% trans 'for a discount on number of months of rent and contract with the owner' %}<!--на скидку за количество месяцев аренды и заключения договора с собственником--></div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="rent-single__map">
            <div class="rent-single__map-title font-tenor section__title text-c3">{% trans 'Location' %}<!--Где находится--></div>
            <div class="rent-single__map-item" id="rent-single__map-item"></div>
            <div class="contacts__item">
              <div class="contacts__item-subtitle">{% if listing.address %}{{ listing.address|safe }}{% endif %}</div>
              <div class="contacts__item-iframe" id="map-canvas" style="height:500px;">
                <!-- google map here -->
              </div>
            </div>

          </div>
          <div class="rent-single__service">
            <div class="rent-single__service-title font-tenor section__title text-c3">{% trans 'Services of DADI' %}<!--Услуги DADI--></div>
            <div class="rent-single__service-row grid">
              <div class="rent-single__service-item flex flex-col">
                <div class="rent-single__service-img img_cover img_br">
                  <picture>
                    <source type="image/webp" srcset="" data-srcset="/img/rent/single/service/1.webp"/><img class="lazy " width="287" height="183" src="" data-src="/img/rent/single/service/1.jpg" alt="" loading="lazy"/>
                  </picture>
                </div>
                <div class="rent-single__service-text">
                  <div class="rent-single__service-subtitle">{% trans 'Client’s personal account' %}<!--Личный кабинет--></div>
                  <div class="rent-single__service-desc">{% trans 'for tracking booking and payment' %}<!--для отслеживания бронирования и оплаты--></div>
                </div>
              </div>
              <div class="rent-single__service-item flex flex-col">
                <div class="rent-single__service-img img_cover img_br">
                  <picture>
                    <source type="image/webp" srcset="" data-srcset="/img/rent/single/service/2.webp"/><img class="lazy " width="287" height="183" src="" data-src="/img/rent/single/service/2.jpg" alt="" loading="lazy"/>
                  </picture>
                </div>
                <div class="rent-single__service-text">
                  <div class="rent-single__service-subtitle">{% trans 'Personalized choice' %}<!--Индивидуальный подбор--></div>
                  <div class="rent-single__service-desc">{% trans 'of property for rent or purchase basen on your request' %}<!--недвижимости для аренды или покупки под ваши запросы--></div>
                </div>
              </div>
              <div class="rent-single__service-item flex">
                <div class="rent-single__service-img img_cover img_br">
                  <picture>
                    <source type="image/webp" srcset="" data-srcset="/img/rent/single/service/3.webp"/><img class="lazy " width="287" height="183" src="" data-src="/img/rent/single/service/3.jpg" alt="" loading="lazy"/>
                  </picture>
                </div>
                <div class="rent-single__service-text">
                  <div class="rent-single__service-subtitle">{% trans 'Personal assistant in the country' %}<!--Персональный ассистент--></div>
                  <div class="rent-single__service-desc">{% trans 'help with transfer, car rental, dry cleaning - assistant will take care of all household issues in the new country 24/7' %}<!--поможет с трансфером, арендой автомобиля, химчисткой - решит все бытовые вопросы в новой стране 24/7--></div>
                </div>
              </div>
              <div class="rent-single__service-item flex">
                <div class="rent-single__service-img img_cover img_br">
                  <picture>
                    <source type="image/webp" srcset="" data-srcset="/img/rent/single/service/4.webp"/><img class="lazy " width="287" height="183" src="" data-src="/img/rent/single/service/4.jpg" alt="" loading="lazy"/>
                  </picture>
                </div>
                <div class="rent-single__service-text">
                  <div class="rent-single__service-subtitle">{% trans 'Legal support' %}<!--Юридическое сопровождение--></div>
                  <div class="rent-single__service-desc">{% trans 'In case of leasehold term starting from 3 months we will take care of checking all document and concluding the contract of rent with the proprietor' %}<!--при аренде на срок более 3 месяцев, поможем проверить документы и заключить выгодный договор с собственником--></div>
                </div>
              </div>
            </div>
            <div class="rent-single__service-btn p-btn flex flex-ai-center flex-j-center text-500 modal__show" data-modal="type-first">{% trans 'Leave a request' %}<!--Оставить заявку--></div>
          </div>

          {% include 'includes/feedback_forms/rent_single_feedback.html' %}

        </div>
        <form class="rent-single__right">
          <div class="rent-single__right-item">
            <div class="rent-single__right-date flex flex-ai-center text-500"><span class="rent-single__right-date_start">27 декабря 2023 г.</span><span>&nbsp;-&nbsp;</span><span class="rent-single__right-date_end">27 декабря 2023 г.</span></div>
            <div class="rent-single__right-input">
              <input type="text" name="date" value=""/>
            </div>
          </div>
          <div class="rent-single__subitem sticky">
            <div class="rent-single__price font-roboto">
              <del><span class="rent-single__price-old">₽{{ max_price_rub }}</span><span>₽</span></del><ins><span class="rent-single__price-new">₽{{ min_price_rub }}</span><span>₽</span>&nbsp;{% trans 'per night' %}</ins>
            </div>
            <div class="rent-single__cols flex flex-col font-roboto">
              <div class="rent-single__col flex">
                <div class="rent-single__col-item">
                  <div class="rent-single__col-title uppercase text-500">{% trans 'Arrival' %}<!--Прибытие--></div>
                  <div class="rent-single__col-date rent-single__col-date_start text-500">27.12.2023</div>
                </div>
                <div class="rent-single__col-item">
                  <div class="rent-single__col-title uppercase text-500">{% trans 'Check out' %}<!--Выезд--></div>
                  <div class="rent-single__col-date rent-single__col-date_end text-500">27.12.2023</div>
                </div>
              </div>
              <div class="rent-single__col w-full">
                <div class="rent-single__col-item rent-single__col-item_select w-full">
                  <div class="rent-single__select flex flex-ai-center flex-j-between w-full relative">
                    <div class="rent-single__select-current relative w-full flex flex-ai-center flex-j-between cursor-pointer">
                      <div class="rent-single__col-title uppercase text-500 absolute">{% trans 'number of guests' %}<!--Для кого--></div>
                      <div class="rent-single__select-title text-500">{% trans '1 guest' %}<!--1 гость--></div>
                      <div class="rent-single__select-arrow">
                        <picture>
                          <source type="image/webp" srcset="/img/rent/single/main/arrow.webp"/><img width="16" height="16" src="/img/rent/single/main/arrow.png" alt="" loading="lazy"/>
                        </picture>
                      </div>
                    </div>
                    <div class="rent-single__select-abs absolute w-full">
                      <div class="rent-single__select-items flex flex-col">
                        <div class="rent-single__select-item flex flex-ai-center w-full flex-j-between">
                          <div class="rent-single__select-left">
                            <div class="rent-single__select-subtitle text-500">{% trans 'Adults' %}<!--Взрослые--></div>
                            <div class="rent-single__select-subdesc">{% trans 'From 13 years old' %}<!--От 13 лет--></div>
                          </div>
                          <div class="rent-single__select-right">
                            <div class="rent-single__quantity flex flex-ai-center" data-texts="[&quot;{% trans 'guest' %}&quot;,&quot;{% trans 'guests' %}&quot;,&quot;{% trans 'guests' %}&quot;]">
                              <div class="rent-single__quantity-item rent-single__quantity-minus flex flex-ai-center flex-j-center"><svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false"><path d="m.75 6.75h10.5v-1.5h-10.5z"></path></svg></div>
                              <div class="rent-single__quantity-input">
                                <input type="text" name="adults" value="1" disabled="disabled"/>
                              </div>
                              <div class="rent-single__quantity-item rent-single__quantity-plus flex flex-ai-center flex-j-center"><svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" ><path d="m6.75.75v4.5h4.5v1.5h-4.5v4.5h-1.5v-4.5h-4.5v-1.5h4.5v-4.5z"></path></svg></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="rent-single__select-close text-underline flex flex-j-end cursor-pointer">{% trans 'Close' %}<!--Закрыть--></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rent-single__button">
              <button class="p-btn flex flex-ai-center flex-j-center text-500" type="submit">{% trans 'Leave a request' %}<!--Оставить заявку--></button>
            </div>
            <div class="rent-single__end flex flex-col font-roboto">
              <div class="rent-single__end-item flex flex-ai-center flex-j-between w-full">
                <div class="rent-single__end-title text-500"><span class="rent-single__end-price">₽{{ min_price_rub }}</span>₽<span class="rent-single__end-span">х {% trans '1 night' %}<!--1 ночь--></span></div>
                <div class="rent-single__end-subprice text-500">₽<span>{{ min_price_rub }}</span></div>
              </div>
              <div class="rent-single__end-item flex flex-ai-center flex-j-between w-full">
                <div class="rent-single__end-title text-500"><span class="rent-single__end-price">{% trans 'Cleaning fee' %}<!--Плата за уборку--></span></div>
                <div class="rent-single__end-subprice text-500">₽<span>5,231</span></div>
              </div>
              <div class="rent-single__end-item rent-single__end-item_last flex flex-ai-center flex-j-between w-full text-c3">
                <div class="rent-single__end-title text-500"><span class="rent-single__end-price">{% trans 'Total (excluding tax)' %}<!--Всего (без учета налогов)--></span></div>
                <div class="rent-single__end-subprice text-500">₽<span>32,091</span></div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="estate overflow-hidden estate_second offers">
    <div class="container margin-center">
      <div class="section__title font-tenor text-c3">{% trans 'More offers' %}<!--Другие предложения--></div>
      <div class="estate__items flex flex-col">
        <div class="estate__item relative w-full">
          <div class="estate__swiper relative">
            <div class="swiper">
              <div class="swiper-wrapper">

                {% if listings %}
                  {% for listing in listings %}
                    <div class="swiper-slide">
                      {% include 'includes/rent_card/rent_card_swiper.html' %}
                    </div>
                  {% endfor %}
                {% else %}
                  <div class="col-md-12">
                    <p>{% trans 'No Offers Available' %}</p>
                  </div>
                {% endif %}

                <div class="swiper-slide">
                  <div class="p-card p-card_back relative">
                    <div class="p-card__abs absolute top-0 left-0 w-full h-full flex flex-ai-center flex-j-center bg-c3 text-c2"><a class="p-card__abs-link text-underline text-center text-500 margin-center" href="{% url 'arenda' %}">{% trans 'Back to the Rent page' %}<!--Вернуться на страницу Аренды--></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="main_swiper-arrows flex absolute">
              <div class="swiper-button swiper-button-prev flex flex-ai-center flex-j-center">
                <picture>
                  <source type="image/webp" srcset="" data-srcset="/img/main/estate/arrow-left.webp"/><img class="lazy " width="18" height="18" src="" data-src="/img/main/estate/arrow-left.png" alt="" loading="lazy"/>
                </picture>
              </div>
              <div class="swiper-button swiper-button-next flex flex-ai-center flex-j-center">
                <picture>
                  <source type="image/webp" srcset="" data-srcset="/img/main/estate/arrow-right.webp"/><img class="lazy " width="18" height="18" src="" data-src="/img/main/estate/arrow-right.png" alt="" loading="lazy"/>
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
