{% extends 'base.html' %}
{% load l10n %}
{% load i18n %}
{% load i18n_urls %}
{% load static %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %} | Article {% endblock %}

{% block content %}
<!-- Showcase -->
<main>
  <div class="article">
    <div class="container margin-center">
      <div class="article__title font-tenor text-c3">{% get_attr 'article' 'title_'|add:LANGUAGE_CODE %}</div>
      <div class="article__img relative"><a class="article__img-link flex flex-ai-center absolute top-0 left-0" href="{% url 'blog' %}">
          <div class="article__img-svg flex-shrink"><svg width="30" height="12" viewBox="0 0 30 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M28.876 6.53033C29.1689 6.23743 29.1689 5.76256 28.876 5.46967L24.1031 0.696697C23.8102 0.403804 23.3353 0.403804 23.0424 0.696697C22.7495 0.989591 22.7495 1.46446 23.0424 1.75736L27.285 6L23.0424 10.2426C22.7495 10.5355 22.7495 11.0104 23.0424 11.3033C23.3353 11.5962 23.8102 11.5962 24.1031 11.3033L28.876 6.53033ZM0.345703 6.75L28.3457 6.75L28.3457 5.25L0.345703 5.25L0.345703 6.75Z" fill="#282828"/>
            </svg>
          </div>
          <div class="article__img-title">{% trans 'DADI Blog' %}</div></a>
        <div class="article__img-main">
          <picture>
            <source type="image/webp" srcset="" data-srcset="{{ article.photo.url }}"/>
            <img class="lazy " width="1160" height="337" src="" data-src="{{ article.photo.url }}" alt="" loading="lazy"/>
          </picture>
        </div>
      </div>
      <div class="article__items flex flex-col">
        <div class="article__item flex">
          <div class="article__item-text">
            <div class="article__item-title font-tenor text-c3">{% get_attr 'article' 'category_'|add:LANGUAGE_CODE %}</div>
            {% autoescape off %}
            <div class="article__item-desc">{% get_attr 'article' 'text_'|add:LANGUAGE_CODE|safe %}</div>
            {% endautoescape %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="telegram">
    <div class="container margin-center">
      <div class="telegram__item relative">
      <div class="telegram__item relative">
        <div class="telegram__subtitle text-center relative">{% trans 'with the latest news from the world of Dubai' %}<!--со свежими новостями из мира Дубая--></div>
        <div class="section__title font-tenor text-c3 text-center relative">{% trans 'Telegram channel DADI' %}<!--Телеграм канал DADI--></div>
        <div class="telegram__btns flex flex-j-between margin-center relative flex-ai-center">
          <a class="telegram__btns-link text-c5 text-underline" href="{{ our_company.telegram }}" target="_blank">{{ our_company.telegram }}</a>
          <a class="p-btn flex flex-ai-center flex-j-center text-500" href="{{ our_company.telegram }}!" target="_blank">{% trans 'Go to channel' %}<!--Перейти в канал--></a></div>
        <div class="telegram__img absolute bottom-0">
          <picture>
            <source type="image/webp" srcset="" data-srcset="/img/blog/telegram/iPhone.webp"/><img class="lazy " width="1002" height="484" src="" data-src="/img/blog/telegram/iPhone.jpg" alt="" loading="lazy"/>
          </picture>
        </div>
      </div>
    </div>
  </div>
  {% include 'includes/blog/article_blog_module.html' %}
</main>
{% endblock %}
