{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}

{% block title %} | Blog {% endblock %}

{% block content %}
<!-- Showcase -->
<main>
  <div class="main main_blog">
    <div class="container margin-center relative">
      <div class="main__item bg flex flex-ai-center flex-j-end flex-col relative text-c2 text-center overflow-hidden" style="background-image:url('/img/blog/bg.webp')">
        <div class="main__item-bg absolute top-0 left-0 w-full h-full"></div>
        <div class="main__item-title font-tenor relative">{% trans 'DADI Blog' %}<!--DADI Блог--></div>
        <div class="main__item-subtitle relative">{% trans 'Useful articles about life and real estate in Dubai' %}<!--Полезные статьи о жизни и недвижимости в Дубае--></div>
      </div>
    </div>
  </div>
  <div class="blog">
    <div class="container margin-center">
      <div class="articles__row flex flex-col">
        <div class="articles__row-item grid">
          <div class="articles__item articles__item_1 overflow-hidden">
            <div class="articles__item-img img_cover img_br">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/blog/items/1.webp"/><img class="lazy " width="333" height="206" src="" data-src="/img/blog/items/1.jpg" alt="" loading="lazy"/>
              </picture>
            </div>
            <div class="articles__item-text relative">
              <div class="articles__item-title text-c3">{% trans 'Dubai: best places to live' %}<!--Дубай: лучшие районы для жизни--></div>
              <div class="articles__item-tags absolute top-0 right-0">
                <div class="articles__item-date">21.10.2023</div>
                <div class="articles__item-status">{% trans 'updated' %}<!--обновлено--></div>
              </div>
              <div class="articles__item-desc">{% trans 'Life in Dubai' %}<!--Жизнь в дубае--></div><a class="articles__item-link text-c3 text-underline" href="{% url 'article' %}">{% trans 'Read' %}<!--Читать--></a>
            </div>
          </div>
          <div class="articles__item articles__item_2 overflow-hidden bg lazy flex flex-ai-end relative text-c2" data-bg="/img/blog/items/2.webp">
            <div class="articles__item-tags absolute top-0 right-0">
              <div class="articles__item-status">{% trans 'updated' %}<!--обновлено--></div>
              <div class="articles__item-date">21.10.2023</div>
            </div>
            <div class="articles__item-text relative">
              <div class="articles__item-title">{% trans '7 steps to pay with cryptocurrency' %}<!--7 шагов для оплаты криптовалютой--></div>
              <div class="articles__item-desc">{% trans 'Technologies' %}<!--Технологии--></div><a class="articles__item-link text-underline" href="{% url 'article' %}">{% trans 'Read' %}<!--Читать--></a>
            </div>
          </div>
          <div class="articles__item articles__item_3 overflow-hidden">
            <div class="articles__item-text relative">
              <div class="articles__item-title text-c3">{% trans 'Changes in UAE legislation: new opportunities' %}<!--Изменение в законодательстве ОАЭ: новые возможности--></div>
              <div class="articles__item-tags absolute top-0 right-0">
                <div class="articles__item-date">21.10.2023</div>
              </div>
              <div class="articles__item-desc">{% trans 'Dubai news' %}<!--Новости Дубая--></div><a class="articles__item-link text-c3 text-underline" href="{% url 'article' %}">{% trans 'Read' %}<!--Читать--></a>
            </div>
            <div class="articles__item-img img_cover img_br">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/blog/items/3.webp"/><img class="lazy " width="351" height="194" src="" data-src="/img/blog/items/3.jpg" alt="" loading="lazy"/>
              </picture>
            </div>
          </div>
          <div class="articles__item articles__item_4 overflow-hidden bg lazy flex flex-ai-end relative text-c2" data-bg="/img/blog/items/4.webp">
            <div class="articles__item-tags absolute top-0 right-0">
              <div class="articles__item-date">21.10.2023</div>
            </div>
            <div class="articles__item-text relative">
              <div class="articles__item-title">{% trans '7 steps to pay with cryptocurrency' %}<!--7 шагов для оплаты криптовалютой--></div>
              <div class="articles__item-desc">{% trans 'xxx' %}<!--Technologies--></div><a class="articles__item-link text-underline" href="{% url 'article' %}">{% trans 'Read' %}<!--Читать--></a>
            </div>
          </div>
          <div class="articles__item articles__item_5 overflow-hidden flex flex-ai-center">
            <div class="articles__item-img img_cover img_br">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/blog/items/5.webp"/><img class="lazy " width="288" height="221" src="" data-src="/img/blog/items/5.jpg" alt="" loading="lazy"/>
              </picture>
            </div>
            <div class="articles__item-text relative">
              <div class="articles__item-title text-c3">{% trans 'Dubai: best places to live' %}<!--Дубай: лучшие районы для жизни--></div>
              <div class="articles__item-tags absolute top-0 right-0">
                <div class="articles__item-date">21.10.2023</div>
              </div>
              <div class="articles__item-desc">{% trans 'Life in Dubai' %}<!--Жизнь в Дубае--></div><a class="articles__item-link text-c3 text-underline" href="{% url 'article' %}">{% trans 'Read' %}<!--Читать--></a>
            </div>
          </div>
          <div class="articles__item articles__item_6 overflow-hidden flex flex-ai-center">
            <div class="articles__item-img img_cover img_br">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/blog/items/6.webp"/><img class="lazy " width="308" height="221" src="" data-src="/img/blog/items/6.jpg" alt="" loading="lazy"/>
              </picture>
            </div>
            <div class="articles__item-text relative">
              <div class="articles__item-title text-c3">{% trans 'Changes in UAE legislation: new opportunities' %}<!--Изменение в законодательстве ОАЭ: новые возможности--></div>
              <div class="articles__item-tags absolute top-0 right-0">
                <div class="articles__item-date">21.10.2023</div>
              </div>
              <div class="articles__item-desc">{% trans 'Dubai news' %}<!--Новости Дубая--></div><a class="articles__item-link text-c3 text-underline" href="{% url 'article' %}">{% trans 'Read' %}<!--Читать--></a>
            </div>
          </div>
        </div>
      </div>
      <div class="articles__load text-c3 text-underline margin-center text-500 cursor-pointer">{% trans 'Download' %}<!--Загрузить--><span>12</span> {% trans 'xxx' %}<!--из--> 103</div>
    </div>
  </div>
  <div class="telegram">
    <div class="container margin-center">
      <div class="telegram__item relative">
        <div class="telegram__subtitle text-center relative">{% trans 'with fresh news in Dubai' %}<!--со свежими новостями из мира Дубая--></div>
        <div class="section__title font-tenor text-c3 text-center relative">{% trans 'Telegram channel DADI' %}<!--Телеграм канал DADI--></div>
        <div class="telegram__btns flex flex-j-between margin-center relative flex-ai-center"><a class="telegram__btns-link text-c5 text-underline" href="#!">@channel_name</a><a class="p-btn flex flex-ai-center flex-j-center text-500" href="#!">{% trans 'Go to Telegram channel' %}<!--Перейти в канал--></a></div>
        <div class="telegram__img absolute bottom-0">
          <picture>
            <source type="image/webp" srcset="" data-srcset="/img/blog/telegram/iPhone.webp"/><img class="lazy " width="1002" height="484" src="" data-src="/img/blog/telegram/iPhone.jpg" alt="" loading="lazy"/>
          </picture>
        </div>
      </div>
    </div>
  </div>
  <div class="help help_second">

    {% trans 'Get an expert advice from Real Estate Professionals' as form_title %}<!--Получите консультацию от&nbsp;Профессионалов в сфере недвижимости-->
    {% trans 'Find real estate' as button_title %}
    {% include 'includes/feedback_forms/vladislav.html' %}

  </div>
</main>
{% endblock %}

<!-- Alerts -->
{% include 'partials/_alerts.html' %}