{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}

{% block title %} | Blog {% endblock %}

{% block content %}
<!-- Showcase -->
<main>
  <div class="main main_blog">
    <div class="container margin-center relative">
      <div class="main__item bg flex flex-ai-center flex-j-end flex-col relative text-c2 text-center overflow-hidden" style="background-image:url('/img/blog/bg.webp')">
        <div class="main__item-bg absolute top-0 left-0 w-full h-full"></div>
        <div class="main__item-title font-tenor relative">{% trans 'DADI Blog' %}<!--DADI Блог--></div>
        <div class="main__item-subtitle relative">{% trans 'Useful articles about life and real estate in Dubai' %}<!--Полезные статьи о жизни и недвижимости в Дубае--></div>
      </div>
    </div>
  </div>
  <div class="blog">
    <div class="container margin-center">
      <div class="articles__row flex flex-col">
        <div class="articles__row-item grid">
          {% include 'includes/blog/blog_page_module_1.html' %}
          {% include 'includes/blog/blog_page_module_2.html' %}
          {% include 'includes/blog/blog_page_module_3.html' %}
          {% include 'includes/blog/blog_page_module_4.html' %}
          {% include 'includes/blog/blog_page_module_5.html' %}
          {% include 'includes/blog/blog_page_module_6.html' %}
        </div>
      </div>
      <div class="articles__load text-c3 text-underline margin-center text-500 cursor-pointer">
        <span>
          {% if page_obj.has_other_pages %}
            <nav class="list-pages">
                <ul style="list-style-type: none;">
                    {% if page_obj.has_previous %}
                      <li style="float: left;" class="page-num">
                               <a href="?page={{ page_obj.previous_page_number }}">&nbsp;&lt;&nbsp;</a>
                      </li>
                    {% endif %}
                      {% for p in paginator.page_range %}
                         {% if page_obj.number == p %}
                            <li style="float: left;" class="page-num page-num-selected">&nbsp;{{ p }}&nbsp;</li>
                         {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
                            <li style="float: left;" class="page-num">
                                <a href="?page={{ p }}">&nbsp;{{ p }}&nbsp;</a>
                            </li>
                         {% endif %}
                      {% endfor %}
                    {% if page_obj.has_next %}
                      <li style="float: left;" class="page-num">
                               <a href="?page={{ page_obj.next_page_number }}">&nbsp;&gt;&nbsp;</a>
                      </li>
                    {% endif %}
                </ul>
            </nav>
          {% endif %}
        </span>
      </div>
    </div>
  </div>
  <div class="telegram">
    <div class="container margin-center">
      <div class="telegram__item relative">
        <div class="telegram__subtitle text-center relative">{% trans 'with fresh news in Dubai' %}<!--со свежими новостями из мира Дубая--></div>
        <div class="section__title font-tenor text-c3 text-center relative">{% trans 'Telegram channel DADI' %}<!--Телеграм канал DADI--></div>
        <div class="telegram__btns flex flex-j-between margin-center relative flex-ai-center">
            <a class="telegram__btns-link text-c5 text-underline" target="_blank" href="{{ our_company.telegram }}">{{ our_company.telegram }}</a>
            <a class="p-btn flex flex-ai-center flex-j-center text-500" target="_blank" href="{{ our_company.telegram }}">{% trans 'Go to Telegram channel' %}<!--Перейти в канал--></a>
        </div>
        <div class="telegram__img absolute bottom-0">
          <picture>
            <source type="image/webp" srcset="" data-srcset="/img/blog/telegram/iPhone.webp"/><img class="lazy " width="1002" height="484" src="" data-src="/img/blog/telegram/iPhone.jpg" alt="" loading="lazy"/>
          </picture>
        </div>
      </div>
    </div>
  </div>
  <div class="help help_second">

    {% trans 'Get an expert advice from Real Estate Professionals' as form_title %}<!--Получите консультацию от&nbsp;Профессионалов в сфере недвижимости-->
    {% trans 'Find real estate' as button_title %}
    {% include 'includes/feedback_forms/vladislav.html' %}

  </div>
</main>
{% endblock %}
