{% extends 'base.html' %}
{% load l10n %}
{% load i18n %}
{% load i18n_urls %}
{% load static %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} | About {% endblock %}

{% block content %}
<!-- Showcase -->
<main>
  <div class="dadi">
    <div class="container margin-center">
      <div class="dadi__row relative flex flex-j-between">
        <div class="dadi__img-left relative img_br img_full p-img img_cover">
          <picture>
            <source type="image/webp" srcset="/img/dadi/1.webp"/><img width="492" height="538" src="/img/dadi/1.jpg" alt="" loading="lazy"/>
          </picture>
          <picture>
            <source type="image/webp" srcset="/img/dadi/1_mb.webp"/><img width="254" height="250" src="/img/dadi/1_mb.jpg" alt="" loading="lazy"/>
          </picture>
        </div>
        <div class="dadi__img-right relative img_br img_full p-img img_cover">
          <picture>
            <source type="image/webp" srcset="/img/dadi/2.webp"/><img width="291" height="278" src="/img/dadi/2.jpg" alt="" loading="lazy"/>
          </picture>
          <picture>
            <source type="image/webp" srcset="/img/dadi/2_mb.webp"/><img width="160" height="97" src="/img/dadi/2_mb.jpg" alt="" loading="lazy"/>
          </picture>
        </div>
        <div class="dadi__title absolute p-img">
          <picture>
            <source type="image/webp" srcset="/img/dadi/dadi.webp"/><img width="511" height="193" src="/img/dadi/dadi.png" alt="" loading="lazy"/>
          </picture>
          <picture>
            <source type="image/webp" srcset="/img/dadi/dadi_mb.webp"/><img width="259" height="99" src="/img/dadi/dadi_mb.png" alt="" loading="lazy"/>
          </picture>
        </div>
        <div class="dadi__subtitle absolute">{% trans 'Progressive Real Estate Agency with an emphasis on service and comfort of our customers' %}<!--Прогрессивное агентство недвижимости с акцентом на сервис и комфорт наших клиентов--></div>
        <div class="dadi__items flex absolute">
          <div class="dadi__item">
            <div class="dadi__item-title uppercase font-tenor text-c3">{% trans 'Dadi properties' %}<!--Dadi properties--></div>
            <div class="dadi__item-desc">{% trans 'Full cycle of real estate management: valuation, sale, purchase, rental management and service, legal support' %}<!--Полный цикл управления недвижимостью: оценка, продажа, покупка, арендное управление и обслуживание, юридическое сопровождение--></div>
          </div>
          <div class="dadi__item">
            <div class="dadi__item-title uppercase font-tenor text-c3">{% trans 'DADI HOLIDAYS' %}<!--DADI HOLIDAYS--></div>
            <div class="dadi__item-desc">{% trans 'Rent apartments with 5* hotel service: booking service, personal assistant in the country, organization of excursions' %}<!--Аренда апартаментов с сервисом 5* отеля: букинг сервис, личный ассистент в стране, организация экскурсий--></div>
          </div>
          <div class="dadi__item">
            <div class="dadi__item-title uppercase font-tenor text-c3">{% trans 'DADI DESIGN' %}<!--DADI DESIGN--></div>
            <div class="dadi__item-desc">{% trans 'Finding repair and design team for apartments with no decoration.' %}<!--Подбор команды по ремонту и дизайну квартиры без отделки--></div><a class="dadi__item-link text-underline text-600 text-c3" href="#!">{% trans 'Case studies' %}<!--Смотреть кейсы--></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service">

    {% include 'includes/feedback_forms/building.html' %}

  </div>

  {% include 'includes/rent/rent_module.html' %}

  <div class="buy overflow-hidden">
    <div class="container margin-center">
      <div class="section__title font-tenor text-c3 text-center">{% trans 'Purchase' %}</div>

      {% include 'includes/buy/buy_row.html' %}

      <a class="p-btn flex flex-ai-center flex-j-center text-500" href="/buy">{% trans 'Go to Purchase catalogue' %}</a>
    </div>
  </div>
  <div class="principle">
      {% include 'includes/our_values/our_values.html' %}
  </div>

  <div class="team team_second">
      {% include 'includes/dadi_team/dadi_team.html' %}
  </div>

  <div class="help help_second">

    {% trans 'Get an expert advice from Real Estate Professionals' as form_title %}<!--Получите консультацию от&nbsp;Профессионалов в сфере недвижимости-->
    {% trans 'Find real estate' as button_title %}
    {% include 'includes/feedback_forms/vladislav.html' %}

  </div>
</main>
{% endblock %}
