{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->
<main>

  {% include 'includes/main/main_module.html' %}

  {% include 'includes/estate/estate_module.html' %}

  {% include 'includes/why/why_module.html' %}

  <div class="service">
    {% include 'includes/feedback_forms/building.html' %}
  </div>

  {% include 'includes/rent/rent_module.html' %}

  <div class="buy overflow-hidden">
    <div class="container margin-center">
      <div class="section__title font-tenor text-c3 text-center p-animate p-animate__up p-animate__splitt">{% trans 'Purchase' %}</div>

      {% include 'includes/buy/buy_row.html' %}

      <a class="p-btn flex flex-ai-center flex-j-center text-500" href="{% url 'buy' %}">{% trans 'Go to Purchase catalogue' %}</a>
    </div>
  </div>

  <div class="principle overflow-hidden">
    {% include 'includes/our_values/our_values.html' %}
  </div>

  {% include 'includes/reviews/reviews_module.html' %}

  {% include 'includes/blog/blog_module.html' %}

  <div class="get">
    {% include 'includes/feedback_forms/building_2.html' %}
  </div>

  {% include 'includes/catalog/catalog_module.html' %}

  <div class="team">
    {% include 'includes/dadi_team/dadi_team.html' %}
  </div>

  <div class="criterion">
    {% include 'includes/feedback_forms/building_3.html' %}
  </div>

</main>

{% endblock %}
