{% extends 'base.html' %}
{% load l10n %}
{% load i18n %}
{% load i18n_urls %}
{% load static %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %} | Favorites {% endblock %}

{% block content %}
<!-- Showcase -->
<main>
  <div class="estate overflow-hidden estate_fav">
    <div class="container margin-center">
      <div class="section__title font-tenor text-c3 text-center">{% trans 'Favorites' %}<!--Избранное--></div>
      <div class="estate_fav__tabs flex-j-center hidden">
        <div class="estate_fav__tab active">
          <div class="estate_fav__tab-title">{% trans 'Rent' %}<!--Аренда--></div>
            <svg width="101" height="2" viewBox="0 0 101 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1L101 1.00001" stroke="url(#paint0_linear_347_9137)"/>
              <defs>
              <linearGradient id="paint0_linear_347_9137" x1="0" y1="1" x2="101" y2="1.00001" gradientUnits="userSpaceOnUse">
              <stop stop-color="#4B97A1" stop-opacity="0"/>
              <stop offset="0.5" stop-color="#156B7F"/>
              <stop offset="1" stop-color="#4B97A1" stop-opacity="0"/>
              </linearGradient>
              </defs>
            </svg>
        </div>
        <div class="estate_fav__tab">
          <div class="estate_fav__tab-title">{% trans 'Buy' %}<!--Покупка--></div>
            <svg width="101" height="2" viewBox="0 0 101 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1L101 1.00001" stroke="url(#paint0_linear_347_91371)"/>
              <defs>
              <linearGradient id="paint0_linear_347_91371" x1="0" y1="1" x2="101" y2="1.00001" gradientUnits="userSpaceOnUse">
              <stop stop-color="#4B97A1" stop-opacity="0"/>
              <stop offset="0.5" stop-color="#156B7F"/>
              <stop offset="1" stop-color="#4B97A1" stop-opacity="0"/>
              </linearGradient>
              </defs>
            </svg>
        </div>
      </div>
      <div class="estate__items flex flex-col">
        <div class="estate__item relative w-full">
          <div class="estate__item-title">{% trans 'Rent' %}<!--Аренда--></div>
            {% include 'includes/rent/rent_ribbon.html' with go_to_rent_catalogue=False item_close=True %}
        </div>
        <div class="estate__item relative w-full">
          <div class="estate__item-title">{% trans 'Buy' %}<!--Покупка--></div>
            {% include 'includes/buy/buy_ribbon.html' with go_to_purchase_catalogue=False item_close=True %}
          </div>
        </div>
        <div class="rent-single__location">
          <div class="rent-single__location-title font-tenor section__title text-c3">{% trans 'Location' %}</div>
          <div class="contacts__item">
            <div class="contacts__item-subtitle"></div>
            <div class="contacts__item-iframe" id="map-canvas">
              <!-- google map here -->
            </div>
            <style>
              .contacts__item-iframe {
              height: 500px;
              }
            </style>
          </div>
        </div>

    </div>
  </div>

  {% include 'includes/feedback_forms/favorites.html' %}

  <div class="blog_second">
    {% include 'includes/blog/blog_module.html' %}
  </div>
</main>
{% include 'includes/google_map/script.html' %}
{% endblock %}
