{% extends 'base.html' %}
{% load i18n %}
{% load i18n_urls %}
{% load static %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %} | Favorites {% endblock %}

{% block content %}
<!-- Showcase -->
<main>
  <div class="estate overflow-hidden estate_fav">
    <div class="container margin-center">
      <div class="section__title font-tenor text-c3 text-center">{% trans 'Favorites' %}<!--Избранное--></div>
      <div class="estate_fav__tabs flex-j-center hidden">
        <div class="estate_fav__tab active">
          <div class="estate_fav__tab-title">{% trans 'Rent' %}<!--Аренда--></div>
            <svg width="101" height="2" viewBox="0 0 101 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1L101 1.00001" stroke="url(#paint0_linear_347_9137)"/>
              <defs>
              <linearGradient id="paint0_linear_347_9137" x1="0" y1="1" x2="101" y2="1.00001" gradientUnits="userSpaceOnUse">
              <stop stop-color="#4B97A1" stop-opacity="0"/>
              <stop offset="0.5" stop-color="#156B7F"/>
              <stop offset="1" stop-color="#4B97A1" stop-opacity="0"/>
              </linearGradient>
              </defs>
            </svg>
        </div>
        <div class="estate_fav__tab">
          <div class="estate_fav__tab-title">{% trans 'Buy' %}<!--Покупка--></div>
            <svg width="101" height="2" viewBox="0 0 101 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1L101 1.00001" stroke="url(#paint0_linear_347_91371)"/>
              <defs>
              <linearGradient id="paint0_linear_347_91371" x1="0" y1="1" x2="101" y2="1.00001" gradientUnits="userSpaceOnUse">
              <stop stop-color="#4B97A1" stop-opacity="0"/>
              <stop offset="0.5" stop-color="#156B7F"/>
              <stop offset="1" stop-color="#4B97A1" stop-opacity="0"/>
              </linearGradient>
              </defs>
            </svg>
        </div>
      </div>
      <div class="estate_fav__items hidden">
        <div class="estate_fav__item active">
          <div class="estate_fav__item-cards flex flex-wrap">
            {% if rent_listings %}
              {% for listing in rent_listings %}
                {% include 'includes/rent_card/rent_card_swiper.html' %}
              {% endfor %}
              {% else %}
                <div class="p-card_filter__image relative">
                  <div class="swiper">
                    <div class="swiper-wrapper">
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                  <div class="p-card_filter__title text-c5 text-500">{% trans 'No Offers Available' %}</div>
                </div>
           {% endif %}

          </div>
          <div class="p-pagination flex flex-j-center">
            <div class="p-pagination__item p-pagination__item_arrow p-pagination__item_prev">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/pagination/down-arrow.webp"/><img class="lazy " width="13" height="13" src="" data-src="/img/pagination/down-arrow.png" alt="" loading="lazy"/>
              </picture>
            </div>
            <div class="p-pagination__item active">1</div>
            <div class="p-pagination__item">2</div>
            <div class="p-pagination__item">3</div>
            <div class="p-pagination__item">4</div>
            <div class="p-pagination__item">5</div>
            <div class="p-pagination__item p-pagination__item_arrow p-pagination__item_next">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/pagination/down-arrow.webp"/><img class="lazy " width="13" height="13" src="" data-src="/img/pagination/down-arrow.png" alt="" loading="lazy"/>
              </picture>
            </div>
          </div>
        </div>
        <div class="estate_fav__item">
          <div class="estate_fav__item-cards flex flex-wrap">
            {% if rent_listings %}
              {% for listing in rent_listings %}
                {% include 'includes/rent_card/rent_card_swiper.html' %}
              {% endfor %}
              {% else %}
                <div class="p-card_filter__image relative">
                  <div class="swiper">
                    <div class="swiper-wrapper">
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                  <div class="p-card_filter__title text-c5 text-500">{% trans 'No Offers Available' %}</div>
                </div>
           {% endif %}
          </div>
          <div class="p-pagination flex flex-j-center">
            <div class="p-pagination__item p-pagination__item_arrow p-pagination__item_prev">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/pagination/down-arrow.webp"/><img class="lazy " width="13" height="13" src="" data-src="/img/pagination/down-arrow.png" alt="" loading="lazy"/>
              </picture>
            </div>
            <div class="p-pagination__item active">1</div>
            <div class="p-pagination__item">2</div>
            <div class="p-pagination__item">3</div>
            <div class="p-pagination__item">4</div>
            <div class="p-pagination__item">5</div>
            <div class="p-pagination__item p-pagination__item_arrow p-pagination__item_next">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/pagination/down-arrow.webp"/><img class="lazy " width="13" height="13" src="" data-src="/img/pagination/down-arrow.png" alt="" loading="lazy"/>
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="estate__items flex flex-col">
        <div class="estate__item relative w-full">
          <div class="estate__item-title">{% trans 'Rent' %}<!--Аренда--></div>
          <div class="estate__swiper relative">
            <div class="swiper">
              <div class="swiper-wrapper">

                {% if rent_listings %}
                  {% for listing in rent_listings %}
                    {% include 'includes/rent_card/rent_card_swiper.html' %}
                  {% endfor %}
                  {% else %}
                    <div class="p-card_filter__image relative">
                      <div class="swiper">
                        <div class="swiper-wrapper">
                        </div>
                      </div>
                      <div class="swiper-pagination"></div>
                      <div class="p-card_filter__title text-c5 text-500">{% trans 'No Offers Available' %}</div>
                    </div>
               {% endif %}

              </div>
            </div>
          </div>
        </div>
        <div class="estate__item relative w-full">
          <div class="estate__item-title">{% trans 'Buy' %}<!--Покупка--></div>

          {% include 'includes/buy/buy_ribbon.html' with go_to_purchase_catalogue=False %}

        </div>
      </div>
    </div>
  </div>

  {% include 'includes/feedback_forms/favorites.html' %}

  <div class="blog_second">
    {% include 'includes/blog/blog_module.html' %}
  </div>
</main>
{% endblock %}
