{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load l10n %}
{% load humanize %}

{% block title %} | Buy | {{ listing.title_a_en }} {% endblock %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
{% get_attr 'listing' 'title_a_'|add:LANGUAGE_CODE as listing_title %}
{% get_attr 'listing' 'description_a_'|add:LANGUAGE_CODE as listing_description %}
{% get_attr 'listing' 'status_a_'|add:LANGUAGE_CODE as listing_status %}
{% get_attr 'listing' 'developer_a_title_a_'|add:LANGUAGE_CODE as listing_developer_a_title %}

<!-- Showcase -->
<main>
  <div class="rent-single">
    <div class="container margin-center relative"><a class="rent-single__link text-underline flex" href="/buy">{% trans 'Catalog of residential complexes and developers' %}<!--Каталог ЖК и Застройщиков--></a>
      <div class="rent-single__title font-tenor text-c3">{{ listing_title }}</div>

      {% include 'includes/bookmarks/bookmarks_module.html' %}

      <div class="rent-single__top flex flex-wrap rent-single__top_2">
        <div class="rent-single__top-title text-c5 text-500">{% if listing.address %}{{ listing.address }}{% endif %}</div>
        <div class="rent-single__top-title text-c5 text-500">{% if listing.districts %}{{ listing.districts }}{% endif %}</div>
      </div>
      <div class="rent-single__images grid rent-single__images_2">
        <div class="rent-single__image img_cover img_full img_br">
          <picture>
            <source type="image/webp" srcset="media/{{ listing.photo_main }}"/><img width="474" height="317" src="media/{{ listing.photo_main }}" alt="" loading="lazy"/>
          </picture>
        </div>
        <div class="rent-single__image img_cover img_full img_br">
          {% if listing.photo_1 %}
          <picture>
            <source type="image/webp" srcset="media/{{ listing.photo_1 }}"/><img width="230" height="151" src="media/{{ listing.photo_1 }}" alt="" loading="lazy"/>
          </picture>
          {% endif %}
        </div>
        <div class="rent-single__image img_cover img_full img_br">
          {% if listing.photo_2 %}
          <picture>
            <source type="image/webp" srcset="media/{{ listing.photo_2 }}"/><img width="230" height="151" src="media/{{ listing.photo_2 }}" alt="" loading="lazy"/>
          </picture>
          {% endif %}
        </div>
        <div class="rent-single__image img_cover img_full img_br">
          {% if listing.photo_3 %}
          <picture>
            <source type="image/webp" srcset="media/{{ listing.photo_3 }}"/><img width="230" height="151" src="media/{{ listing.photo_3 }}g" alt="" loading="lazy"/>
          </picture>
          {% endif %}
        </div>
        <div class="rent-single__image img_cover img_full img_br">
          {% if listing.photo_4 %}
          <picture>
            <source type="image/webp" srcset="media/{{ listing.photo_4 }}"/><img width="230" height="151" src="media/{{ listing.photo_4 }}" alt="" loading="lazy"/>
          </picture>
          {% endif %}
        </div>
      </div>
      <div class="rent-single__row flex rent-single__row_2">
        <div class="rent-single__left">
          <div class="rent-single__tabs flex flex-col rent-single__tabs_2">
            {% if br_prices %}
            <div class="rent-single__tabs-block flex">
              <div class="rent-single__tab-tops flex overflow-hidden rent-single__tab-tops_price">
                <div class="rent-single__tab-top active">₽</div>
                <div class="rent-single__tab-top">$</div>
                <div class="rent-single__tab-top">€</div>
              </div>
              <div class="rent-single__tab-tops flex overflow-hidden rent-single__tab-tops_second">
                <div class="rent-single__tab-top active">{% trans 'sq. m' %}<!--кв. м--></div>
                <div class="rent-single__tab-top">{% trans 'sq. ft' %}<!--кв. фут--></div>
              </div>
            </div>
            {% endif %}
            <div class="rent-single__tab-contents">
              <div class="rent-single__tab-content active">
                {% if br_prices %}
                <div class="rent-single__days">
                  <div class="rent-single__day flex flex-wrap active">
                    <div class="rent-single__day-left">₽{{ min_price_rub }}</div>
                    <div class="rent-single__day-right">
                      <div class="rent-single__day-seconds">
                        <div class="rent-single__day-second active">₽{{ min_price_m2_rub }} {% trans 'for sq. m' %}<!--за кв. м--></div>
                        <div class="rent-single__day-second">₽{{ min_price_ft2_rub }} {% trans 'for sq. ft' %}<!--за кв. фут--></div>
                      </div>
                    </div>
                  </div>
                  <div class="rent-single__day flex flex-wrap">
                    <div class="rent-single__day-left">${{ min_price_usd }}</div>
                    <div class="rent-single__day-right">
                      <div class="rent-single__day-seconds">
                        <div class="rent-single__day-second active">${{ min_price_m2_usd }} {% trans 'for sq. m' %}<!--за кв. м--></div>
                        <div class="rent-single__day-second">${{ min_price_ft2_usd }} {% trans 'for sq. ft' %}<!--за кв. фут--></div>
                      </div>
                    </div>
                  </div>
                  <div class="rent-single__day flex flex-wrap">
                    <div class="rent-single__day-left">€{{ min_price_eur }}</div>
                    <div class="rent-single__day-right">
                      <div class="rent-single__day-seconds">
                        <div class="rent-single__day-second active">€{{ min_price_m2_eur }} {% trans 'for sq. m' %}<!--за кв. м--></div>
                        <div class="rent-single__day-second">€{{ min_price_ft2_eur }} {% trans 'for sq. ft' %}<!--за кв. фут--></div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                <div class="rent-single__edges flex flex-wrap rent-single__edges_2">
                  <div class="rent-single__edges-item flex flex-ai-end">
                    <div class="rent-single__edges-img">
                      <picture>
                        <source type="image/webp" srcset="" data-srcset="/img/rent/single/edges/1.webp"/><img class="lazy " width="28" height="28" src="" data-src="/img/rent/single/edges/1.png" alt="" loading="lazy"/>
                      </picture>
                    </div>
                    <div class="rent-single__edges-text">
                      <div class="rent-single__edges-title">{% trans 'square' %}<!--площадь--></div>
                      <div class="rent-single__edges-subtitle">{% trans 'from' %} {{ min_area_m2 }} {% trans 'sq. m' %}</div>
                    </div>
                  </div>
                  <div class="rent-single__edges-item flex flex-ai-end">
                    <div class="rent-single__edges-img">
                      <picture>
                        <source type="image/webp" srcset="" data-srcset="/img/rent/single/edges/2.webp"/><img class="lazy " width="27" height="27" src="" data-src="/img/rent/single/edges/2.png" alt="" loading="lazy"/>
                      </picture>
                    </div>
                    <div class="rent-single__edges-text">
                      <div class="rent-single__edges-title">{% trans 'Status' %}<!--Статус--></div>
                      <div class="rent-single__edges-subtitle">{% if listing_status %}{{ listing_status }}{% endif %}</div>
                    </div>
                  </div>
                  <!--
                  <div class="rent-single__edges-item flex flex-ai-end">
                    <div class="rent-single__edges-img">
                      <picture>
                        <source type="image/webp" srcset="" data-srcset="/img/rent/single/edges/2.webp"/><img class="lazy " width="27" height="27" src="" data-src="/img/rent/single/edges/2.png" alt="" loading="lazy"/>
                      </picture>
                    </div>
                    <div class="rent-single__edges-text">
                      <div class="rent-single__edges-title">Этажность</div>
                      <div class="rent-single__edges-subtitle">40</div>
                    </div>
                  </div>
                  -->
                  <div class="rent-single__edges-item flex flex-ai-end">
                    <div class="rent-single__edges-img">
                      <picture>
                        <source type="image/webp" srcset="" data-srcset="/img/rent/single/edges/6.webp"/><img class="lazy " width="26" height="26" src="" data-src="/img/rent/single/edges/6.png" alt="" loading="lazy"/>
                      </picture>
                    </div>
                    <div class="rent-single__edges-text">
                      <div class="rent-single__edges-title">{% trans 'Developer' %}<!--Застройщик--></div>
                      <div class="rent-single__edges-subtitle">{% if listing_developer_a_title %}{{ listing_developer_a_title }}{% endif %}</div>
                    </div>
                  </div>
                  <div class="rent-single__edges-item flex flex-ai-end">
                    <div class="rent-single__edges-img">
                      <picture>
                        <source type="image/webp" srcset="" data-srcset="/img/rent/single/edges/3.webp"/><img class="lazy " width="32" height="32" src="" data-src="/img/rent/single/edges/3.png" alt="" loading="lazy"/>
                      </picture>
                    </div>
                    <div class="rent-single__edges-text">
                      <div class="rent-single__edges-title">{% trans 'Delivery' %}<!--Сдача--></div>
                      <div class="rent-single__edges-subtitle">{% if listing.planned_completion %}{{ listing.planned_completion }}{% else %} {% endif %}</div>
                    </div>
                  </div>
                </div>
                <div class="rent-single__desc rent-single__desc_2">{% if listing_description %}{{ listing_description|safe }}{% endif %}</div>
                <!--
                <div class="rent-single__floor">
                  <div class="rent-single__floor-title section__title font-tenor text-c3">План этажа</div>
                  <div class="rent-single__floor-row flex">
                    <div class="rent-single__floor-left relative">
                      <div class="swiper">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <picture>
                              <source type="image/webp" srcset="" data-srcset="/img/rent/single/floor/1.webp"/><img class="lazy " width="444" height="300" src="" data-src="/img/rent/single/floor/1.jpg" alt="" loading="lazy"/>
                            </picture>
                          </div>
                          <div class="swiper-slide">
                            <picture>
                              <source type="image/webp" srcset="" data-srcset="/img/rent/single/floor/1.webp"/><img class="lazy " width="444" height="300" src="" data-src="/img/rent/single/floor/1.jpg" alt="" loading="lazy"/>
                            </picture>
                          </div>
                          <div class="swiper-slide">
                            <picture>
                              <source type="image/webp" srcset="" data-srcset="/img/rent/single/floor/1.webp"/><img class="lazy " width="444" height="300" src="" data-src="/img/rent/single/floor/1.jpg" alt="" loading="lazy"/>
                            </picture>
                          </div>
                        </div>
                      </div>
                      <div class="rent-single__floor-arrows flex">
                        <div class="swiper-button swiper-button-prev">
                          <picture>
                            <source type="image/webp" srcset="" data-srcset="/img/rent/single/floor/left.webp"/><img class="lazy " width="18" height="18" src="" data-src="/img/rent/single/floor/left.png" alt="" loading="lazy"/>
                          </picture>
                        </div>
                        <div class="swiper-button swiper-button-next">
                          <picture>
                            <source type="image/webp" srcset="" data-srcset="/img/rent/single/floor/right.webp"/><img class="lazy " width="18" height="18" src="" data-src="/img/rent/single/floor/right.png" alt="" loading="lazy"/>
                          </picture>
                        </div>
                      </div>
                    </div>
                    <div class="rent-single__floor-right">
                      <div class="rent-single__floor-list flex flex-col">
                        <div class="rent-single__floor-li flex flex-ai-center">
                          <div class="rent-single__floor-svg bg-c5 flex flex-ai-center flex-j-center">
                            <picture>
                              <source type="image/webp" srcset="" data-srcset="/img/rent/single/edges/7.webp"/><img class="lazy " width="16" height="16" src="" data-src="/img/rent/single/edges/7.png" alt="" loading="lazy"/>
                            </picture>
                          </div>
                          <div class="rent-single__floor-subtitle">Спальни: 1</div>
                        </div>
                        <div class="rent-single__floor-li flex flex-ai-center">
                          <div class="rent-single__floor-svg bg-c5 flex flex-ai-center flex-j-center">
                            <picture>
                              <source type="image/webp" srcset="" data-srcset="/img/rent/single/edges/bath.webp"/><img class="lazy " width="17" height="17" src="" data-src="/img/rent/single/edges/bath.png" alt="" loading="lazy"/>
                            </picture>
                          </div>
                          <div class="rent-single__floor-subtitle">Ванная комната: 1</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                -->
                {% if amenities %}
                  <div class="rent-single__advs-subtitle section__title font-tenor text-c3">{% trans 'Amenities' %}<!--Удобства--></div>
                  <div class="rent-single__advs flex flex-wrap rent-single__advs_2">

                      {% for amenity in amenities %}
                        {% include 'includes/amenities/amenity.html' %}
                      {% endfor %}

                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% if listing.address %}
            <div class="rent-single__location">
              <div class="rent-single__location-title font-tenor section__title text-c3">{% trans 'Location' %}<!--Местоположение--></div>
              <div class="rent-single__location-item" id="rent-single__map-item"></div>

              <div class="contacts__item">
                <div class="contacts__item-subtitle">{{ listing.address|safe }}</div>
                <div class="contacts__item-iframe">
                  <iframe class="lazy" width="697" height="252" src="" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10206.085294199549!2d55.31710806150708!3d25.257258873607665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5cd1a71d6b2d%3A0xef3b0742be39f2a5!2zQWwgR3VyZyB0b3dlciAzLDEydGggZmxvb3IgLFZGUyBHbG9iYWwgLSA3IEJhbml5YXMgUmQgLSBEZWlyYSAtIEZsb29yIDUgLSBEdWJhaSAtINCe0LHRitC10LTQuNC90LXQvdC90YvQtSDQkNGA0LDQsdGB0LrQuNC1INCt0LzQuNGA0LDRgtGL!5e0!3m2!1sru!2sru!4v1703080678395!5m2!1sru!2sru" loading="lazy"></iframe>
                </div>
              </div>
              <!--
              <div class="rent-single__location-desc">
                <p>15 мин до аэропорта Название</p>
                <p>10 мин до метро Название</p>
                <p>Достопримечательности рядом: Перечисление</p>
              </div>
              -->
            </div>
          {% endif %}
        </div>
        {% if realtor %}
           {% include 'includes/realtor/realtor_card.html' %}
        {% endif %}
      </div>
    </div>
  </div>
  <!--
  <div class="rent-dev">
    <div class="container margin-center">
      <div class="rent-dev__title section__title font-tenor text-c3">Застройщик</div>
      <div class="rent-dev__row flex">
        <div class="rent-dev__left">
          <div class="rent-dev__img flex-shrink img_cover img_br">
            <picture>
              <source type="image/webp" srcset="{{ listing.developer_a_logo }}" data-srcset=""/><img class="lazy " width="284" height="289" src="" data-src="{{ listing.developer_a_logo }}" alt="" loading="lazy"/>
            </picture>
          </div>
        </div>
        <div class="rent-dev__right">
          <div class="rent-dev__text">
            <div class="rent-dev__desc">Damac Properties — дубайская девелоперская компания, работающая на рынке элитной недвижимости с 2002 года. В ее портфеле жилые комплексы премиум-класса, офисные здания и 5-звёздочные отели в Арабских Эмиратах, Китае, Ливанской республике, Иордании и Великобритании.</div>
            <div class="rent-dev__list flex">
              <div class="rent-dev__list-li">
                <div class="rent-dev__list-num text-c5 text-500">2001</div>
                <div class="rent-dev__list-title">год основания</div>
              </div>
              <div class="rent-dev__list-li">
                <div class="rent-dev__list-num text-c5 text-500">81 дом</div>
                <div class="rent-dev__list-title">сдан в 18 ЖК</div>
              </div>
              <div class="rent-dev__list-li">
                <div class="rent-dev__list-num text-c5 text-500">10 домов</div>
                <div class="rent-dev__list-title">10 домов</div>
              </div>
            </div><a class="rent-dev__btn p-btn flex flex-ai-center flex-j-center text-500" href="/zastroischik">Подробнее о застройщике</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
  <!--
  <div class="rent-single__plan rent-single__plan_second">
    <div class="container margin-center">
      <div class="rent-single__plan-top flex flex-ai-center">
        <div class="rent-single__plan-title section__title text-c3 font-tenor">План платежей</div>
        <div class="rent-single__plan-btn text-c5 flex flex-ai-center flex-j-center">Стоимость от 312.300.000 р</div>
      </div>
      <div class="rent-single__plan-items flex flex-col w-full">
        <div class="rent-single__plan-item flex flex-j-between w-full flex-ai-center">
          <div class="rent-single__plan-left">Первоначальный взнос</div>
          <div class="rent-single__plan-center text-c5">20%</div>
          <div class="rent-single__plan-right">6.246.000 р</div>
        </div>
        <div class="rent-single__plan-item flex flex-j-between w-full flex-ai-center">
          <div class="rent-single__plan-left">В течение строительства</div>
          <div class="rent-single__plan-center text-c5">60%</div>
          <div class="rent-single__plan-right">187.380.000 р</div>
        </div>
        <div class="rent-single__plan-item flex flex-j-between w-full flex-ai-center">
          <div class="rent-single__plan-left">После завершения строительства</div>
          <div class="rent-single__plan-center text-c5">20%</div>
          <div class="rent-single__plan-right">6.246.000 р</div>
        </div>
      </div>
    </div>
  </div>
  -->
  <div class="help help_second">

    {% trans 'Get an expert advice from Real Estate Professionals' as form_title %}<!--Получите консультацию от&nbsp;Профессионалов в сфере недвижимости-->
    {% trans 'Find real estate' as button_title %}
    {% include 'includes/feedback_forms/vladislav.html' %}

  </div>
  <div class="estate overflow-hidden offers">
    <div class="container margin-center">
      <div class="section__title font-tenor text-c3">{% trans 'Other projects' %}<!--Другие проекты--></div>
      <div class="estate__items flex flex-col">
        <div class="estate__item relative w-full">

          {% include 'includes/buy/buy_ribbon.html' with go_to_purchase_catalogue=True %}

        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
