{% extends 'base.html' %}
{% load l10n %}
{% load i18n %}
{% load i18n_urls %}
{% load static %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %} | Catalogs {% endblock %}

{% block content %}
<main>
  <div class="catalogs overflow-hidden">
    <div class="container margin-center">
      <div class="catalogs__item relative">
        <div class="catalogs__item-subtitle text-c5 uppercase relative text-center">{% trans 'DADI REAL ESTATE' %}<!--DADI REAL ESTATE--></div>
        <div class="catalogs__item-title text-c3 font-tenor relative text-center">{% trans 'Real Estate Catalogs in Dubai' %}<!--Каталоги недвижимости в Дубае--></div>
        <div class="catalogs__item-img absolute bottom-0 p-img">
          <picture>
            <source type="image/webp" srcset="/img/catalogs/main/bg.webp"/><img width="1023" height="509" src="/img/catalogs/main/bg.png" alt="" loading="lazy"/>
          </picture>
          <picture>
            <source type="image/webp" srcset="/img/catalogs/main/bg_mb.webp"/><img width="691" height="521" src="/img/catalogs/main/bg_mb.png" alt="" loading="lazy"/>
          </picture>
        </div>
      </div>
    </div>
  </div>

  {% include 'includes/catalog/catalog_module.html' %}

  <div class="estate overflow-hidden catalogs_estate">
    <div class="container margin-center">
      <div class="section__title font-tenor text-c3">{% trans 'Residential complexes' %}<!--Комплексы--></div>
      <div class="estate__items flex flex-col">
        <div class="estate__item relative w-full">

          {% include 'includes/buy/buy_ribbon.html' with go_to_purchase_catalogue=True %}

        </div>
      </div>
    </div>
  </div>


  {% include 'includes/developers/developers_module.html' %}

  <div class="catalog-cons">

    {% include 'includes/feedback_forms/building_4.html' %}

  </div>
</main>
{% endblock %}
