{% extends 'base.html' %}

{% load humanize %}

{% block title %} | Catalogs {% endblock %}

{% block content %}
<main>
  <div class="catalogs overflow-hidden">
    <div class="container margin-center">
      <div class="catalogs__item relative">
        <div class="catalogs__item-subtitle text-c5 uppercase relative text-center">DADI REAL ESTATE</div>
        <div class="catalogs__item-title text-c3 font-tenor relative text-center">Каталоги недвижимости в Дубае</div>
        <div class="catalogs__item-img absolute bottom-0 p-img">
          <picture>
            <source type="image/webp" srcset="img/catalogs/main/bg.webp"/><img width="1023" height="509" src="img/catalogs/main/bg.png" alt="" loading="lazy"/>
          </picture>
          <picture>
            <source type="image/webp" srcset="img/catalogs/main/bg_mb.webp"/><img width="691" height="521" src="img/catalogs/main/bg_mb.png" alt="" loading="lazy"/>
          </picture>
        </div>
      </div>
    </div>
  </div>
  <div class="best overflow-hidden">
    <div class="container margin-center">
      <div class="section__title font-tenor text-c3">Каталоги лучшей недвижимости Дубая 2023-2024</div>
      <div class="best__swiper relative">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="best__item relative">
                <div class="best__item-link absolute top-0 right-0 text-c2 flex flex-ai-center flex-j-center text-center modal__show" data-modal="pdf">Скачать PDF</div>
                <div class="best__item-img img_br img_cover">
                  <picture>
                    <source type="image/webp" srcset="" data-srcset="img/main/best/1.webp"/><img class="lazy " width="281" height="265" src="" data-src="img/main/best/1.jpg" alt="" loading="lazy"/>
                  </picture>
                </div>
                <div class="best__item-title text-c5 text-500">Название каталога</div>
                <div class="best__item-subtitle">Короткое описание каталога или проекта, что внутри</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="best__item relative">
                <div class="best__item-link absolute top-0 right-0 text-c2 flex flex-ai-center flex-j-center text-center modal__show" data-modal="pdf">Скачать PDF</div>
                <div class="best__item-img img_br img_cover">
                  <picture>
                    <source type="image/webp" srcset="" data-srcset="img/main/best/1.webp"/><img class="lazy " width="281" height="265" src="" data-src="img/main/best/1.jpg" alt="" loading="lazy"/>
                  </picture>
                </div>
                <div class="best__item-title text-c5 text-500">Название каталога</div>
                <div class="best__item-subtitle">Короткое описание каталога или проекта, что внутри</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="best__item relative">
                <div class="best__item-link absolute top-0 right-0 text-c2 flex flex-ai-center flex-j-center text-center modal__show" data-modal="pdf">Скачать PDF</div>
                <div class="best__item-img img_br img_cover">
                  <picture>
                    <source type="image/webp" srcset="" data-srcset="img/main/best/1.webp"/><img class="lazy " width="281" height="265" src="" data-src="img/main/best/1.jpg" alt="" loading="lazy"/>
                  </picture>
                </div>
                <div class="best__item-title text-c5 text-500">Название каталога</div>
                <div class="best__item-subtitle">Короткое описание каталога или проекта, что внутри</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="best__item relative">
                <div class="best__item-link absolute top-0 right-0 text-c2 flex flex-ai-center flex-j-center text-center modal__show" data-modal="pdf">Скачать PDF</div>
                <div class="best__item-img img_br img_cover">
                  <picture>
                    <source type="image/webp" srcset="" data-srcset="img/main/best/1.webp"/><img class="lazy " width="281" height="265" src="" data-src="img/main/best/1.jpg" alt="" loading="lazy"/>
                  </picture>
                </div>
                <div class="best__item-title text-c5 text-500">Название каталога</div>
                <div class="best__item-subtitle">Короткое описание каталога или проекта, что внутри</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="best__item relative">
                <div class="best__item-link absolute top-0 right-0 text-c2 flex flex-ai-center flex-j-center text-center modal__show" data-modal="pdf">Скачать PDF</div>
                <div class="best__item-img img_br img_cover">
                  <picture>
                    <source type="image/webp" srcset="" data-srcset="img/main/best/1.webp"/><img class="lazy " width="281" height="265" src="" data-src="img/main/best/1.jpg" alt="" loading="lazy"/>
                  </picture>
                </div>
                <div class="best__item-title text-c5 text-500">Название каталога</div>
                <div class="best__item-subtitle">Короткое описание каталога или проекта, что внутри</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="best__item relative">
                <div class="best__item-link absolute top-0 right-0 text-c2 flex flex-ai-center flex-j-center text-center modal__show" data-modal="pdf">Скачать PDF</div>
                <div class="best__item-img img_br img_cover">
                  <picture>
                    <source type="image/webp" srcset="" data-srcset="img/main/best/1.webp"/><img class="lazy " width="281" height="265" src="" data-src="img/main/best/1.jpg" alt="" loading="lazy"/>
                  </picture>
                </div>
                <div class="best__item-title text-c5 text-500">Название каталога</div>
                <div class="best__item-subtitle">Короткое описание каталога или проекта, что внутри</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="best__item relative">
                <div class="best__item-link absolute top-0 right-0 text-c2 flex flex-ai-center flex-j-center text-center modal__show" data-modal="pdf">Скачать PDF</div>
                <div class="best__item-img img_br img_cover">
                  <picture>
                    <source type="image/webp" srcset="" data-srcset="img/main/best/1.webp"/><img class="lazy " width="281" height="265" src="" data-src="img/main/best/1.jpg" alt="" loading="lazy"/>
                  </picture>
                </div>
                <div class="best__item-title text-c5 text-500">Название каталога</div>
                <div class="best__item-subtitle">Короткое описание каталога или проекта, что внутри</div>
              </div>
            </div>
          </div>
        </div>
        <div class="main_swiper-arrows flex absolute">
          <div class="swiper-button swiper-button-prev flex flex-ai-center flex-j-center">
            <picture>
              <source type="image/webp" srcset="" data-srcset="img/main/estate/arrow-left.webp"/><img class="lazy " width="18" height="18" src="" data-src="img/main/estate/arrow-left.png" alt="" loading="lazy"/>
            </picture>
          </div>
          <div class="swiper-button swiper-button-next flex flex-ai-center flex-j-center">
            <picture>
              <source type="image/webp" srcset="" data-srcset="img/main/estate/arrow-right.webp"/><img class="lazy " width="18" height="18" src="" data-src="img/main/estate/arrow-right.png" alt="" loading="lazy"/>
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="estate overflow-hidden catalogs_estate">
    <div class="container margin-center">
      <div class="section__title font-tenor text-c3">Комплексы</div>
      <div class="estate__items flex flex-col">
        <div class="estate__item relative w-full">
          <div class="estate__swiper relative">
            <div class="swiper">
              <div class="swiper-wrapper">
                {% if listings %}
                {% for listing in listings %}
                  {% include 'includes/offer_card/offer_card_swiper.html' %}
                {% endfor %}
                {% else %}
                  <div class="col-md-12">
                    <p>No Offers Available</p>
                  </div>
                {% endif %}
                <div class="swiper-slide"><a class="p-card w-full h-full text-center text-c2 bg-c3 p-card__abs flex flex-ai-center flex-j-center" href="/buy">
                    <div class="p-card__abs-link margin-center">Перейти в каталог Покупки</div></a></div>
                </div>
              </div>
            </div>
            <div class="main_swiper-arrows flex absolute">
              <div class="swiper-button swiper-button-prev flex flex-ai-center flex-j-center">
                <picture>
                  <source type="image/webp" srcset="" data-srcset="img/main/estate/arrow-left.webp"/><img class="lazy " width="18" height="18" src="" data-src="img/main/estate/arrow-left.png" alt="" loading="lazy"/>
                </picture>
              </div>
              <div class="swiper-button swiper-button-next flex flex-ai-center flex-j-center">
                <picture>
                  <source type="image/webp" srcset="" data-srcset="img/main/estate/arrow-right.webp"/><img class="lazy " width="18" height="18" src="" data-src="img/main/estate/arrow-right.png" alt="" loading="lazy"/>
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="devs overflow-hidden">
    <div class="container margin-center">
      <div class="section__title font-tenor text-c3 text-center">Застройщики</div>
    </div>
    <div class="devs__items flex flex-col">
      <div class="devs__item flex img_cover img_br">
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/1.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/1.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/2.webp"/><img class="lazy " width="128" height="126" src="" data-src="img/catalogs/devs/2.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/3.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/3.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/4.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/4.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/5.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/5.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/6.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/6.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/7.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/7.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/1.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/1.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/2.webp"/><img class="lazy " width="128" height="126" src="" data-src="img/catalogs/devs/2.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/3.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/3.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/4.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/4.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/5.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/5.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/6.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/6.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/7.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/7.jpg" alt="" loading="lazy"/>
        </picture>
      </div>
      <div class="devs__item devs__item_reverse flex img_cover img_br">
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/8.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/8.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/9.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/9.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/10.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/10.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/11.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/11.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/12.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/12.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/13.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/13.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/8.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/8.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/9.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/9.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/10.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/10.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/11.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/11.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/12.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/12.jpg" alt="" loading="lazy"/>
        </picture>
        <picture>
          <source type="image/webp" srcset="" data-srcset="img/catalogs/devs/13.webp"/><img class="lazy " width="300" height="126" src="" data-src="img/catalogs/devs/13.jpg" alt="" loading="lazy"/>
        </picture>
      </div>
    </div>
  </div>
  <div class="catalog-cons">
    <div class="container margin-center">
      <div class="catalog-cons__item relative">
        <div class="catalog-cons__img-left absolute bottom-0 left-0 p-img">
          <picture>
            <source type="image/webp" srcset="" data-srcset="img/catalogs/cons/left.webp"/><img class="lazy " width="991" height="653" src="" data-src="img/catalogs/cons/left.png" alt="" loading="lazy"/>
          </picture>
          <picture>
            <source type="image/webp" srcset="" data-srcset="img/catalogs/cons/left_mb.webp"/><img class="lazy " width="332" height="309" src="" data-src="img/catalogs/cons/left_mb.png" alt="" loading="lazy"/>
          </picture>
        </div>
        <form class="relative">
          <div class="catalog-cons__text relative">
            <div class="catalog-cons__title">Получите консультацию по Застройщикам и лучшим проектам</div>
            <div class="catalog-cons__subtitle">Оставьте свои данные и&nbsp;<span class="text-c5">мы&nbsp;ответим на все вопросы </span></div>
            <div class="catalog-cons__inputs flex">
              <div class="form__input">
                <input type="text" name="name" placeholder="Ваше имя" required="required"/>
              </div>
              <div class="form__input">
                <input type="tel" name="tel" placeholder="8 999 999 99 99" required="required"/>
              </div>
              <div class="form__input">
                <div class="p-select relative">
                  <div class="p-select__current flex flex-ai-center flex-j-between">
                    <input type="hidden" name="request" value="Позвонить мне"/>
                    <div class="p-select__current-item">Позвонить мне</div>
                    <div class="p-select__current-arrow">
                      <picture>
                        <source type="image/webp" srcset="" data-srcset="img/main/get/arrow.webp"/><img class="lazy " width="17" height="17" src="" data-src="img/main/get/arrow.png" alt="" loading="lazy"/>
                      </picture>
                    </div>
                  </div>
                  <div class="p-select__abs absolute flex flex-col">
                    <div class="p-select__abs-item active" data-value="Позвонить мне">Позвонить мне</div>
                    <div class="p-select__abs-item" data-value="Написать мне">Написать мне</div>
                    <div class="p-select__abs-item" data-value="Написать позже">Написать позже</div>
                    <div class="p-select__abs-item" data-value="Позвонить позже">Позвонить позже</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="get__item-end">
              <button class="p-btn flex flex-ai-center flex-j-center text-500" type="submit">Получить консультацию</button>
              <label class="p-check flex flex-ai-center">
                <input type="checkbox" name="check" checked="checked"/><span class="p-check__square flex flex-j-center flex-ai-center flex-shrink">
                  <picture>
                    <source type="image/webp" srcset="" data-srcset="img/main/get/check.webp"/><img class="lazy " width="13" height="13" src="" data-src="img/main/get/check.png" alt="" loading="lazy"/>
                  </picture></span><span class="p-check__title">Отправляя форму, вы даёте согласие на обработку персональных данных</span>
              </label>
            </div>
            <div class="modal__socials flex flex-wrap flex-j-end"><a class="modal__socials-item flex flex-ai-center" href="https://wa.me/971524476830?text=Hello! I’m interested in a real estate in Dubai.">
                <div class="modal__socials-title">Написать в <span class="text-underline">WhatsApp</span></div>
                <div class="modal__socials-svg">
                  <picture>
                    <source type="image/webp" srcset="" data-srcset="img/modal/type/what.webp"/><img class="lazy " width="18" height="18" src="" data-src="img/modal/type/what.png" alt="" loading="lazy"/>
                  </picture>
                </div></a><a class="modal__socials-item flex flex-ai-center" href="#!">
                <div class="modal__socials-title">+971 4 585 9538</div>
                <div class="modal__socials-svg">
                  <picture>
                    <source type="image/webp" srcset="" data-srcset="img/modal/type/call.webp"/><img class="lazy " width="21" height="21" src="" data-src="img/modal/type/call.png" alt="" loading="lazy"/>
                  </picture>
                </div></a><a class="modal__socials-item flex flex-ai-center" href="#!">
                <div class="modal__socials-title">Написать в <span class="text-underline">Telegram</span></div>
                <div class="modal__socials-svg">
                  <picture>
                    <source type="image/webp" srcset="" data-srcset="img/modal/type/tel.webp"/><img class="lazy " width="17" height="17" src="" data-src="img/modal/type/tel.png" alt="" loading="lazy"/>
                  </picture>
                </div></a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}

<!-- Alerts -->
{% include 'partials/_alerts.html' %}