{% extends 'base.html' %}
{% load l10n %}
{% load i18n %}
{% load i18n_urls %}
{% load static %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %} | Personal Area {% endblock %}

{% block content %}
<!-- Showcase -->

<main>
  <div class="cabinet">
    <div class="container margin-center">
      <div class="cabinet__top relative">
        <div class="cabinet__top-title text-500 text-c5">{{ user.first_name }} {{ user.last_name }}</div>
        <div class="cabinet__top-mail">{{ user.email }}</div>
        {% if user.profile.phone %}
          <div class="cabinet__top-tel">{{ user.profile.phone }}</div>
        {% endif %}
        <div class="cabinet__top-right absolute flex flex-ai-center">
          <a class="cabinet__top-link p-btn flex flex-ai-center flex-j-center text-500 cursor-pointer" href="#!">{% trans 'Edit' %}</a>
          <div class="cabinet__top-icon">
              <svg width="21" height="4" viewBox="0 0 21 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0.351562" width="4" height="4" rx="2" fill="#282828"/>
                  <rect x="8.35156" width="4" height="4" rx="2" fill="#282828"/>
                  <rect x="16.3516" width="4" height="4" rx="2" fill="#282828"/>
              </svg>
          </div>
        </div>
      </div>
      <div class="cabinet__items-title text-500 text-c3">{% trans 'Reservations' %}</div>

      <div class="cabinet__items flex flex-wrap">
        {% if reservations %}
            {% for reservation in reservations %}
                {% include 'includes/reservations/reservation_card.html' %}
            {% endfor %}
        {% else %}
          <div class="cabinet__item">
            <div class="cabinet__item-top flex">
              {% trans 'No reservations' %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}