{% load l10n %}
{% load i18n %}
{% load i18n_urls %}
{% load static %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %} | Cancellation Policy {% endblock %}

{% block content %}
<!-- Showcase -->
<main>
  <div class="p-page section">
    <div class="container margin-center">
      <h1 class="p-page__title">Соглашение о Политике Отмены Бронирования Аренды Онлайн Форма</h1>
      <div class="p-page__desc flex flex-col">
        <h2>1. Условия Срока Отмены</h2>
        <p>Сторона (далее именуемая как "Клиент") имеет право отменить бронирование без взимания финансовых санкций до 72 часов до запланированного времени заезда согласно данному Соглашению. Любые запросы на отмену, поданные после указанного периода, обязывают Клиента к уплате компенсационного сбора в соответствии с условиями, изложенными ниже</p>
        <h2>2. Компенсация за Позднюю Отмену</h2>
        <p>2.1. В случае если Клиент отменяет бронирование в течение 72-часового периода до назначенного времени заезда, будет взиматься компенсационный сбор, эквивалентный стоимости одной ночи проживания, указанной при бронировании.</p>
        <p>2.2. При отмене менее чем за 24 часа до запланированного времени заезда, Клиент обязуется к уплате компенсационного сбора в размере полной стоимости первой ночи проживания.</p>
        <h2>3. Политика Возврата Депозита</h2>
        <p>3.1. Возврат депозита, составляющего 50% от общей стоимости бронирования, будет произведен за отмены, сделанные минимум за 7 дней до запланированного заезда.</p>
        <p>3.2.Отмены, совершенные менее чем за 7 дней до запланированного заезда, приведут к удержанию депозита в полном объеме.</p>
        <h2>4. Исключения из Правил Компенсации</h2>
        <p>Несмотря на вышеизложенное, в случае наличия чрезвычайных обстоятельств (например, серьезное заболевание, стихийные бедствия), должным образом подтвержденных соответствующими документами, Арендодатель может по своему усмотрению осуществить полный или частичный возврат предварительно оплаченных сумм.</p>
        <h2>5. Изменения в Датах Бронирования</h2>
        <p>Клиент может запросить изменение дат бронирования без взимания дополнительных сборов, при условии, что такой запрос сделан как минимум за 48 часов до запланированного заезда. Любые изменения, запрошенные в течение 48 часов до заезда, могут подлежать компенсационному сбору по усмотрению Арендодателя.</p>
        <h2>6. Требование Предоплаты</h2>
        <p>Полная предоплата требуется для подтверждения бронирования. В случае отмены Клиентом, любые применимые компенсационные сборы будут удержаны из ранее внесенного депозита.</p>
        <h2>7. Обязанности Клиента по Коммуникации</h2>
        <p>Клиент обязан уведомить Арендодателя письменно о своем намерении отменить бронирование не позднее чем за 72 часа до запланированного времени заезда, чтобы избежать взимания дополнительных сборов.</p>
        <h2>8. Подтверждение Условий и Согласие</h2>
        <p>Выбрав опцию "Я Согласен", Клиент тем самым подтверждает, что он ознакомился, понял и согласен с условиями, изложенными в настоящем Соглашении о Политике Отмены.</p>
        <h2>[Я СОГЛАСЕН]</h2>
        <p>Данный документ, представленный в форме для онлайн подачи на веб-сайте, разработан для четкого изложения условий и положений, связанных с отменой бронирования аренды. Клиенту настоятельно рекомендуется внимательно ознакомиться с каждым разделом данного Соглашения для полного понимания своих прав и обязанностей перед тем, как указать свое согласие.</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
