{% extends 'base.html' %}
{% load l10n %}
{% load i18n %}
{% load i18n_urls %}
{% load static %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %} | Privacy Policy {% endblock %}

{% block content %}
<!-- Showcase -->
<main>
  <div class="p-page section">
    <div class="container margin-center">
      <h1 class="p-page__title">Privacy Policy of ‘DADI-PLATFORM’</h1>
      <div class="p-page__desc flex flex-col">
        <p>Welcome to the official Privacy Policy of DADI-PLATFORM. This document delineates the comprehensive guidelines governing the collection, utilization, and safeguarding of your personal information. By engaging with our website or availing our services, you hereby acknowledge and consent to the terms and conditions articulated herein.</p>
        <h2>1. Company Information</h2>
        <p>1.1 Name and Legal Form: _________________ (further ‘The Company’)</p>
        <p>1.2 Country and Jurisdiction: United Arab Emirates (UAE)</p>
        <h2>1.3 Contact Information:</h2>
        <ul></ul>
        <p>● Email: Info@dadiproperties.com</p>
        <p>● Address: Clover Bay Tower – 2107-Marasi Dr – Business Bay-Dubai</p>
        <h2>2. Services and Products</h2>
        <p>The Company specializes in the following services and products:</p>
        <p>2.1 Buying and Selling Real Estate: Facilitating transactions in both the primary and secondary real estate markets.</p>
        <p>2.2 Real Estate Consulting: Providing expert advice and consultancy services in the selection of real estate.</p>
        <h2>3. Methods of Interaction</h2>
        <p>The Company employs various methods for collecting information, including:</p>
        <p>3.1 Registration on the Website: User data is collected during the registration process on our website.</p>
        <p>3.2 Interviews and Surveys: Conducting interviews and surveys both on the website and through telephone communication.</p>
        <p>3.3 Cookies and Tracking: Utilizing cookies to track user actions within applications and websites of other entities.</p>
        <p>3.4 Audio and Video: Collecting information through audio and video recordings.</p>
        <p>3.5 CRM Systems: Engaging Customer Relationship Management (CRM) systems for data organization.</p>
        <p>3.6 Social Media Integration: Data collection through user interaction on social networks.</p>
        <p>3.7 Loyalty Program: Engaging users in loyalty programs.</p>
        <p>3.8 Providing Documentation for Real Estate Transactions: Furnishing documents indicating the reception of funds for real estate transactions.</p>
        <h2>4. Types of Data Collected</h2>
        <p>The Company collects the following categories of data:</p>
        <p>4.1 Personal Information: Includes full name, date of birth, gender, location, phone number, email, passport data, and social media account details.</p>
        <h2>5. Purposes of Data Collection and Processing</h2>
        <p>The Company collects and processes data for the following purposes:</p>
        <p>5.1 Content Marketing: Creating and distributing relevant and engaging content.</p>
        <p>5.2 Lead Generation and Sales Forecasting: Anticipating market trends and generating potential business leads.</p>
        <p>5.3 Market Research: Conducting thorough analysis of real estate markets.</p>
        <p>5.4 Price Monitoring: Monitoring and analyzing price fluctuations.</p>
        <p>5.5 Website Content and SEO Monitoring: Ensuring up-to-date website content and monitoring search engine optimization.</p>
        <p>5.6 Competitive Analysis and Review: Assessing and analyzing market competition and customer reviews.</p>
        <p>5.7 Social Media Monitoring: Tracking and analyzing social media engagement.</p>
        <p>5.8 Advertising Campaign Performance: Assessing the effectiveness of advertising campaigns.</p>
        <p>5.9 Communication with Users: Maintaining effective communication channels with users.</p>
        <h2>6. Data Protection Measures</h2>
        <p>The Company employs stringent systems and procedures to ensure the security and confidentiality of collected data, including:</p>
        <p>6.1 Secure Storage Facility: Personal data is stored in a secure facility accessible to a limited list of authorized personnel.</p>
        <p>6.2 Depersonalization: Personal data is depersonalized for all processing purposes, excluding user feedback.</p>
        <h2>7. Data Transfer to Third Parties</h2>
        <p>Under specific conditions, data may be shared with the following entities:</p>
        <p>7.1 GDRS-Security Agencies: Sharing information with security agencies adhering to PPRS regulations.</p>
        <p>7.2 Company Employees and Departments: Sharing data with internal departments such as sales and legal.</p>
        <p>7.3 Partner Companies: Sharing data with external entities like developers, real estate agencies, and marketing promotion services.</p>
        <h2>8. Rights and Obligations of Users</h2>
        <p>Users have certain rights and obligations:</p>
        <p>8.1 User Rights: Users have the right to access, modify, and request deletion of their data.</p>
        <p>8.2 Compliance with Regulations: The site adheres to GDPR rules for processing personal data and UAE Legislation.</p>
        <h2>9. Conditions for Changing the Privacy Policy</h2>
        <p>9.1. Changes to the policy are implemented on the site, and users are expected to review these changes independently.</p>
        <h2>10. Consent to Data Processing</h2>
        <p>10.1 To fully utilize our website, we ask you to provide explicit consent for the processing of your personal data, in accordance with our Privacy Policy. Consent must be expressed through an active action (for example, checking a box) at the moment of registration on the site or when using certain features.</p>
        <p>10.2 We commit to adhering to data protection principles and the requirements of the General Data Protection Regulation (GDPR), ensuring the accuracy, legality, and transparency of your personal data processing.</p>
        <h2>11. Collection and Processing of Data</h2>
        <p>11.1 All data collected on our site, including IP addresses and information obtained through cookies, are collected only after your explicit consent. You will be notified of the purposes of data collection and the ways they are used before giving your consent.</p>
        <p>11.2 We take all necessary measures to ensure the security of your personal data in accordance with best practices and GDPR requirements.</p>
        <h2>12. Verification of Information Accuracy</h2>
        <p>12.1 We make efforts to verify the accuracy of the information provided by users to ensure the correctness and timeliness of the processed data. However, the responsibility for providing accurate and complete information lies with the users.</p>
        <p>12.2 In the event of changes to your personal data, we ask you to promptly update the information in your profile on the website or contact our support service.</p>
        <h2>13. Data Transfer to Third Parties</h2>
        <p>13.1. We strictly control the transfer of your personal data to third parties. Your data may be transferred to agents, partners, and advertising networks only with your explicit prior consent, except as provided by law.</p>
        <p>13.2. We commit to ensuring that all our partners comply with GDPR requirements, including taking all necessary measures to protect your data.</p>
        <p>14. Data Storage</p>
        <p>14.1. We take all necessary technical and organizational measures to protect your personal data during storage and transfer, including encryption and the use of secure servers.</p>
        <p>14.2. Data storage is carried out on servers located in countries that provide an adequate level of data protection in accordance with GDPR and other international standards.</p>
        <p>14.3. Data transfer between countries is conducted in compliance with all GDPR requirements, including the execution of standard contractual clauses approved by the European Commission.</p>
        <h2>15. Cookie Policy</h2>
        <p>15.1. Our website uses cookies to improve user experience, analytics, and advertising personalization.</p>
        <p>15.2. We strictly adhere to the requirements of the GDPR and ePrivacy Directive regarding cookies, ensuring that you can explicitly agree to or opt out of their use.</p>
        <p>15.3. Upon your first visit to our site, you will be greeted with a cookie notification where you can choose your privacy settings. All collected data is used strictly in accordance with our privacy policy.</p>
        <p>Conclusion</p>
        <p>We reserve the right to update these Privacy Policy at any time. Users will be notified of any changes through our website. By continuing to use the site after changes are made, you automatically agree to the updated document.</p>
        <h2>Contact Details for Feedback</h2>
        <p>For any inquiries, requests, or policy suggestions, please contact The Company by:</p>
        <p>● Email: Info@dadiproperties.com</p>
        <p>● Mobile Number of the Company:_____________</p>
        <p>Thank you for entrusting DADI-PLATFORM with your privacy. We are dedicated to upholding the highest standards of transparency and security in our interactions with you.</p>
      </div>
    </div>
  </div>
  <div class="contacts bg-c3 text-c2">
    <div class="container margin-center">
      <div class="section__title font-tenor p-animate__up" data-add="active">Контакты</div>
      <div class="contacts__block flex">
        <div class="contacts__left">
          <div class="contacts__items flex flex-col">
            <div class="contacts__item">
              <div class="contacts__item-title">Отдел клиентского сервиса</div><a class="contacts__item-subtitle" href="tel:+97145859538 ">+971 4 585 9538</a>
            </div>
            <div class="contacts__item">
              <div class="contacts__item-title">Эл.почта</div><a class="contacts__item-subtitle" href="mailto:Info@dadiproperties.com">Info@dadiproperties.com</a>
            </div>
            <div class="contacts__item contacts__item_socials">
              <div class="contacts__socials flex"><a class="contacts__social flex flex-ai-center flex-j-center" href="#!">
                      <picture>
                        <source type="image/webp" srcset="" data-srcset="img/main/contacts/whatsapp.webp"><img class="lazy " width="18" height="18" src="" data-src="img/main/contacts/whatsapp.png" alt="" loading="lazy">
                      </picture></a><a class="contacts__social flex flex-ai-center flex-j-center" href="#!">
                      <picture>
                        <source type="image/webp" srcset="" data-srcset="img/main/contacts/telegram.webp"><img class="lazy " width="17" height="17" src="" data-src="img/main/contacts/telegram.png" alt="" loading="lazy">
                      </picture></a><a class="contacts__social flex flex-ai-center flex-j-center" href="#!">
                      <picture>
                        <source type="image/webp" srcset="" data-srcset="img/main/contacts/instagram.webp"><img class="lazy " width="16" height="16" src="" data-src="img/main/contacts/instagram.png" alt="" loading="lazy">
                      </picture></a></div>
              <div class="contacts__socials flex contacts__socials_second"><a class="contacts__social flex flex-ai-center flex-j-center" href="#!">
                      <picture>
                        <source type="image/webp" srcset="" data-srcset="img/main/contacts/youtube.webp"><img class="lazy " width="21" height="21" src="" data-src="img/main/contacts/youtube.png" alt="" loading="lazy">
                      </picture></a><a class="contacts__social flex flex-ai-center flex-j-center" href="#!">
                      <picture>
                        <source type="image/webp" srcset="" data-srcset="img/main/contacts/vk.webp"><img class="lazy " width="19" height="19" src="" data-src="img/main/contacts/vk.png" alt="" loading="lazy">
                      </picture></a><a class="contacts__social flex flex-ai-center flex-j-center" href="#!">
                      <picture>
                        <source type="image/webp" srcset="" data-srcset="img/main/contacts/yandex.webp"><img class="lazy " width="16" height="16" src="" data-src="img/main/contacts/yandex.png" alt="" loading="lazy">
                      </picture></a><a class="contacts__social flex flex-ai-center flex-j-center" href="#!">
                      <picture>
                        <source type="image/webp" srcset="" data-srcset="img/main/contacts/facebook.webp"><img class="lazy " width="18" height="18" src="" data-src="img/main/contacts/facebook.png" alt="" loading="lazy">
                      </picture></a></div>
            </div>
          </div>
        </div>
        <div class="contacts__right">
          <div class="contacts__item">
            <div class="contacts__item-title">Офис</div>
            <div class="contacts__item-subtitle">Al Gurg Tower 3, офис 3, этаж P Дубай, ОАЭ</div>
            <div class="contacts__item-iframe">
              <iframe class="lazy" width="697" height="252" src="" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10206.085294199549!2d55.31710806150708!3d25.257258873607665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5cd1a71d6b2d%3A0xef3b0742be39f2a5!2zQWwgR3VyZyB0b3dlciAzLDEydGggZmxvb3IgLFZGUyBHbG9iYWwgLSA3IEJhbml5YXMgUmQgLSBEZWlyYSAtIEZsb29yIDUgLSBEdWJhaSAtINCe0LHRitC10LTQuNC90LXQvdC90YvQtSDQkNGA0LDQsdGB0LrQuNC1INCt0LzQuNGA0LDRgtGL!5e0!3m2!1sru!2sru!4v1703080678395!5m2!1sru!2sru" loading="lazy"></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts__item contacts__item_socials contacts__item_hidden">
        <div class="contacts__socials flex"><a class="contacts__social flex flex-ai-center flex-j-center" href="#!">
                <picture>
                  <source type="image/webp" srcset="" data-srcset="img/main/contacts/whatsapp.webp"><img class="lazy " width="18" height="18" src="" data-src="img/main/contacts/whatsapp.png" alt="" loading="lazy">
                </picture></a><a class="contacts__social flex flex-ai-center flex-j-center" href="#!">
                <picture>
                  <source type="image/webp" srcset="" data-srcset="img/main/contacts/telegram.webp"><img class="lazy " width="17" height="17" src="" data-src="img/main/contacts/telegram.png" alt="" loading="lazy">
                </picture></a><a class="contacts__social flex flex-ai-center flex-j-center" href="#!">
                <picture>
                  <source type="image/webp" srcset="" data-srcset="img/main/contacts/instagram.webp"><img class="lazy " width="16" height="16" src="" data-src="img/main/contacts/instagram.png" alt="" loading="lazy">
                </picture></a></div>
        <div class="contacts__socials flex contacts__socials_second"><a class="contacts__social flex flex-ai-center flex-j-center" href="#!">
                <picture>
                  <source type="image/webp" srcset="" data-srcset="img/main/contacts/youtube.webp"><img class="lazy " width="21" height="21" src="" data-src="img/main/contacts/youtube.png" alt="" loading="lazy">
                </picture></a><a class="contacts__social flex flex-ai-center flex-j-center" href="#!">
                <picture>
                  <source type="image/webp" srcset="" data-srcset="img/main/contacts/vk.webp"><img class="lazy " width="19" height="19" src="" data-src="img/main/contacts/vk.png" alt="" loading="lazy">
                </picture></a><a class="contacts__social flex flex-ai-center flex-j-center" href="#!">
                <picture>
                  <source type="image/webp" srcset="" data-srcset="img/main/contacts/yandex.webp"><img class="lazy " width="16" height="16" src="" data-src="img/main/contacts/yandex.png" alt="" loading="lazy">
                </picture></a><a class="contacts__social flex flex-ai-center flex-j-center" href="#!">
                <picture>
                  <source type="image/webp" srcset="" data-srcset="img/main/contacts/facebook.webp"><img class="lazy " width="18" height="18" src="" data-src="img/main/contacts/facebook.png" alt="" loading="lazy">
                </picture></a></div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
