{% extends 'base.html' %}
{% load l10n %}
{% load i18n %}
{% load i18n_urls %}
{% load static %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %} | Compares {% endblock %}

{% block content %}
<!-- Showcase -->
<main>
  <div class="compar">
    <div class="container margin-center">
      <div class="section__title font-tenor text-c3">{% trans 'Property comparison' %}<!--Сравнение недвижимости--></div>
      <div class="compar__row flex flex-col">
        <!-- card -->
        <div class="compar__item flex">
          <div class="compar__subitem"></div>
          {% if listings %}
            {% for listing in listings %}
              {% include 'includes/offer_card/offer_card_compare.html' %}
            {% endfor %}
          {% else %}
            <div class="compar__subitem">
              {% trans 'No Offers Available' %}
            </div>
          {% endif %}
        </div>

        <!-- type -->
        <div class="compar__item flex">
          <div class="compar__subitem">
            <div class="compar__subitem-title">{% trans 'Type' %}</div>
          </div>
          {% if listings %}
            {% for listing in listings %}
              <div class="compar__subitem" id="id_{{ listing.id|unlocalize }}_type">
                <div class="compar__subitem-subtitle">{% trans listing.type %}</div>
              </div>
            {% endfor %}
          {% else %}
            <div class="compar__subitem">
              <div class="compar__subitem-subtitle"></div>
            </div>
          {% endif %}
        </div>

        <!-- price -->
        <div class="compar__item flex">
          <div class="compar__subitem">
            <div class="compar__subitem-title">{% trans 'Price' %}</div>
          </div>
          {% if listings %}
            {% for listing in listings %}
              <div class="compar__subitem" id="id_{{ listing.id|unlocalize }}_price">
                <div class="compar__subitem-subtitle">{% if listing.price_a_min %}{% trans 'from' %} {{ listing.price_a_min }} {{ listing.price_a_currency }}{% else %} {% endif %}</div>
              </div>
            {% endfor %}
          {% else %}
            <div class="compar__subitem">
              <div class="compar__subitem-subtitle"></div>
            </div>
          {% endif %}
        </div>

        <!-- developer -->
        <div class="compar__item flex">
          <div class="compar__subitem">
            <div class="compar__subitem-title">{% trans 'Developer' %}</div>
          </div>
          {% if listings %}
            {% for listing in listings %}
              <div class="compar__subitem" id="id_{{ listing.id|unlocalize }}_developer">
                <div class="compar__subitem-subtitle">{% get_attr 'listing' 'developer_a_title_a_'|add:LANGUAGE_CODE %}</div>
              </div>
            {% endfor %}
          {% else %}
            <div class="compar__subitem">
              <div class="compar__subitem-subtitle"></div>
            </div>
          {% endif %}
        </div>

        <!--
        <div class="compar__item flex">
          <div class="compar__subitem">
            <div class="compar__subitem-title">Цена за&nbsp;кв.м</div>
          </div>
          {% if listings %}
            {% for listing in listings %}
              <div class="compar__subitem">
                <div class="compar__subitem-subtitle">{% if listing.price_a_min %}{% trans 'from' %} {{ listing.price_a_min }} {{ listing.price_a_currency }}{% else %} {% endif %}</div>
              </div>
            {% endfor %}
          {% else %}
            <div class="compar__subitem">
              <div class="compar__subitem-subtitle"></div>
            </div>
          {% endif %}
        </div>
        -->
        <!--
        <div class="compar__item flex">
          <div class="compar__subitem">
            <div class="compar__subitem-title">Площадь</div>
          </div>
          {% if listings %}
            {% for listing in listings %}
              <div class="compar__subitem">
                <div class="compar__subitem-subtitle">110</div>
              </div>
            {% endfor %}
          {% else %}
            <div class="compar__subitem">
              <div class="compar__subitem-subtitle"></div>
            </div>
          {% endif %}
        </div>
        -->
        <!--
        <div class="compar__item flex">
          <div class="compar__subitem">
            <div class="compar__subitem-title">Спален</div>
          </div>
          {% if listings %}
            {% for listing in listings %}
              <div class="compar__subitem">
                <div class="compar__subitem-subtitle">3</div>
              </div>
            {% endfor %}
          {% else %}
            <div class="compar__subitem">
              <div class="compar__subitem-subtitle"></div>
            </div>
          {% endif %}
        </div>
        -->
        <!--
        <div class="compar__item flex">
          <div class="compar__subitem">
            <div class="compar__subitem-title">Отделка</div>
          </div>
          {% if listings %}
            {% for listing in listings %}
              <div class="compar__subitem">
                <div class="compar__subitem-subtitle">Меблированная</div>
              </div>
            {% endfor %}
          {% else %}
            <div class="compar__subitem">
              <div class="compar__subitem-subtitle"></div>
            </div>
          {% endif %}
        </div>
        -->


      </div>
      <div class="compar__row-scroll hidden">
        <div class="compar__row-scroll-inner"></div>
      </div>

        <div class="rent-single__location">
          <div class="rent-single__location-title font-tenor section__title text-c3">{% trans 'Location' %}</div>
          <div class="contacts__item">
            <div class="contacts__item-subtitle"></div>
            <div class="contacts__item-iframe">
              {% include 'includes/bookmarks/bookmarks_map.html' %}
            </div>
          </div>
        </div>

    </div>
  </div>




  {% include 'includes/feedback_forms/favorites.html' %}

  <div class="blog_second">
    {% include 'includes/blog/blog_module.html' %}
  </div>
</main>
{% endblock %}
