{% extends 'base.html' %}
{% load l10n %}
{% load i18n %}
{% load i18n_urls %}
{% load static %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %} | Developer {% endblock %}

{% block content %}
<!-- Showcase -->
<main>
  <div class="rent-single">
    <div class="container margin-center relative"><a class="rent-single__link text-underline flex" href="{% url 'buy' %}">{% trans 'Catalog of residential complexes and developers' %}</a>
      <div class="rent-single__title font-tenor text-c3 p-animate p-animate__up p-animate__splitt">
          {% get_attr 'developer' 'title_'|add:LANGUAGE_CODE %}
      </div>
      <div class="rent-single__dev-img img_br img_cover">
            <picture>
              <source type="image/webp" srcset="" data-srcset="/img/rent/single/dev/bg.webp">
                <img class="lazy " width="1160" height="317" src="" data-src="/img/rent/single/dev/bg.jpg" alt="" loading="lazy">
            </picture>
            <picture>
              <source type="image/webp" srcset="" data-srcset="{{ developer.logo }}">
                <img class="lazy " width="1160" height="317" src="" data-src="{{ developer.logo }}" alt="" loading="lazy">
            </picture>
      </div>
      <div class="rent-single__row flex rent-single__row_3">
        <div class="rent-single__left">
          <div class="rent-single__dev-list flex flex-wrap">
            <div class="rent-single__dev-li">
              <div class="rent-single__dev-num text-c5 text-500">{{ developer.year_of_foundation }}</div>
              <div class="rent-single__dev-title">{% trans 'year of foundation' %}</div>
            </div>
            <div class="rent-single__dev-li">
              <div class="rent-single__dev-num text-c5 text-500">{% trans 'houses' %}: {{ developer.buildings_finished }}</div>
              <div class="rent-single__dev-title">{% trans 'delivered in' %} {{ developer.complexes_finished }} {% trans 'residential complexes' %}</div>
            </div>
            <div class="rent-single__dev-li">
              <div class="rent-single__dev-num text-c5 text-500">{% trans 'houses' %}: {{ developer.buildings_in_progress }}</div>
              <div class="rent-single__dev-title">{% trans 'is being built in' %} {{ developer.complexes_in_progress }} {% trans 'residential complexes' %}</div>
            </div>
            <div class="rent-single__dev-li">
              <div class="rent-single__dev-num text-c5 text-500">{{ developer.main_office }}</div>
              <div class="rent-single__dev-title">{% trans 'main office' %}</div>
            </div>
            <div class="rent-single__dev-li">
              <div class="rent-single__dev-num text-c5 text-500">{{ developer.number_of_employees }}</div>
              <div class="rent-single__dev-title">{% trans 'employees' %}</div>
            </div>
            <div class="rent-single__dev-li">
              <div class="rent-single__dev-num text-c5 text-500">{{ developer.stock_valuation }} million $</div>
              <div class="rent-single__dev-title">{% trans 'market valuation' %}</div>
            </div>
          </div>
          <div class="rent-single__desc p-animate p-animate__up p-animate__splitt">
            {% autoescape off %}
                {% get_attr 'developer' 'text_'|add:LANGUAGE_CODE|safe %}
            {% endautoescape %}
          </div>
        </div>

        {% if realtor %}
           {% include 'includes/realtor/realtor_card.html' %}
        {% endif %}

      </div>
    </div>
  </div>
  <div class="rent-single__projects">
    <div class="container margin-center">
      <div class="rent-single__projects-title section__title font-tenor text-c3 p-animate p-animate__up p-animate__splitt">{% trans 'Projects' %} ({{ len_listings }})</div>
        {% include 'includes/buy/buy_loaded_block.html' %}
      </div>
  </div>
  <div class="rent-map">
    <div class="container margin-center">
      <div class="rent-map__title section__title font-tenor text-c3 p-animate p-animate__up p-animate__splitt">{% trans 'Location of complexes in the UAE' %}</div>
      <div class="rent-map__item">
        {% include "geomap/common.html" %}
      </div>
    </div>
  </div>

  {% include 'includes/feedback_forms/building_4.html' %}

  {% include 'includes/developers/developers_module_2.html' %}

</main>

{% endblock %}