{% extends 'base.html' %}
{% load l10n %}
{% load i18n %}
{% load i18n_urls %}
{% load static %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %} | Developer | {{ developer.title_en }}{% endblock %}

{% block content %}
<!-- Showcase -->
<main>
  <div class="rent-single">
    <div class="container margin-center relative">
      <a class="rent-single__link text-underline flex" href="{% url 'buy' %}">{% trans 'Catalog of residential complexes and developers' %}</a>
      <div class="rent-single__title font-tenor text-c3 p-animate p-animate__up p-animate__splitt">
          {% get_attr 'developer' 'title_'|add:LANGUAGE_CODE %}
      </div>
      <div class="rent-dev">
        <div class="container margin-center">
          <div class="rent-dev__title section__title font-tenor text-c3 p-animate p-animate__up p-animate__splitt">{% trans 'Developer' %}</div>
          <div class="rent-dev__row flex">
            <div class="rent-dev__left">
              <div class="rent-dev__img flex-shrink img_cover img_br">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="{{ developer.logo }}">
                      <img class="lazy " width="284" height="289" src="" data-src="{{ developer.logo }}" alt="" loading="lazy">
                    </picture>
              </div>
            </div>
            <div class="rent-dev__right">
              <div class="rent-dev__text">
                <div class="rent-dev__desc">
                  {% autoescape off %}
                    {% get_attr 'developer' 'text_'|add:LANGUAGE_CODE|safe %}
                  {% endautoescape %}
                </div>
                <div class="rent-dev__list flex">
                  <div class="rent-dev__list-li">
                    <div class="rent-dev__list-num text-c5 text-500">{{ developer.year_of_foundation }}</div>
                    <div class="rent-dev__list-title">{% trans 'year of foundation' %}</div>
                  </div>
                  <div class="rent-dev__list-li">
                    <div class="rent-dev__list-num text-c5 text-500">{% trans 'houses' %}: {{ developer.buildings_finished }}</div>
                    <div class="rent-dev__list-title">{% trans 'were built in' %} {{ developer.complexes_finished }} {% trans 'residential complexes' %}</div>
                  </div>
                  <div class="rent-dev__list-li">
                    <div class="rent-dev__list-num text-c5 text-500">{% trans 'houses' %}: {{ developer.buildings_in_progress }}</div>
                    <div class="rent-dev__list-title">{% trans 'is being built in' %} {{ developer.complexes_in_progress }} {% trans 'residential complexes' %}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rent-single__projects">
    <div class="container margin-center">
      <div class="rent-single__projects-title section__title font-tenor text-c3 p-animate p-animate__up p-animate__splitt">{% trans 'Projects' %} ({{ len_listings }})</div>
        {% include 'includes/buy/buy_loaded_block.html' %}
      </div>
  </div>
  <div class="rent-map">
    <div class="container margin-center">
      <div class="rent-map__title section__title font-tenor text-c3 p-animate p-animate__up p-animate__splitt">{% trans 'Location of complexes in the UAE' %}</div>
      <div class="rent-map__item" id="map-canvas" style="height:500px;">
        <!-- google map here -->
      </div>
    </div>
  </div>

  {% include 'includes/feedback_forms/building_4.html' %}

  {% include 'includes/developers/developers_module_2.html' %}

</main>
{% endblock %}