{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
<div class="devs overflow-hidden devs_2">
  <div class="container margin-center">
    <div class="devs__top flex flex-ai-end flex-j-between">
      <div class="section__title font-tenor text-c3">Другие застройщики</div><a class="devs__top-link text-underline text-500 text-c3" href="{% url 'katalogi' %}">Перейти к каталогам</a>
    </div>
  </div>
  <div class="devs__items flex flex-col">
    <div class="devs__item flex img_cover img_br">
          <picture>
            <source type="image/webp" srcset="" data-srcset="/img/catalogs/devs/1.webp"><img class="lazy " width="300" height="126" src="" data-src="/img/catalogs/devs/1.jpg" alt="" loading="lazy">
          </picture>
          <picture>
            <source type="image/webp" srcset="" data-srcset="/img/catalogs/devs/2.webp"><img class="lazy " width="128" height="126" src="" data-src="/img/catalogs/devs/2.jpg" alt="" loading="lazy">
          </picture>
          <picture>
            <source type="image/webp" srcset="" data-srcset="/img/catalogs/devs/3.webp"><img class="lazy " width="300" height="126" src="" data-src="/img/catalogs/devs/3.jpg" alt="" loading="lazy">
          </picture>
          <picture>
            <source type="image/webp" srcset="" data-srcset="/img/catalogs/devs/4.webp"><img class="lazy " width="300" height="126" src="" data-src="/img/catalogs/devs/4.jpg" alt="" loading="lazy">
          </picture>
          <picture>
            <source type="image/webp" srcset="" data-srcset="/img/catalogs/devs/5.webp"><img class="lazy " width="300" height="126" src="" data-src="/img/catalogs/devs/5.jpg" alt="" loading="lazy">
          </picture>
          <picture>
            <source type="image/webp" srcset="" data-srcset="/img/catalogs/devs/6.webp"><img class="lazy " width="300" height="126" src="" data-src="/img/catalogs/devs/6.jpg" alt="" loading="lazy">
          </picture>
          <picture>
            <source type="image/webp" srcset="" data-srcset="/img/catalogs/devs/7.webp"><img class="lazy " width="300" height="126" src="" data-src="/img/catalogs/devs/7.jpg" alt="" loading="lazy">
          </picture>
          <picture>
            <source type="image/webp" srcset="" data-srcset="/img/catalogs/devs/1.webp"><img class="lazy " width="300" height="126" src="" data-src="/img/catalogs/devs/1.jpg" alt="" loading="lazy">
          </picture>
          <picture>
            <source type="image/webp" srcset="" data-srcset="/img/catalogs/devs/2.webp"><img class="lazy " width="128" height="126" src="" data-src="/img/catalogs/devs/2.jpg" alt="" loading="lazy">
          </picture>
          <picture>
            <source type="image/webp" srcset="" data-srcset="/img/catalogs/devs/3.webp"><img class="lazy " width="300" height="126" src="" data-src="/img/catalogs/devs/3.jpg" alt="" loading="lazy">
          </picture>
          <picture>
            <source type="image/webp" srcset="" data-srcset="/img/catalogs/devs/4.webp"><img class="lazy " width="300" height="126" src="" data-src="/img/catalogs/devs/4.jpg" alt="" loading="lazy">
          </picture>
          <picture>
            <source type="image/webp" srcset="" data-srcset="/img/catalogs/devs/5.webp"><img class="lazy " width="300" height="126" src="" data-src="/img/catalogs/devs/5.jpg" alt="" loading="lazy">
          </picture>
          <picture>
            <source type="image/webp" srcset="" data-srcset="/img/catalogs/devs/6.webp"><img class="lazy " width="300" height="126" src="" data-src="/img/catalogs/devs/6.jpg" alt="" loading="lazy">
          </picture>
          <picture>
            <source type="image/webp" srcset="" data-srcset="/img/catalogs/devs/7.webp"><img class="lazy " width="300" height="126" src="" data-src="/img/catalogs/devs/7.jpg" alt="" loading="lazy">
          </picture>
    </div>
  </div>
  <div class="devs__items-link hidden"><a class="devs__top-link text-underline text-500 text-c3" href="{% url 'katalogi' %}">Перейти к каталогам</a></div>
</div>