{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}

<!-- start catalog card -->
    <div class="swiper-slide">
      <div class="best__item relative">
        <div class="best__item-link absolute top-0 right-0 text-c2 flex flex-ai-center flex-j-center text-center modal__show" data-modal="pdf">{% trans 'Download PDF' %}</div>
        <div class="best__item-img img_br img_cover">
          <picture>
            <source type="image/webp" srcset="" data-srcset="{{ catalog.photo.url }}"/><img class="lazy " width="281" height="265" src="" data-src="{{ catalog.photo.url }}" alt="" loading="lazy"/>
          </picture>
        </div>
        <div class="best__item-title text-c5 text-500">{% get_attr 'catalog' 'title_'|add:LANGUAGE_CODE %}</div>
        <div class="best__item-subtitle">{% get_attr 'catalog' 'description_'|add:LANGUAGE_CODE %}</div>
      </div>
    </div>
<!-- end catalog card -->