{% load i18n %}
{% load l10n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}


<div class="container margin-center">
  <div class="principle__block relative">
    <div class="principle__img principle__img_1 absolute img_cover p-img">
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/main/principle/1.webp"/><img class="lazy " width="448" height="493" src="" data-src="/img/main/principle/1.jpg" alt="" loading="lazy"/>
      </picture>
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/main/principle/1_mb.webp"/><img class="lazy " width="394" height="125" src="" data-src="/img/main/principle/1_mb.jpg" alt="" loading="lazy"/>
      </picture>
    </div>
    <div class="principle__img principle__img_2 absolute img_cover p-img">
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/main/principle/2.webp"/><img class="lazy " width="337" height="102" src="" data-src="/img/main/principle/2.jpg" alt="" loading="lazy"/>
      </picture>
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/main/principle/2_mb.webp"/><img class="lazy " width="186" height="58" src="" data-src="/img/main/principle/2_mb.jpg" alt="" loading="lazy"/>
      </picture>
    </div>
    <div class="principle__img principle__img_3 absolute img_cover p-img">
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/main/principle/3.webp"/><img class="lazy " width="337" height="288" src="" data-src="/img/main/principle/3.jpg" alt="" loading="lazy"/>
      </picture>
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/main/principle/3_mb.webp"/><img class="lazy " width="158" height="58" src="" data-src="/img/main/principle/3_mb.jpg" alt="" loading="lazy"/>
      </picture>
    </div>
    <div class="section__title font-tenor text-c3">{% trans 'Our values' %}<!--Наши принципы--></div>
    <div class="principle__items flex flex-col">
      <div class="principle__item flex">
        <div class="principle__item-left">
          <div class="principle__item-arrow flex flex-ai-center flex-j-center">
            <svg width="18" height="8" viewBox="0 0 18 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.3536 4.35355C17.5488 4.15829 17.5488 3.84171 17.3536 3.64645L14.1716 0.464465C13.9763 0.269203 13.6597 0.269203 13.4645 0.464465C13.2692 0.659727 13.2692 0.97631 13.4645 1.17157L16.2929 4L13.4645 6.82843C13.2692 7.02369 13.2692 7.34027 13.4645 7.53553C13.6597 7.73079 13.9763 7.73079 14.1716 7.53553L17.3536 4.35355ZM4.37114e-08 4.5L17 4.5L17 3.5L-4.37114e-08 3.5L4.37114e-08 4.5Z" fill="#156B7F"/>
            </svg>
          </div>
        </div>
        <div class="principle__item-right">
          <div class="principle__item-title text-c5">{% trans 'Support at all stages' %}<!--Поддержка на всех этапах--></div>
          <div class="principle__item-desc">{% trans 'DADI Agent Manager will contact you on all questions, will explain processes, nuances and professionally accompany all legal aspects' %}<!--Менеджер-агент DADI на связи с вами по всем вопросам, объяснит процессы и нюансы, профессионально сопроводит все юридические аспекты--></div>
        </div>
      </div>
      <div class="principle__item flex">
        <div class="principle__item-left">
          <div class="principle__item-arrow flex flex-ai-center flex-j-center">
            <svg width="18" height="8" viewBox="0 0 18 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.3536 4.35355C17.5488 4.15829 17.5488 3.84171 17.3536 3.64645L14.1716 0.464465C13.9763 0.269203 13.6597 0.269203 13.4645 0.464465C13.2692 0.659727 13.2692 0.97631 13.4645 1.17157L16.2929 4L13.4645 6.82843C13.2692 7.02369 13.2692 7.34027 13.4645 7.53553C13.6597 7.73079 13.9763 7.73079 14.1716 7.53553L17.3536 4.35355ZM4.37114e-08 4.5L17 4.5L17 3.5L-4.37114e-08 3.5L4.37114e-08 4.5Z" fill="#156B7F"/>
            </svg>
          </div>
        </div>
        <div class="principle__item-right">
          <div class="principle__item-title text-c5">{% trans 'Excellent service' %}<!--Великолепный сервис--></div>
          <div class="principle__item-desc">{% trans 'We focus on the service quality and comfort of our customers, so all the mechanisms work like clocks and all agents go through an in-person screening from the key persons of the company' %}<!--Мы делаем акцент на качество сервиса и комфорт наших клиентов, поэтому все механизмы работают как часы и все агенты проходят личный отбор у главных лиц компании--></div>
        </div>
      </div>
      <div class="principle__item flex">
        <div class="principle__item-left">
          <div class="principle__item-arrow flex flex-ai-center flex-j-center">
            <svg width="18" height="8" viewBox="0 0 18 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.3536 4.35355C17.5488 4.15829 17.5488 3.84171 17.3536 3.64645L14.1716 0.464465C13.9763 0.269203 13.6597 0.269203 13.4645 0.464465C13.2692 0.659727 13.2692 0.97631 13.4645 1.17157L16.2929 4L13.4645 6.82843C13.2692 7.02369 13.2692 7.34027 13.4645 7.53553C13.6597 7.73079 13.9763 7.73079 14.1716 7.53553L17.3536 4.35355ZM4.37114e-08 4.5L17 4.5L17 3.5L-4.37114e-08 3.5L4.37114e-08 4.5Z" fill="#156B7F"/>
            </svg>
          </div>
        </div>
        <div class="principle__item-right">
          <div class="principle__item-title text-c5">{% trans 'Long-term cooperation' %}<!--Долгосрочное сотрудничество--></div>
          <div class="principle__item-desc">{% trans 'Our goal isn’t just to make a deal. We work for the long term perspective: we accompany our customers in new projects, share news and become friends' %}<!--Наша цель - не просто провести сделку. Мы работаем на долгосрочную перспективу: сопровождаем наших клиентов в новых проектах, делимся новостями и становимся друзьями--></div>
        </div>
      </div>
    </div>
  </div>
</div>