{% load static %}
<!-- start amenity -->
<div class="rent-single__advs-item flex flex-ai-center bg-c5 text-c2">
    <div class="rent-single__advs-svg flex flex-j-center flex-ai-center bg-c2">
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/rent/single/main/key-chain.webp"/><img class="lazy " width="22" height="22" src="" data-src="/img/rent/single/main/key-chain.png" alt="" loading="lazy"/>
      </picture>
    </div>
    <div class="rent-single__advs-title">{{ amenity }}</div>
</div>
<!-- end amenity -->