{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- start realtor -->
<div class="rent-single__right sticky">
  <div class="rent-single__name flex flex-ai-center rent-single__name_2">
    <div class="rent-single__name-left flex-shrink">
      <div class="rent-single__name-img img_cover">
        <picture>
          <source type="image/webp" srcset="/media/{{ realtor.photo }}"/><img width="136" height="137" src="/media/{{ realtor.photo }}" alt="" loading="lazy"/>
        </picture>
      </div>
    </div>
    <div class="rent-single__name-right">
      <div class="rent-single__name-title text-c3">{% get_attr 'realtor' 'name_'|add:LANGUAGE_CODE %}</div>
      <div class="rent-single__name-subtitle">{% trans 'Real Estate Consultant' %}<!--Консультант по недвижимости--></div>
      <div class="rent-single__name-btns flex flex-ai-center">
        <div class="rent-single__name-btn p-btn flex flex-ai-center flex-j-center text-500">{% trans 'Leave a request' %}<!--Оставить заявку--></div>
        <div class="rent-single__name-socials flex flex-ai-center"><a class="rent-single__name-social flex flex-ai-center flex-j-center bg-c3" href="#!">
            <picture>
              <source type="image/webp" srcset="" data-srcset="/img/rent/single/main/call.webp"/><img class="lazy " width="16" height="16" src="" data-src="/img/rent/single/main/call.png" alt="" loading="lazy"/>
            </picture></a><a class="rent-single__name-social flex flex-ai-center flex-j-center bg-c3" href="https://wa.me/{{ our_company.whatsapp }}?text=Hello! I’m interested in a real estate in Dubai.">
            <picture>
              <source type="image/webp" srcset="" data-srcset="/img/rent/single/main/whatsapp.webp"/><img class="lazy " width="16" height="16" src="" data-src="/img/rent/single/main/whatsapp.png" alt="" loading="lazy"/>
            </picture></a></div>
      </div>
      <div class="rent-single__name-link text-500 text-underline">{% trans 'Download presentation' %}<!--Скачать презентацию--></div>
    </div>
  </div>
</div>
<!-- end realtor -->