{% load i18n %}
{% load i18n_urls %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<!DOCTYPE html>
{% if LANGUAGE_CODE == 'en' %}
  <html lang="en" class="p-lang_en">
{% endif %}
{% if LANGUAGE_CODE == 'ar' %}
  <html lang="ar" class="p-lang_arabic">
{% endif %}
{% if LANGUAGE_CODE == 'ru' %}
  <html lang="ru-RU">
{% endif %}

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Load from unpkg -->
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/libs/lazyload.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/parts/swiper.css' %}">
  <link rel="stylesheet" href="{% static 'css/flatpickr.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/parts/nouislider.css' %}">
  <link rel="stylesheet" href="{% static 'css/parts/main.css' %}">
  <!--
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
  -->

  {% if LANGUAGE_CODE == 'en' %}
    <link rel="stylesheet" href="{% static 'css/parts/en.css' %}">
  {% endif %}
  {% if LANGUAGE_CODE == 'ar' %}
    <link rel="stylesheet" href="{% static 'css/parts/arabic.css' %}">
  {% endif %}


  <title> DADI {% block title %}{% endblock %}</title>

  <script>
      let lazyContent;
      let lazyBackground;
      window.addEventListener('DOMContentLoaded', function () {
          lazyContent = new LazyLoad({
              use_native: true // <-- there you go
          });

          lazyBackground = new LazyLoad({
              // DON'T PASS use_native: true HERE
          });
      })
  </script>

  <script>
    // Получение переменной cookie по имени
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Настройка AJAX
    $(function () {
        $.ajaxSetup({
            headers: { "X-CSRFToken": getCookie("csrftoken") }
        });
    });

    // Настройка HTMX
    document.addEventListener('htmx:afterRequest', function(evt) {
      if(evt.detail.xhr.status == 404){
        /* Notify the user of a 404 Not Found response */
        return alert("Error: Could Not Find Resource");
      }
      if (evt.detail.successful != true) {
          /* Notify of an unexpected error, & print error to console */
          alert("Unexpected Error");
          return console.error(evt);
      }

      lazyContent.update();
      lazyBackground.update();
      ScrollTrigger.refresh();
      const pCardFilters = document.querySelectorAll('.p-card_filter');
      if (pCardFilters[0]) {
          pCardFilters.forEach((pCard) => {
              const _swiper = pCard.querySelector('.swiper');
              const swiper = new Swiper(_swiper, {
                  slidesPerView: 'auto',
                  pagination: {
                      clickable: true,
                      el: pCard.querySelector('.swiper-pagination'),
                  },
                  mousewheel: {
                      forceToAxis: true,
                  },
              });
          })
      }
    });

  </script>
  <script>
  // код, чтобы обновить карту
  //document.addEventListener('DOMContentLoaded', () => {
  //  const button = document.getElementById('filters__map');
  //  if (button) {
  //     const filters__content_map = document.getElementById('filters__content-map');
  //      if (filters__content_map) {
  //          filters__content_map.className.replace(" active", "");
  //          console.log('filters__content_map.className.replace(" active", "")');
  //      };
  //      const filters__content = document.getElementById('filters__content');
  //      if (filters__content) {
  //          filters__content.className += " active";
  //          console.log('filters__content.className += " active";');
  //      };
  //  };
  //});
  </script>

</head>

<body class="relative font-manrope text-c1 bg-c2 text-normal">

  {% include 'includes/header/header.html' %}

  {% block content %} {% endblock %}
  {% include 'includes/contacts/contacts.html' %}
  {% include 'includes/footer/footer.html' %}

  <script src="{% static 'js/libs/swiper-bundle.js' %}"></script>
  <script src="{% static 'js/libs/ScrollTrigger.min.js' %}"></script>
  <script src="{% static 'js/flatpickr.js' %}"></script>
  <script src="{% static 'js/libs/nouislider.min.js' %}"></script>
  <script src="{% static 'js/splittext.js' %}"></script>
  <script src="{% static 'js/libs/gsap.min.js' %}"></script>
  <script src="{% static 'js/libs/main.js' %}"></script>
  <script type="module" src="{% static 'js/htmx_script.js' %}"></script>

  <!--
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  -->
</body>

</html>