{% load i18n %}
{% load static %}

<!-- Footer -->
<footer class="footer text-c2">
  <div class="container margin-center">
    <div class="footer__top flex flex-j-between">
      <div class="footer__top-left">
        <div class="footer__block flex flex-j-between">
          <div class="footer__left">
            <div class="footer__logo">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/footer/logo.webp"/><img class="lazy " width="149" height="84" src="" data-src="/img/footer/logo.png" alt="" loading="lazy"/>
              </picture>
            </div>
            <div class="footer__cabinet">
              <div class="footer__cabinet-title">{% trans 'Client&quot;s personal account' %}<!--Личный кабинет клиента--></div>
              <div class="p-btn p-btn_white flex flex-ai-center flex-j-center text-500 modal__show" data-modal="register">{% trans 'Log in' %}<!--Войти--></div>
            </div>
          </div>
          <div class="footer__right">
            <div class="footer__list">
              <ul class="flex flex-col">
                <li><a href="{% url 'arenda' %}">{% trans 'Rent' %}<!--Аренда--></a></li>
                <li><a href="{% url 'buy' %}">{% trans 'Buy' %}<!--Покупка--></a></li>
                <li><a href="{% url 'blog' %}">{% trans 'Blog' %}<!--Блог--></a></li>
                <li><a href="{% url 'about' %}">{% trans 'About DADI' %}<!--О DADI--></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__top-center margin-center">
        <div class="footer__links flex flex-col">
          <div class="footer__link">
            <div class="footer__link-title">{% trans 'Phone:' %}<!--Телефон:--></div><a class="footer__link-subtitle" href="tel:{{ our_company.phone }}">{{ our_company.phone }}</a>
          </div>
          <div class="footer__link">
            <div class="footer__link-title">{% trans 'Working hours in Dubai:' %}<!--Время работы по Дубаю:--></div>
            <div class="footer__link-subtitle">{{ our_company.office_working_hours }}</div>
          </div>
          <div class="footer__link">
            <div class="footer__link-title">{% trans 'Office' %}<!--Офис--></div>
            <div class="footer__link-subtitle">{% trans our_company.office_address %}<!--Al Gurg Tower 3, офис 3, этаж P Дубай, ОАЭ--></div>
          </div>
        </div>
      </div>
      <div class="footer__top-right">

        {% include 'includes/feedback_forms/footer_feedback.html' %}

      </div>
    </div>
    <div class="footer__bottom flex flex-j-between flex-ai-end">
      <div class="footer__bottom-left"><a class="footer__web uppercase font-500 flex" href="#!">{% trans 'Website' %}<!--Разработка сайта--></a>
        <div class="footer__copy uppercase"><span>© 2023 All Right Reserved</span><span>{% trans 'Copying materials without the author’s consent is prohibited' %}<!--Копирование материалов без согласия автора запрещено--></span></div>
      </div>
      <div class="footer__bottom-center margin-center">

      {% include 'includes/social_networks/social_networks_module.html' %}

      </div>
      <div class="footer__bottom-right">
        <div class="footer__bottom-links flex flex-col"><a class="footer__bottom-link" href="#!">{% trans 'Privacy policy' %}<!--Политика конфиденциальности--></a><a class="footer__bottom-link" href="#!">Offer contract</a></div>
      </div>
    </div>
  </div>
</footer>

{% include 'includes/feedback_forms/modal_first.html' %}

{% include 'includes/feedback_forms/modal_second.html' %}

<div class="modal modal_pdf">
  <div class="modal__content relative margin-center">
    <div class="modal__close absolute">
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/modal/type/close.webp"/><img class="lazy " width="14" height="14" src="" data-src="/img/modal/type/close.png" alt="" loading="lazy"/>
      </picture>
    </div>
    <div class="modal_type__content relative">
      <form class="relative">
        <div class="get__item-text relative">
          <div class="get__item-title">{% trans 'Complete the form to get ' %}<!--Заполните форму, чтобы получить --><span class="text-c5 text-500">{% trans 'the full catalogue' %}<!--полный каталог--></span></div>
          <div class="get__item-inputs flex">
            <div class="get__item-input form__input">
              <input type="text" name="name" placeholder="Ваше имя" required="required"/>
            </div>
            <div class="get__item-input form__input">
              <input type="tel" name="tel" placeholder="8 999 999 99 99" required="required"/>
            </div>
            <div class="get__item-input form__input">
              <input type="email" name="email" placeholder="Ваш Email" required="required"/>
            </div>
          </div>
          <div class="get__item-end">
            <button class="p-btn flex flex-ai-center flex-j-center text-500" type="submit">{% trans 'Send' %}<!--Отправить--></button>
            <label class="p-check flex flex-ai-center">
              <input type="checkbox" name="check" checked="checked"/><span class="p-check__square flex flex-j-center flex-ai-center flex-shrink">
                <picture>
                  <source type="image/webp" srcset="" data-srcset="/img/main/get/check.webp"/><img class="lazy " width="13" height="13" src="" data-src="/img/main/get/check.png" alt="" loading="lazy"/>
                </picture></span><span class="p-check__title">{% trans 'By submitting the form, you consent to the processing of personal data' %}<!--Отправляя форму, вы даёте согласие на обработку персональных данных--></span>
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal modal_register modal_form">
  <div class="modal__content relative margin-center">
    <div class="modal__close absolute">
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/modal/type/close.webp"/><img class="lazy " width="14" height="14" src="" data-src="/img/modal/type/close.png" alt="" loading="lazy"/>
      </picture>
    </div>
    <div class="modal_register__content relative">
      <div class="modal_register__title text-center text-c5">{% trans 'Registration' %}<!--Регистрация--></div>
      <form class="relative">
        <div class="modal_register__inputs flex flex-col">
          <div class="modal_register__inputs-item active">
            <div class="modal_register__input form__input">
              <div class="modal_register__input-subtitle text-500">{% trans 'Country/region' %}<!--Страна/регион--></div>
              <div class="modal_register__input-title">Россия (+7)</div>
            </div>
            <div class="modal_register__input form__input">
              <input type="tel" name="tel" placeholder="Номер телефона" required="required"/>
            </div>
            <div class="modal_register__input-text text-center">{% trans 'We will send you an SMS to confirm your number phone.' %}<!--Мы отправим вам SMS для подтверждения номера телефона.--></div>
          </div>
          <div class="modal_register__inputs-item">
            <div class="modal_register__input form__input">
              <div class="modal_register__input-subtitle text-500">Email</div>
              <input type="email" name="email" placeholder="Ваш Email" required="required"/>
            </div>
            <div class="modal_register__input-text text-center">{% trans 'We will send you a verification code mail.' %}<!--Мы отправим вам код для подтверждения почты.--></div>
          </div>
        </div>
        <div class="modal_register__end">
          <button class="p-btn flex flex-ai-center flex-j-center text-500" type="submit">{% trans 'Continue' %}<!--Продолжить--></button>
          <div class="modal_register__end-center text-center font-roboto">или</div>
          <div class="modal_register__changes">
            <div class="modal_register__change cursor-pointer flex flex-ai-center active">
              <div class="modal_register__change-svg">
                <picture>
                  <source type="image/webp" srcset="" data-srcset="/img/modal/form/mail.webp"/><img class="lazy " width="19" height="19" src="" data-src="/img/modal/form/mail.png" alt="" loading="lazy"/>
                </picture>
              </div>
              <div class="modal_register__change-title">{% trans 'Via email' %}<!--С помощью e-mail--></div>
            </div>
            <div class="modal_register__change cursor-pointer flex flex-ai-center">
              <div class="modal_register__change-svg">
                <picture>
                  <source type="image/webp" srcset="" data-srcset="/img/modal/form/tel.webp"/><img class="lazy " width="17" height="17" src="" data-src="/img/modal/form/tel.png" alt="" loading="lazy"/>
                </picture>
              </div>
              <div class="modal_register__change-title">{% trans 'Using a phone number' %}<!--С помощью номера телефона--></div>
            </div>
          </div>
          <div class="modal_register__acc flex flex-ai-center">
            <div class="modal_register__acc-text">{% trans 'Already have an account?' %}<!--У вас уже есть аккаунт?--></div>
            <div class="modal_register__acc-link text-underline text-500">{% trans 'Log in' %}<!--Войти--></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal modal_conf modal_form">
  <div class="modal__content relative margin-center">
    <div class="modal__close absolute">
      <picture>
        <source type="image/webp" srcset="" data-srcset="/img/modal/type/close.webp"/><img class="lazy " width="14" height="14" src="" data-src="/img/modal/type/close.png" alt="" loading="lazy"/>
      </picture>
    </div>
    <div class="modal_conf__content relative">
      <form class="relative">
        <div class="modal_conf__items">
          <div class="modal_conf__item active">
            <div class="modal_conf__title modal_register__title text-center text-c5">{% trans 'Confirm your number' %}<!--Подтвердите номер--></div>
            <div class="modal_conf__item-title">{% trans 'Enter the code sent to the number +7 (9**) ***-**-**' %}<!--Введите код, высланный на номер +7 (9**) ***-**-**--></div>
            <div class="modal_conf__item-inputs flex flex-ai-center">
              <input class="modal_conf__item-input" type="text" name="code1"/>
              <input class="modal_conf__item-input" type="text" name="code2"/>
              <input class="modal_conf__item-input" type="text" name="code3"/>
              <input class="modal_conf__item-input" type="text" name="code4"/>
            </div>
            <div class="modal_conf__request flex flex-ai-center">
              <div class="modal_conf__request-left">{% trans 'Didn&quot;t receive the code?' %}<!--Не получили код?--></div>
              <div class="modal_conf__request-right text-underline cursor-pointer">{% trans 'Send again' %}<!--Отправить ещё раз--></div>
            </div>
          </div>
          <div class="modal_conf__item">
            <div class="modal_conf__title modal_register__title text-center text-c5">{% trans 'Confirm your email' %}<!--Подтвердите почту--></div>
            <div class="modal_conf__item-title">{% trans 'Enter the code sent to the address *******@gmail.com' %}<!--Введите код, высланный на адрес *******@gmail.com--></div>
            <div class="modal_conf__item-inputs flex flex-ai-center">
              <input class="modal_conf__item-input" type="text" name="code1"/>
              <input class="modal_conf__item-input" type="text" name="code2"/>
              <input class="modal_conf__item-input" type="text" name="code3"/>
              <input class="modal_conf__item-input" type="text" name="code4"/>
            </div>
            <div class="modal_conf__request flex flex-ai-center">
              <div class="modal_conf__request-left">{% trans 'Didn&quot;t receive the code?' %}<!--Не получили код?--></div>
              <div class="modal_conf__request-right text-underline cursor-pointer">{% trans 'Send again' %}<!--Отправить ещё раз--></div>
            </div>
          </div>
        </div>
        <div class="modal_conf__end-link text-underline text-500 text-c3 cursor-pointer" data-index="2">{% trans 'Choose another way' %}<!--Выбрать другой способ--></div>
      </form>
    </div>
  </div>
</div>
<div class="btn-up btn-up_hide"></div>
<!-- end footer -->