{% load i18n %}
{% load static %}

<!-- Footer -->
<footer class="footer text-c2">
  <div class="container margin-center">
    <div class="footer__top flex flex-j-between">
      <div class="footer__top-left">
        <div class="footer__block flex flex-j-between">
          <div class="footer__left">
            {% include 'includes/footer/footerLogo.html' %}
            <div class="footer__cabinet">
              <div class="footer__cabinet-title">{% trans 'Client&quot;s personal account' %}</div>
              {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}">
                  <div class="p-btn p-btn_white flex flex-ai-center flex-j-center text-500">{% trans 'Log out' %}</div>
                </a>
              {% else %}
                <a href="{% url 'login' %}">
                  <div class="p-btn p-btn_white flex flex-ai-center flex-j-center text-500">{% trans 'Log in' %}</div>
                </a>
              {% endif %}

            </div>
          </div>
          <div class="footer__right">
            <div class="footer__list">
              <ul class="flex flex-col">
                <li><a href="{% url 'arenda' %}">{% trans 'Rent' %}<!--Аренда--></a></li>
                <li><a href="{% url 'buy' %}">{% trans 'Buy' %}<!--Покупка--></a></li>
                <li><a href="{% url 'blog' %}">{% trans 'Blog' %}<!--Блог--></a></li>
                <li><a href="{% url 'about' %}">{% trans 'About DADI' %}<!--О DADI--></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__top-center margin-center">
        <div class="footer__links flex flex-col">
          <div class="footer__link">
            <div class="footer__link-title">{% trans 'Phone:' %}<!--Телефон:--></div><a class="footer__link-subtitle" href="tel:{{ our_company.phone }}">{{ our_company.phone }}</a>
          </div>
          <div class="footer__link">
            <div class="footer__link-title">{% trans 'Working hours in Dubai:' %}<!--Время работы по Дубаю:--></div>
            <div class="footer__link-subtitle">{{ our_company.office_working_hours }}</div>
          </div>
          <div class="footer__link">
            <div class="footer__link-title">{% trans 'Office' %}<!--Офис--></div>
            <div class="footer__link-subtitle">{% trans our_company.office_address %}<!--Al Gurg Tower 3, офис 3, этаж P Дубай, ОАЭ--></div>
          </div>
        </div>
      </div>
      <div class="footer__top-right">

        {% include 'includes/feedback_forms/footer_feedback.html' %}

      </div>
    </div>
    <div class="footer__bottom flex flex-j-between flex-ai-end">
      <div class="footer__bottom-left"><a class="footer__web uppercase font-500 flex" target="_blank" href="https://t.me/vv_agency">{% trans 'VICE VERSA AGENCY' %}<!--Разработка сайта--></a>
        <div class="footer__copy uppercase"><span>© 2023 All Right Reserved</span><span>{% trans 'Copying materials without the author’s consent is prohibited' %}<!--Копирование материалов без согласия автора запрещено--></span></div>
      </div>
      <div class="footer__bottom-center margin-center">

      {% include 'includes/social_networks/social_networks_module.html' %}

      </div>
      <div class="footer__bottom-right">
        <div class="footer__bottom-links flex flex-col">
          <a class="footer__bottom-link" href="{% url 'policy' %}">{% trans 'Privacy policy' %}<!--Политика конфиденциальности--></a>
          <a class="footer__bottom-link" href="#!">Offer contract</a></div>
      </div>
    </div>
  </div>
</footer>

{% include 'includes/feedback_forms/modal_first.html' %}

{% include 'includes/feedback_forms/modal_second.html' %}

{% include 'includes/feedback_forms/get_pdf_catalogue.html' %}

{% include 'includes/feedback_forms/thanks_catalog.html' %}

{% comment %}
{% include 'accounts/registration/modal_user_register.html' %}
{% include 'accounts/registration/modal_email_confirmed.html' %}
{% endcomment %}

<div class="btn-up btn-up_hide"></div>

{% include 'includes/header/menu.html' %}
<!-- end footer -->
