{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- start rent -->
<div class="p-card relative flex p-card_second">
    {% if item_close %}
        {% include 'includes/offer_card/item_close.html' with target='favorite' %}
    {% endif %}
    <a href="/{{ LANGUAGE_CODE }}/listings/rent/{{ listing.id|unlocalize }}">
        <div class="swiper absolute top-0 left-0 w-full h-full p-card__swiper">
            <div class="swiper-wrapper">
                {% include 'includes/offer_card/photo_items.html' %}
            </div>
        </div>
    </a>
    {% include 'includes/offer_card/special_price.html' %}
    <div class="p-card__text bg-c2 bottom-0 left-0 absolute">
          <div class="swiper-pagination p-card__swiper-pagination"></div>
          <div class="p-card__title text-500">{% get_attr 'listing' 'title_a_'|add:LANGUAGE_CODE %}</div>
          <div class="p-card__top flex">
                <div class="p-card__top-left text-c5"><!--{{ listing.address }}--></div>
                <div class="p-card__top-right"><!--Лот 1111111--></div>
          </div>
          <div class="p-card__price text-500">{% if listing.price_a_min %}от {{ listing.price_a_min }} {{ listing.price_a_currency }}{% endif %}</div>
          <div class="p-card__price p-card__price_old">{% trans 'per day' %}<!--в сутки--></div>
    </div>
</div>
<!-- end rent -->