{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- start rent -->
<div class="p-card p-card_filter relative">
    <div class="p-card_filter__image relative"><a class="img_cover img_full" href="/listings/rent/{{ listing.id|unlocalize }}">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="{{ listing.photo_main.url }}"/><img class="lazy " width="356" height="218" src="" data-src="{{ listing.photo_main.url }}" alt="" loading="lazy" srcset="srcset"/>
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="{{ listing.photo_1.url }}"/><img class="lazy " width="356" height="218" src="" data-src="{{ listing.photo_1.url }}" alt="" loading="lazy" srcset="srcset"/>
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="{{ listing.photo_2.url }}"/><img class="lazy " width="356" height="218" src="" data-src="{{ listing.photo_2.url }}" alt="" loading="lazy" srcset="srcset"/>
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div></a>
        <div class="p-card_filter__like absolute top-0 right-0">
          <svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.31877 0.793689H17.9837C18.2609 0.793689 18.3818 0.986484 18.3818 1.10765V21.9116C18.3818 22.1426 18.1064 22.2627 17.9371 22.1054L10.912 15.5763C10.2012 14.9157 9.1012 14.9157 8.39048 15.5763L1.36531 22.1054C1.19606 22.2627 0.920642 22.1426 0.920642 21.9116V1.10765C0.920642 0.98861 1.04435 0.793689 1.31877 0.793689Z" stroke="#003B50" stroke-width="1.58738"/>
          </svg>
        </div>
    </div>
    <a class="p-card_filter__text" href="/listings/rent/{{ listing.id|unlocalize }}">
      <div class="p-card_filter__title text-c5 text-500">{% get_attr 'listing' 'title_a_'|add:LANGUAGE_CODE %}</div>
      <div class="p-card_filter__content flex flex-wrap flex-ai-center">
        <div class="p-card_filter__content-item text-c5">{{ listing.address }}</div>
        <div class="p-card_filter__content-item"><!--{{ listing.address }}--></div>
        <div class="p-card_filter__content-subitem"><!--Лот 123456789--></div>
      </div>

      {% comment %}
      <!--
      <div class="p-card_filter__list flex flex-wrap">
        <div class="p-card_filter__list-item flex flex-ai-center">
          <div class="p-card_filter__list-img">
            <picture>
              <source type="image/webp" srcset=""/><img class="lazy " width="19" height="19" src="" data-src="/img/rent/filters/bed.png" alt="" loading="lazy" srcset="srcset"/>
            </picture>
          </div>
          <div class="p-card_filter__list-title">2 комнаты</div>
        </div>
        <div class="p-card_filter__list-item flex flex-ai-center">
          <div class="p-card_filter__list-img">
            <picture>
              <source type="image/webp" srcset="/img/rent/filters/area.png"/><img class="lazy " width="18" height="18" src="" data-src="/img/rent/filters/area.png" alt="" loading="lazy" srcset="srcset"/>
            </picture>
          </div>
          <div class="p-card_filter__list-title">50м2</div>
        </div>
        <div class="p-card_filter__list-item flex flex-ai-center">
          <div class="p-card_filter__list-img">
            <picture>
              <source type="image/webp" srcset="/img/rent/filters/element.png"/><img class="lazy " width="18" height="18" src="" data-src="/img/rent/filters/element.png" alt="" loading="lazy" srcset="srcset"/>
            </picture>
          </div>
          <div class="p-card_filter__list-title">Высокий этаж</div>
        </div>
        <div class="p-card_filter__list-item flex flex-ai-center">
          <div class="p-card__second__list-img">
            <picture>
              <source type="image/webp" srcset="/img/rent/filters/bath.png"/><img class="lazy " width="19" height="19" src="" data-src="/img/rent/filters/bath.png" alt="" loading="lazy" srcset="srcset"/>
            </picture>
          </div>
          <div class="p-card_filter__list-title">1 ванна</div>
        </div>
      </div>

      -->
      {% endcomment %}

      <div class="p-card_filter__price flex flex-wrap flex-j-between flex-ai-end">
        <div class="p-card_filter__price-left"><!--100.000 р в месяц--></div>
        <div class="p-card_filter__price-right">{% if listing.price_a_min %}{{ listing.price_a_min }} {{ listing.price_a_currency }} {% trans 'per day' %}<!--в сутки-->{% else %} {% endif %}</div>
      </div>
    </a>
</div>
<!-- end rent -->