{% load i18n %}
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- start rent -->
<div class="p-card p-card_filter relative">
    <div class="p-card_filter__image relative">
        <div class="img_cover img_full">
            {% if item_close %}
                {% include 'includes/offer_card/item_close.html' with target='favorite' %}
            {% endif %}
            <a href="/{{ LANGUAGE_CODE }}/listings/rent/{{ listing.id|unlocalize }}">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    {% include 'includes/offer_card/photo_items.html' %}
                  </div>
                </div>
                <div class="swiper-pagination"></div>
            </a>
        </div>
    </div>
      <div class="p-card_filter__title text-c5 text-500">{% get_attr 'listing' 'title_a_'|add:LANGUAGE_CODE %}</div>
      <div class="p-card_filter__content flex flex-wrap flex-ai-center">
            <div class="p-card_filter__content-item text-c5">{{ listing.address }}</div>
            <div class="p-card_filter__content-item"><!--{{ listing.address }}--></div>
            <div class="p-card_filter__content-subitem"><!--Лот 123456789--></div>
      </div>
      <div class="p-card_filter__price flex flex-wrap flex-j-between flex-ai-end">
            <div class="p-card_filter__price-left"><!--100.000 р в месяц--></div>
            <div class="p-card_filter__price-right">{% if listing.price_a_min %}{{ listing.price_a_min }} {{ listing.price_a_currency }} {% trans 'per day' %}<!--в сутки-->{% else %} {% endif %}</div>
      </div>
</div>
<!-- end rent -->