{% load i18n %}
{% load l10n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}


<div class="why">
    <div class="container margin-center">
      <div class="section__title text-center font-tenor text-c3">{% trans 'Why choose DADI' %}<!--Почему выбирают DADI--></div>
      <div class="why__tabs flex">
        <div class="why__tab cursor-pointer active">
          <div class="why__tab-title relative"><span class="relative">{% trans 'Rent' %}<!--Аренда--></span>
            <div class="why__tab-svg absolute"><svg width="165" height="2" viewBox="0 0 165 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1H165" stroke="url(#paint0_linear_347_250)" stroke-width="2"/>
              <defs>
              <linearGradient id="paint0_linear_347_250" x1="0" y1="1" x2="165" y2="1" gradientUnits="userSpaceOnUse">
              <stop stop-color="#4B97A1" stop-opacity="0"/>
              <stop offset="0.5" stop-color="#156B7F"/>
              <stop offset="1" stop-color="#4B97A1" stop-opacity="0"/>
              </linearGradient>
              </defs>
              </svg>
            </div>
          </div>
          <div class="why__tab-subtitle text-500">{% trans 'Hotel accommodation options in apartments' %}<!--Отельный вариант размещения в апартаментах--></div>
        </div>
        <div class="why__tab cursor-pointer">
          <div class="why__tab-title relative"><span class="relative">{% trans 'Purchase' %}<!--Покупка--></span>
            <div class="why__tab-svg absolute"><svg width="165" height="2" viewBox="0 0 165 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1H165" stroke="url(#paint0_linear_347_250)" stroke-width="2"/>
              <defs>
              <linearGradient id="paint0_linear_347_250" x1="0" y1="1" x2="165" y2="1" gradientUnits="userSpaceOnUse">
              <stop stop-color="#4B97A1" stop-opacity="0"/>
              <stop offset="0.5" stop-color="#156B7F"/>
              <stop offset="1" stop-color="#4B97A1" stop-opacity="0"/>
              </linearGradient>
              </defs>
              </svg>
            </div>
          </div>
          <div class="why__tab-subtitle text-500">{% trans 'Full support of the transaction: sale, purchase, documents' %}<!--Полное сопровождение сделки: продажа, покупка, документы--></div>
        </div>
      </div>
      <div class="why__contents flex">
        <div class="why__content why__content_1 flex active">
          <div class="why__content-left">
            <div class="why__content-tabs flex flex-col">
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Welcome service like in 5* hotel' %}<!--Welcome-сервис, как в отеле 5*--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'experience standards of living in one of the richest cities in the world' %}<!--прочувствуйте уровень жизни одного из самых богатых городов мира--></div>
                </div>
              </div>
              <div class="why__content-tab cursor-pointer active">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Elite residence' %}<!--Элитные апартаменты--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'premium residential complexes and better conditions for short trips and long-term living' %}<!--премиальные ЖК и лучшие условия для жизни в коротких поездках и на долгосрок--></div>
                </div>
              </div>
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Agent support' %}<!--Агентская поддержка--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'personal account for the convenience of booking and payment tracking' %}<!--личный кабинет на сайте для удобства бронирования и отслеживания оплат--></div>
                </div>
              </div>
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Personal assistant in&nbsp;the country' %}<!--Личный ассистент в стране--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'help with transfer, car rental, dry cleaning - takes care of all household issues in the new country 24/7' %}<!--поможет с трансфером, арендой автомобиля, химчисткой — решает все бытовые вопросы в новой стране 24/7--></div>
                </div>
              </div>
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Tourist destination' %}<!--Туристическое направление--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'advise you on proven places to visit and restaurants so you can enjoy your holiday' %}<!--расскажем, куда съездить и где вкусно поесть, чтобы вы могли спокойно насладиться отдыхом--></div>
                </div>
              </div>
            </div><a class="p-btn flex flex-ai-center flex-j-center text-500" href="{% url 'arenda' %}">{% trans 'Rent an apartment in Dubai' %}<!--Снять квартиру в Дубае--></a>
          </div>
          <div class="why__content-right">
            <div class="why__content-image img_cover">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/1/1.webp"/><img class="lazy " width="599" height="606" src="" data-src="/img/main/why/1/1.jpg" alt="" loading="lazy"/>
              </picture>
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/1/2.webp"/><img class="lazy active" width="599" height="606" src="" data-src="/img/main/why/1/2.jpg" alt="" loading="lazy"/>
              </picture>
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/1/3.webp"/><img class="lazy " width="599" height="606" src="" data-src="/img/main/why/1/3.jpg" alt="" loading="lazy"/>
              </picture>
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/1/4.webp"/><img class="lazy " width="599" height="606" src="" data-src="/img/main/why/1/4.jpg" alt="" loading="lazy"/>
              </picture>
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/1/5.webp"/><img class="lazy " width="599" height="606" src="" data-src="/img/main/why/1/5.jpg" alt="" loading="lazy"/>
              </picture>
            </div>
          </div>
        </div>
        <div class="why__content why__content_2 flex">
          <div class="why__content-left">
            <div class="why__content-tabs flex flex-col">
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Deep analysis of the market situation' %}<!--Глубокая аналитика рыночной ситуации--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'promise to find the best solutions depending on your requirements based on cost-effectiveness of investments, infrastructure, environment and profit prospects' %}<!--в зависимости от ваших запросов подберём наилучший вариант по рентабельности, инфраструктуре, окружающей застройке и перспективой прибыли--></div>
                </div>
              </div>
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Assistance in visa and residence permit' %}<!--Помощь в оформлении Визы и ВНЖ--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'accompany through process of receiving all documents from beginning to the end' %}<!--сопроводим в получении всех документов от начала до конца--></div>
                </div>
              </div>
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Guarantee of legal obligations' %}<!--Гарантия юридических обязательств--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'we undertake responsibility for documents work and legal support of the transaction' %}<!--берём на себя всю ответственность по работе с документами и юр. сопровождению сделки--></div>
                </div>
              </div>
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Seeking out Distress Deal acquisitions' %}<!--Поиск сделок Distress Deal--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'we will provide access to the database of real estate with prices bellow their market value and help review to get a good deal.' %}<!--предоставим доступ к базе недвижимости с ценой ниже рыночной и поможем проверить и заключить выгодную сделку--></div>
                </div>
              </div>
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Asset management' %}<!--Доверительное управление--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'manage apartments: maintenance of the renovation of property, putting in rent/sale, as well as maximizing your profit' %}<!--берем квартиры в управление: проконтролируем ремонт, обслуживание и сдачу/продажу, максимизируем вашу прибыль--></div>
                </div>
              </div>
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Choice of furniture' %}<!--Подбор мебели--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'if apartments are unfurnished we will hire a team of professional designers and monitor the processes' %}<!--если квартира не меблирована, наймём команду дизайнеров и проконтролируем процессы--></div>
                </div>
              </div>
            </div><a class="p-btn flex flex-ai-center flex-j-center text-500" href="{% url 'buy' %}">{% trans 'Purchase an apartment in Dubai' %}<!--Купить квартиру в Дубае--></a>
          </div>
          <div class="why__content-right">
            <div class="why__content-image img_cover">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/2/1.webp"/><img class="lazy " width="599" height="606" src="" data-src="/img/main/why/2/1.jpg" alt="" loading="lazy"/>
              </picture>
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/2/2.webp"/><img class="lazy active" width="599" height="606" src="" data-src="/img/main/why/2/2.jpg" alt="" loading="lazy"/>
              </picture>
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/2/3.webp"/><img class="lazy " width="599" height="606" src="" data-src="/img/main/why/2/3.jpg" alt="" loading="lazy"/>
              </picture>
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/2/4.webp"/><img class="lazy " width="599" height="606" src="" data-src="/img/main/why/2/4.jpg" alt="" loading="lazy"/>
              </picture>
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/2/5.webp"/><img class="lazy " width="599" height="606" src="" data-src="/img/main/why/2/5.jpg" alt="" loading="lazy"/>
              </picture>
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/2/6.webp"/><img class="lazy " width="599" height="606" src="" data-src="/img/main/why/2/6.jpg" alt="" loading="lazy"/>
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="why__blocks">
        <div class="why__block active">
          <div class="why__block-item">
            <div class="why__block-top">
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Welcome service like in 5* hotel' %}<!--Welcome-сервис, как в отеле 5*--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'experience standards of living in one of the richest cities in the world' %}<!--прочувствуйте уровень жизни одного из самых богатых городов мира--></div>
                </div>
              </div>
            </div>
            <div class="why__block-bottom img_cover">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/1/1.webp"/><img class="lazy " width="599" height="606" src="" data-src="/img/main/why/1/1.jpg" alt="" loading="lazy"/>
              </picture>
            </div>
          </div>
          <div class="why__block-item active">
            <div class="why__block-top">
              <div class="why__content-tab cursor-pointer active">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Elite residence' %}<!--Элитные апартаменты--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'premium residential complexes and better conditions for short trips and long-term living' %}<!--премиальные ЖК и лучшие условия для жизни в коротких поездках и на долгосрок<-->/div>
                </div>
              </div>
            </div>
            <div class="why__block-bottom img_cover">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/1/2.webp"/><img class="lazy " width="599" height="606" src="" data-src="/img/main/why/1/2.jpg" alt="" loading="lazy"/>
              </picture>
            </div>
          </div>
          <div class="why__block-item">
            <div class="why__block-top">
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Agent support' %}<!--Агентская поддержка--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'personal account for the convenience of booking and payment tracking' %}<!--личный кабинет на сайте для удобства бронирования и отслеживания оплат--></div>
                </div>
              </div>
            </div>
            <div class="why__block-bottom img_cover">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/1/3.webp"/><img class="lazy " width="599" height="606" src="" data-src="/img/main/why/1/3.jpg" alt="" loading="lazy"/>
              </picture>
            </div>
          </div>
          <div class="why__block-item">
            <div class="why__block-top">
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Personal assistant in&nbsp;the country' %}<!--Личный ассистент в стране--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'help with transfer, car rental, dry cleaning - takes care of all household issues in the new country 24/7' %}<!--поможет с трансфером, арендой автомобиля, химчисткой — решает все бытовые вопросы в новой стране 24/7--></div>
                </div>
              </div>
            </div>
            <div class="why__block-bottom img_cover">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/1/4.webp"/><img class="lazy " width="599" height="606" src="" data-src="/img/main/why/1/4.jpg" alt="" loading="lazy"/>
              </picture>
            </div>
          </div>
          <div class="why__block-item">
            <div class="why__block-top">
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Tourist destination' %}<!--Туристическое направление--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'advise you on proven places to visit and restaurants so you can enjoy your holiday' %}<!--расскажем, куда съездить и где вкусно поесть, чтобы вы могли спокойно насладиться отдыхом--></div>
                </div>
              </div>
            </div>
            <div class="why__block-bottom img_cover">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/1/5.webp"/><img class="lazy " width="599" height="606" src="" data-src="/img/main/why/1/5.jpg" alt="" loading="lazy"/>
              </picture>
            </div>
          </div>
          <div class="why__block-item"><a class="p-btn flex flex-ai-center flex-j-center text-500" href="{% url 'arenda' %}">{% trans 'Rent an apartment in Dubai' %}<!--Снять квартиру в Дубае--></a></div>
        </div>
        <div class="why__block">
          <div class="why__block-item">
            <div class="why__block-top">
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Deep analysis of the market situation' %}<!--Глубокая аналитика рыночной ситуации--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'promise to find the best solutions depending on your requirements based on cost-effectiveness of investments, infrastructure, environment and profit prospects' %}<!--в зависимости от ваших запросов подберём наилучший вариант по рентабельности, инфраструктуре, окружающей застройке и перспективой прибыли--></div>
                </div>
              </div>
            </div>
            <div class="why__block-bottom img_cover">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/2/1.webp"/><img class="lazy " width="599" height="606" src="" data-src="/img/main/why/2/1.jpg" alt="" loading="lazy"/>
              </picture>
            </div>
          </div>
          <div class="why__block-item">
            <div class="why__block-top">
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Assistance in visa and residence permit' %}<!--Помощь в оформлении Визы и ВНЖ--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'accompany through process of receiving all documents from beginning to the end' %}<!--сопроводим в получении всех документов от начала до конца--></div>
                </div>
              </div>
            </div>
            <div class="why__block-bottom img_cover">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/2/2.webp"/><img class="lazy " width="599" height="606" src="" data-src="/img/main/why/2/2.jpg" alt="" loading="lazy"/>
              </picture>
            </div>
          </div>
          <div class="why__block-item">
            <div class="why__block-top">
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Guarantee of legal obligations' %}<!--Гарантия юридических обязательств--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'we undertake responsibility for documents work and legal support of the transaction' %}<!--берём на себя всю ответственность по работе с документами и юр. сопровождению сделки--></div>
                </div>
              </div>
            </div>
            <div class="why__block-bottom img_cover">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/2/3.webp"/><img class="lazy " width="599" height="606" src="" data-src="/img/main/why/2/3.jpg" alt="" loading="lazy"/>
              </picture>
            </div>
          </div>
          <div class="why__block-item">
            <div class="why__block-top">
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Seeking out Distress Deal acquisitions' %}<!--Поиск сделок Distress Deal--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'we will provide access to the database of real estate with prices bellow their market value and help review to get a good deal.' %}<!--предоставим доступ к базе недвижимости с ценой ниже рыночной и поможем проверить и заключить выгодную сделку--></div>
                </div>
              </div>
            </div>
            <div class="why__block-bottom img_cover">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/2/4.webp"/><img class="lazy " width="599" height="606" src="" data-src="/img/main/why/2/4.jpg" alt="" loading="lazy"/>
              </picture>
            </div>
          </div>
          <div class="why__block-item">
            <div class="why__block-top">
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Asset management' %}<!--Доверительное управление--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'manage apartments: maintenance of the renovation of property, putting in rent/sale, as well as maximizing your profit' %}<!--берем квартиры в управление: проконтролируем ремонт, обслуживание и сдачу/продажу, максимизируем вашу прибыль--></div>
                </div>
              </div>
            </div>
            <div class="why__block-bottom img_cover">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/2/5.webp"/><img class="lazy " width="599" height="606" src="" data-src="/img/main/why/2/5.jpg" alt="" loading="lazy"/>
              </picture>
            </div>
          </div>
          <div class="why__block-item">
            <div class="why__block-top">
              <div class="why__content-tab cursor-pointer">
                <div class="why__content-top flex flex flex-j-between">
                  <div class="why__content-title">{% trans 'Choice of furniture' %}<!--Подбор мебели--></div>
                  <div class="why__content-arrow">
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow.png" alt="" loading="lazy"/>
                    </picture>
                    <picture>
                      <source type="image/webp" srcset="" data-srcset="/img/main/why/arrow-white.webp"/><img class="lazy " width="24" height="24" src="" data-src="/img/main/why/arrow-white.png" alt="" loading="lazy"/>
                    </picture>
                  </div>
                </div>
                <div class="why__content-text">
                  <div class="why__content-text-inner">{% trans 'if apartments are unfurnished we will hire a team of professional designers and monitor the processes' %}<!--если квартира не меблирована, наймём команду дизайнеров и проконтролируем процессы--></div>
                </div>
              </div>
            </div>
            <div class="why__block-bottom img_cover">
              <picture>
                <source type="image/webp" srcset="" data-srcset="/img/main/why/2/6.webp"/>
                <img class="lazy " width="599" height="606" src="" data-src="/img/main/why/2/6.jpg" alt="" loading="lazy"/>
              </picture>
            </div>
          </div>
          <div class="why__block-item">
            <a class="p-btn flex flex-ai-center flex-j-center text-500" href="{% url 'buy' %}">{% trans 'Purchase an apartment in Dubai' %}<!--Купить квартиру в Дубае--></a>
          </div>
        </div>
      </div>
        <div class="why__desc">
              <p>{% trans 'We love our work and ' %}<span class="why__desc-img bg lazy" data-bg="/img/main/why/desc1.webp"></span>{% trans ' are always working ' %}{% trans 'on quality to provide' %}{% trans 'the best service ' %}<span class="why__desc-img why__desc-img_2 bg lazy" data-bg="/img/main/why/desc2.webp"></span>{% trans ' on the Dubai real estate market' %}</p>
            </div>
        <div class="why__end font-inter">{% trans 'See for yourself by ' %}<!--Вы можете проверить, просто --><a href="tel:{{ our_company.phone }}" class="why__end-link text-c3">{% trans ' calling us' %}<!--позвонив нам--></a>{% trans ' or ' %}<!--или--><span class="why__end-link text-c3 modal__show" data-modal="type-first">{% trans 'simply submitting a request.' %}<!--оставив заявку--></span></div>
    </div>
    </div>
</div>